﻿@{
    ViewBag.Title = "_AccountingConfirmOrderPartial";
}
@using OrderChina.Models
@model OrderChina.Models.OrderInternal


@using (Html.BeginForm("AccountingConfirmOrder", "Account", FormMethod.Post, new { id = "accounttingDetail" }))
{

    <div class="modal-content">
        <div class="modal-header">
            @if (Model.Status == OrderStatus.SaleConfirm.ToString()
                || Model.Status == OrderStatus.Receive.ToString())
            {
                <h4 class="modal-title" id="myModalLabel">Cập nhật thông tin thanh toán</h4>
            }
            else
            {
                <h4 class="modal-title" id="myModalLabel">Cập nhật thông tin nợ</h4>
            }
        </div>
        <div class="modal-body">

            @if (Model.OrderType != OrderType.Complaint.ToString())
            {
                <div class="form-horizontal" style="font-size: 14px">
                    @Html.HiddenFor(m => m.OrderId)
                    @Html.HiddenFor(m => m.OrderInternalId, new { id = "accounttingOrderInternalId" })
                    @Html.HiddenFor(m => m.Status, new { id = "accounttingStatus" })


                    @if (Model.Status == OrderStatus.SaleConfirm.ToString())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.DownPayment, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.DownPayment, new { @class = "form-control", id = "accounttingDownPaymentRate" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Reason, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Reason, new { @class = "form-control", id = "txtAccountPaymentReason" })
                            </div>
                        </div>
                       
                    }
                    else if (Model.Status == OrderStatus.Receive.ToString())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.AccountingCollected, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.AccountingCollected, new { @class = "form-control", id = "accountingAccountingCollected" })
                            </div>
                        </div>
                    }
                    else if (Model.Status != OrderStatus.New.ToString()
                        && Model.Status != OrderStatus.SaleConfirm.ToString()
                         && Model.Status != OrderStatus.Receive.ToString())
                    {
                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                        {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Owe, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Owe, new { @class = "form-control", id = "accountingOwe" })
                            </div>
                        </div>
                        }

                    }
                </div>
            }
            <div class="modal-footer">
                <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        console.log('ready');
        $('#accounttingDetail').submit(function (e) {
            console.log('submit');
            console.log(e);
            e.preventDefault(); // stop the standard form submission
            var downPaymentRate = 0;
            var downPaymentRateItem = document.getElementById('accounttingDownPaymentRate');
            if (downPaymentRateItem != null) {
                downPaymentRate = downPaymentRateItem.value;
            }

            var accounttingOrderInternalId = $('#accounttingOrderInternalId').attr("value");
            var accounttingStatus = $('#accounttingStatus').attr("value");

            var accountingOwe = 0;
            var accountingOweItem = document.getElementById('accountingOwe');
            if (accountingOweItem != null) {
                accountingOwe = accountingOweItem.value;
            }

            var bankName = "";
            var bankNameItem = document.getElementById('BankName');
            if (bankNameItem != null) {
                bankName = bankNameItem.value;
            }

            var reason = "";
            var txtAccountPaymentReason = document.getElementById('txtAccountPaymentReason');
            if (txtAccountPaymentReason != null) {
                reason = txtAccountPaymentReason.value;
            }

            var accountingAccountingCollected = 0;
            var accountingAccountingCollectedItem = document.getElementById('accountingAccountingCollected');
            if (accountingAccountingCollectedItem != null) {
                accountingAccountingCollected = accountingAccountingCollectedItem.value;
            }


            var model = {
                DownPaymentRate: downPaymentRate,
                OrderInternalId: accounttingOrderInternalId,
                Status: accounttingStatus,
                AccountingCollected: accountingAccountingCollected,
                Owe: accountingOwe,
                Content: bankName,
                Reason: reason,
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("AccountingConfirmOrder", "Account")",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        if (data.url != null) {
                            bootbox.alert(data.ErrorText, function () {
                                localStorage.clear();
                                window.setTimeout(function () {
                                    window.location = data.url;
                                }, 10);
                            });
                        }

                    } else {
                        bootbox.alert(data.ErrorText, function () {
                            //window.location.reload();
                        });
                    }
                },
                error: function (xhr, error, status) {
                    bootbox.alert("Lỗi: " + error);
                }
            });
        });
    });
</script>
