﻿@{
    ViewBag.Title = "_AddOrderDetailPartial";
    int a = Convert.ToInt32(Session["OrderInternalId_add"]);
}
<style>
    .fileinput-button input {
        cursor: pointer;
        direction: ltr;
        font-size: 200px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        font-weight: 600;
    }

    .fileinput-button {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
</style>
@model OrderChina.Models.OrderDetail
@if(Model.OrderId != 0)
{
    using (Html.BeginForm("AddEditOrderDetail/" + Model.OrderId, "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">@(ViewBag.IsUpdate ? "Cập nhật lại link hàng" : "Tạo mới link hàng")</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%;font-size: 14px">

            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.OrderDetailId)
            @ViewBag.IsUp

            <div class="col-sm-4">
                @Html.LabelFor(m => m.Link)
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control btn-flat", placeholder = "Nhập link sản phẩm", autofocus = "autofocus", required ="true" })
                @Html.ValidationMessageFor(m => m.Link)
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required>
                <span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="false">Link không được để trống</span>*@
            </div>
            <div class="col-sm-2">
                <label for="Image">Up ảnh</label>
                @Html.Hidden("ListOrderDetail[0].stt", "0", new { id = "ListOrderDetail[0].stt" })
                <span class="btn btn-primary fileinput-button ">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Up ảnh</span>
                    <input type="file" name="Image_0" id="Image_0" accept="image/*" />
                </span>

                <script>
                        $("#Image_0").change(function () {
                            alert("Bạn vừa thêm ảnh " + this.value.replace(/^.*[\\\/]/, '') + " thành công");
                        });
                </script>

            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Image)
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control btn-flat", placeholder = "Link ảnh", autofocus = "autofocus", })
                @Html.ValidationMessageFor(m => m.Image)

            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Shop)
                @Html.TextBoxFor(m => m.Shop, new { @class = "form-control btn-flat", placeholder = "Tên shop" })
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Shop" placeholder='Tên shop'>*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control btn-flat", placeholder = "Mô tả" })
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Description" placeholder='Mô tả'>*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control btn-flat", placeholder = "Số lượng", required = "true" })
                @Html.ValidationMessageFor(m => m.Quantity)
                @*<input type="number" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Quantity" placeholder='Số lượng' />*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Size)
                @Html.TextBoxFor(m => m.Size, new { @class = "form-control btn-flat", placeholder = "Kích thước", required = "true" })
                @Html.ValidationMessageFor(m => m.Size)

            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Color)
                @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Màu sắc", required = "true" })
                @Html.ValidationMessageFor(m => m.Color)
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control btn-flat", placeholder = "Nhập giá", required = "true" })
                @Html.ValidationMessageFor(m => m.Price)
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Price" placeholder='Nhập giá'>*@
            </div>
        </div>
        <div class="modal-footer">
            @if (ViewBag.IsUpdate == true)
            {
            <button type="submit" id="btnUpdate" value="update" name="cmd" class="btn btn-primary btn-update">Cập nhật</button>
            }
            else
            {
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Tạo mới</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
    }
}
else
{
    using (Html.BeginForm("AddEditOrderDetail/" + a, "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">@(ViewBag.IsUpdate ? "Cập nhật lại link hàng" : "Tạo mới link hàng")</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%;font-size: 14px">

            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.OrderDetailId)
            @ViewBag.IsUp
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Link)
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control btn-flat", placeholder = "Nhập link sản phẩm", autofocus = "autofocus", required = "true" })
                @Html.ValidationMessageFor(m => m.Link)
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required="true">
                <span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="false">Link không được để trống</span>*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Shop)
                @Html.TextBoxFor(m => m.Shop, new { @class = "form-control btn-flat", placeholder = "Tên shop" })
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Shop" placeholder='Tên shop'>*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control btn-flat", placeholder = "Mô tả" })
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Description" placeholder='Mô tả'>*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control btn-flat", placeholder = "Số lượng", required = "true" })
                @Html.ValidationMessageFor(m => m.Quantity)
                @*<input type="number" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Quantity" placeholder='Số lượng' />*@
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control btn-flat", placeholder = "Nhập giá", required = "true" })
                @Html.ValidationMessageFor(m => m.Price)
                @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Price" placeholder='Nhập giá'>*@
            </div>
        </div>
        <div class="modal-footer">
            @if (ViewBag.IsUpdate == true)
            {
            <button type="submit" id="btnUpdate" value="update" name="cmd" class="btn btn-primary btn-update">Cập nhật</button>
            }
            else
            {
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Tạo mới</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
    }
}

