﻿@{
    ViewBag.Title = "_AssignSalePartial";
}
@model OrderChina.Models.UpdateSetingClientUserModel

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("AssignSaleForClient", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">"Gán sale quản lý khách hàng"</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                @Html.HiddenFor(m => m.Phone)
                @Html.HiddenFor(m => m.SaleManage.User_Client)

                <div class="col-sm-4">
                    @Html.LabelFor(m => m.DownPaymentRate)
                    @Html.TextBoxFor(m => m.DownPaymentRate, new { @class = "form-control flat" })
                    @Html.ValidationMessageFor(m => m.DownPaymentRate)
                    @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required="true">
                        <span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="false">Link không được để trống</span>*@
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SaleManage.User_Sale)
                    @Html.DropDownListFor(m => m.SaleManage.User_Sale, (IEnumerable<SelectListItem>)ViewBag.listSale, "--Chọn sale--", new { @class = "form-control flat", style = "width: 300px;display: inline;" })
                    @Html.ValidationMessageFor(m => m.SaleManage.User_Sale)
                    @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required="true">
                        <span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="false">Link không được để trống</span>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}