﻿@{
    ViewBag.Title = "_SaleConfirmOrderPartial";
}
@using OrderChina.Models
@model OrderChina.Models.OrderInternal
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("SaleConfirmOrder", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">"Chốt đơn hàng"</h4>
        </div>
        <div class="modal-body">
            @if (Model.OrderType != OrderType.Complaint.ToString())
            {
            <div class="form-horizontal" style="width: 100%; font-size: 14px">
                @Html.HiddenFor(m => m.OrderInternalId)
                <div class="form-group row">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.DownPaymentRate)
                        @Html.TextBoxFor(m => m.DownPaymentRate, new { @class = "form-control btn-flat" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.Fee)
                        @Html.TextBoxFor(m => m.Fee, new { @class = "form-control btn-flat" })
                    </div>
                    <div id="divReason" class="col-sm-4" style="display:none">
                        <label for="Reason">Lý do</label>
                        <textarea wrap="soft" name="Reason" class="form-control btn-flat required" id="Reason" type="text" data-val-required="Lý do bắt buộc nhập." data-val="true" required></textarea>
                        @Html.ValidationMessage("Reason", "Yêu cầu nhập lý do!")
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.OrdererManager)
                        @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>)ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.FeeShip)
                        @Html.TextBoxFor(m => m.FeeShip, new { @class = "form-control btn-flat" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.FeeShipChina)
                        @Html.TextBoxFor(m => m.FeeShipChina, new { @class = "form-control btn-flat" })
                    </div>
                </div>
            </div>
            }
            else
            {
                <div class="form-horizontal" style="width: 100%; font-size: 14px">
                    @Html.HiddenFor(m => m.OrderInternalId)
                    <div class="form-group row">                   
                        <div id="divReason" class="col-sm-4" style="display:none">
                            <label for="Reason">Lý do</label>
                            <textarea wrap="soft" name="Reason" class="form-control btn-flat required" id="Reason" type="text" data-val-required="Lý do bắt buộc nhập." data-val="true" required></textarea>
                            @Html.ValidationMessage("Reason", "Yêu cầu nhập lý do!")
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.LabelFor(m => m.OrdererManager)
                            @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>)ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat" })
                        </div>
                 
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            var valueFee = $('#Fee').val();
            var valueDownpayment = $('#DownPaymentRate').val();
            $('#Fee').change(function (e) {
                if ($('#Fee').val() != valueFee) {
                    $('#divReason').show();
                }else
                {
                    $('#divReason').hide();
                }
            });

            $('#DownPaymentRate').change(function (e) {
                alert(valueDownpayment);
                if ($('#DownPaymentRate').val() != valueDownpayment) {
                    $('#divReason').show();
                } else {
                    $('#divReason').hide();
                }
            });


        }); // document ready
    </script>
}