﻿@{
    ViewBag.Title = "_UpdateOrderDetail";
}

@model OrderChina.Models.OrderInternalDetail

@if (!ViewBag.IsOrderer)
{
    <link href="/Content/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="/Scripts/bootstrap-datepicker.min.js"></script>
}
@using (Html.BeginForm("UpdateOrderDetail", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">@(ViewBag.IsOrderer ? "Cập nhật thông tin đặt hàng" : "Cập nhật thông tin nhận hàng")</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">

                @Html.HiddenFor(m => m.OrderInternalId)
                @Html.HiddenFor(m => m.OrderInternalDetailId)
                @if (ViewBag.IsOrderer)
                {
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Link)
                        @Html.TextBoxFor(m => m.Link, new { @class = "form-control btn-flat", placeholder = "Link", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Size)
                        @Html.TextBoxFor(m => m.Size, new { @class = "form-control btn-flat", placeholder = "Size", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Màu", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Tiền hàng Khách", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Tiền Hàng TT", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Đơn giá", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Tổng giá", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Color)
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control btn-flat", placeholder = "Ghi chú Khách", autofocus = "autofocus" })
                    </div>
                    @*<div class="col-sm-3">
                        @Html.LabelFor(m => m.QuantitySellPlace)
                        @Html.TextBoxFor(m => m.QuantitySellPlace, new { @class = "form-control btn-flat", placeholder = "KL đặt được", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Rate_Real)
                        @Html.TextBoxFor(m => m.Rate_Real, new { @class = "form-control btn-flat", placeholder = "Tỷ giá đặt được" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Note)
                        @Html.TextBoxFor(m => m.Note, new { @class = "form-control btn-flat", placeholder = "Ghi chú" })
                    </div>*@
                }
                else
                {
                    @Html.HiddenFor(m => m.QuantitySellPlace)
                    @Html.HiddenFor(m => m.Rate_Real)
                    @Html.HiddenFor(m => m.Note)
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.QuantityInWarehouse)
                        @Html.TextBoxFor(m => m.QuantityInWarehouse, new { @class = "form-control btn-flat", placeholder = "KL về kho", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.DeliveryDate)
                        @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control btn-flat", placeholder = "Ngày xuất hàng", id = "DeliveryDate" })
                    </div>
                }


            </div>
            <div class="modal-footer">
                <button type="submit" id="btnUpdate" value="update" name="cmd" class="btn btn-primary btn-update">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $('#DeliveryDate').datepicker({
            orientation: "bottom auto",
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });
    });
</script>