﻿@{
    ViewBag.Title = "_UpdateOrder";
}
@using OrderChina.Models
@model OrderChina.Models.OrderInternal


@using (Html.BeginForm("UpdateOrder", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Cập nhật thông tin đặt hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">

                @Html.HiddenFor(m => m.OrderInternalId)
                @if (Model.OrderType != OrderType.Complaint.ToString())
                {
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.FeeShipChina)
                        @Html.TextBoxFor(m => m.FeeShipChina, new { @class = "form-control btn-flat", placeholder = "Phí ship nội địa", autofocus = "autofocus" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.FeeShip)
                        @Html.TextBoxFor(m => m.FeeShip, new { @class = "form-control btn-flat", placeholder = "Cước vận chuyển" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Weight)
                        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control btn-flat", placeholder = "Trọng lượng" })
                    </div>
                }
                else
                {
                    <div class="col-sm-12">
                        Tiền mua thêm hàng(tiền nếu tìm được hàng ngoài khi shop hết hàng):
                    </div>
                    <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.AccountingCollected, new { @class = "form-control btn-flat", placeholder = "Tệ" })
                    </div>
                    <div class="col-sm-12">
                        Chọn tên ngận hàng:
                    </div>
                    <div class="col-sm-7">                     
                       @Html.DropDownList("BankOrder", (IEnumerable<SelectListItem>)ViewBag.BankOrder, new { @class = "form-control flat" })
                    </div>
                    <div class="col-sm-12">
                        Mã giao dịch:
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.TransId, new { @class = "form-control btn-flat", placeholder = "Mã giao dịch" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnUpdate" onclick="update()" value="update" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
            <script>
                function update() {
                    var AccountingCollected = document.getElementById("AccountingCollected").value;
                    var TransId = document.getElementById("TransId").value;
                    if (isNaN(AccountingCollected)) {
                        alert("Số tiền mua thêm phải nhập là số");
                        return false;
                    }
                    if (TransId.lenght <= 0) {
                        alert("Bạn Chưa điền Mã giao dịch");
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
    </div>
}
