﻿@{
    ViewBag.Title = "AccountProcessRequestAmount";
    Layout = null;
}
@using Newtonsoft.Json
@using OrderChina.Models
@model OrderChina.Models.Approval

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("AccountProcessRequestAmount", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Xử lý yêu cầu</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%; font-size: 14px">
                @Html.HiddenFor(a => a.ApprovalId)
                @{
    var itemObject = JsonConvert.DeserializeObject<RequestAmount>(Model.ApprovalValue);
    if (itemObject == null)
    {
        return;
    }
                }
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Số tiền</div>
                    <div class="col-sm-4">@Html.TextBox("Amount", itemObject.Amount, new { @class = "form-control", placeholder = "Số tiền" }) </div>

                    <div class="col-sm-2">Hình thức TT</div>
                    <div class="col-sm-4">@Html.DropDownList("BankName", (IEnumerable<SelectListItem>)ViewBag.ListBankName, "--Chọn Hình thức thanh toán--", new { @class = "form-control flat", style = "display: inline;" })</div>
                </div>
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Tỷ giá</div>
                    <div class="col-sm-4">@Html.TextBox("Rate", 3200, new { @class = "form-control", placeholder = "Tỷ giá" }) </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Gửi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}