﻿@{
    ViewBag.Title = "AccountShipmentDetail";
    Layout = null;
}
@model OrderChina.Models.AccountShipmentModel
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("AccountShipmentDetail", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Thanh toán</h4>
            <br />

            <div class="form-group row" style="width: 100%; font-size: 14px">
                @Html.HiddenFor(m => m.IdShipment);
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Tên lô hàng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Name", Model.Name, new { @class = "form-control", placeholder = "Tên lô hàng", @readonly = "readonly" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều dài
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Length", Model.Length, new { @class = "form-control", placeholder = "M", @readonly = "readonly" })
                        <br />
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều rộng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Width", Model.Width, new { @class = "form-control", placeholder = "M", @readonly = "readonly" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều cao
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Height", Model.Height, new { @class = "form-control", placeholder = "M", @readonly = "readonly" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Trọng lượng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Weight", Model.Weight, new { @class = "form-control", placeholder = "Kg", @readonly = "readonly" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12" style="padding-bottom: 15px;">
                    <div class="col-sm-3">
                        Hình thức vận chuyển
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBox("ShipType", Model.ShipType, new { @class = "form-control", placeholder = "Hình thức vận chuyển", @readonly = "readonly" })
                        <br />
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        Số tiền
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBox("Amount", Model.Amount, new { @class = "form-control", placeholder = "Số tiền (VNĐ)", @readonly = "readonly" })
                        <br />
                    </div>
                </div>

                <div class="col-sm-12" style="padding-bottom: 15px;">
                    <div class="col-sm-3">Hình thức TT</div>
                    <div class="col-sm-8">
                        @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>)ViewBag.ListAccount, "--Chọn Hình thức thanh toán--", new { @class = "form-control flat", style = "display: inline;" })
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        Diễn giải
                    </div>
                    <div class="col-sm-8">
                        @Html.TextArea("Explain", Model.Explain, new { @class = "form-control", placeholder = "Diễn giải", @readonly = "readonly" })
                        <br />
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        Ghi chú
                    </div>
                    <div class="col-sm-8">
                        @Html.TextArea("Note", Model.Note, new { @class = "form-control", placeholder = "Ghi chú" })
                        <br />
                    </div>
                </div>

                <div class="modal-footer" style="padding-top: 15px;">

                    <button type="submit" id="btnAddShipment" class="btn btn-primary">Thanh toán</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}