﻿@{
    ViewBag.Title = "AddPackageOrder";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootbox")



<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Thêm gói hàng vào lô</h4><br />
        <div class="form-group row" style="width: 100%;font-size: 14px">

            <div class="col-sm-12">
                <div class="col-md-4">Nhập mã vận đơn
                    @Html.TextBox("ShippingCode", "",new { @class = "form-control " })
                    <br />
                    <script>
                        function abc() {
                            var search = $("#ShippingCode").val();

                            var data = {
                                ShippingCode: search
                            };

                            $.ajax({
                                data: JSON.stringify(data),
                                type: 'POST',
                                url: '@Url.Action("AddPackageOrders", "Account")',
                                cache: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    if (data.data == "") {
                                        alert("Goi hang nay ko co hoac da duoc chon")
                                    } else {
                                        $("#PackageOrder").html(data.data);
                                    }
                                    
                                }
                            });
                        }
                    </script>
                </div>
                <div class="col-md-3" style="margin-top:18px;">
                    <button name="submit" type="submit" class="btn btn-primary" onclick="abc()">
                        <i class="fa fa-filter"> Tìm</i>
                    </button>
                </div>
                <div class="col-md-5">
                    <label style="color:red;font-size:14px;">@ViewBag.Message</label>
                </div>
            </div>

            <div class="col-sm-12">
                <table class="table table-bordered table-striped" id="listPackageOrder">
                    <tr>
                        <th class="text-center">Mã gói hàng</th>
                        <th class="text-center">Mã vận đơn</th>
                        <th class="text-center">Chiều dài</th>
                        <th class="text-center">Chiều rộng</th>
                        <th class="text-center">Chiều cao</th>
                        <th class="text-center">Thể tích</th>
                        <th class="text-center">Trọng lượng</th>
                    </tr>

                    <tbody id="PackageOrder"></tbody>

                </table>
            </div>



            <div class="modal-footer">
                <button type="submit" id="btnAdd" class="btn btn-primary" onclick="GetID()" >
                    Thêm
                </button>
                <script>
        function GetID() {
            var search = $("#ShippingCode").val();

            var data = {
                ShippingCode: search
            };

            $.ajax({
                data: JSON.stringify(data),
                type: 'POST',
                url: '@Url.Action("ShipmentDetails", "Account")',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    window.location =  data.data;
                }
            });
        }
                </script>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootbox")


}