﻿@using OrderChina.Models
@model OrderChina.Models.ApprovalDetailModel

<style>
    #action a:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        box-shadow: 0px 0px 30px gray;
        -webkit-box-shadow: 0px 0px 30px gray;
        -moz-box-shadow: 0px 0px 30px gray;
        opacity: 1;
    }

    #action a {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        opacity: 1;
    }
</style>
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary() { { "ListApproval", true } })

        <div class="col-md-9 order-content">
            <div class='order-link'>
                <div class='row'>
                    <h3 class='text-center'>CHI TIẾT PHÊ DUYỆT <b>@Model.ApprovalId </b> - @(Model.ApprovalBy != null ? "Đã phê duyệt" : "Chưa phê duyệt")</h3>
                </div>
                <div class='row'>
                    <p class='col-md-3'>
                        Loại phê duyệt: <b>@Model.ApprovalTypeText</b><br />
                    </p>
                    <p class='col-md-3'>
                        Mã lệnh: <b> <a href="@Url.Action("ViewOrderDetail", "Account", new { id = Model.OrderInternalId,target="_blank" })">@Model.OrderInternalId</a></b><br />
                    </p>
                    <p class='col-md-3'>
                        Người yêu cầu: <b>@Model.CreateBy</b><br />
                    </p>
                    <p class='col-md-3'>
                        Ngày yêu cầu: <b>@Model.CreateDate.ToString("dd/MM/yyyy HH:mm") </b><br />
                    </p>
                    <span class="clearfix"></span>
                </div>

                <div class="alert alert-default btn-flat row">
                    <div class="col-md-12">
                        <h4>Nội dung phê duyệt</h4>
                    </div>
                    @if (Model.ApprovalType == ApprovalType.SaleChangeFee.ToString())
                    {
                        <div class="col-md-6">
                            <p>
                                <font>Phí dịch vụ: </font><font style="float: right">@Model.ApprovalSaleChangeFee.Fee_Old<sup>%</sup></font>
                            </p>
                            <p>
                                <font>Phần trăm đặt cọc: </font><font style="float: right">@Model.ApprovalSaleChangeFee.DownPaymentRate_Old<sup>%</sup></font>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p style="@(Model.ApprovalSaleChangeFee.Fee_New != Model.ApprovalSaleChangeFee.Fee_Old ? "color:red" : "" )">
                                <font>Phí dịch vụ (mới): </font><font style="float: right">@Model.ApprovalSaleChangeFee.Fee_New<sup>%</sup></font>
                            </p>
                            <p style="@(Model.ApprovalSaleChangeFee.DownPaymentRate_New != Model.ApprovalSaleChangeFee.DownPaymentRate_Old ? "color:red" : "" )">
                                <font>Phần trăm đặt cọc (mới):</font><font style="float: right">@Model.ApprovalSaleChangeFee.DownPaymentRate_New<sup>%</sup></font>
                            </p>
                            <p style="@(string.IsNullOrEmpty(Model.ApprovalSaleChangeFee.Reason) ? "display:none" : "")">
                                <font>Lý do: </font><font style="float: right">@Model.ApprovalSaleChangeFee.Reason</font>
                            </p>
                        </div>
                        <div class="col-md-6" style="@(string.IsNullOrEmpty(Model.ApprovalSaleChangeFee.OrdererManager) ? "display:none" : "")">
                            <p style="@(!string.IsNullOrEmpty(Model.ApprovalSaleChangeFee.OrdererManager) ? "color:red" : "" )">
                                <font>Chỉ định người đặt hàng: </font><font style="float: right">@Model.ApprovalSaleChangeFee.OrdererManagerName</font>
                            </p>
                        </div>
                    }

                    <span class="clearfix"></span>
                    <p class="col-md-6 pull-right">
                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Manager))
                            {
                                if (string.IsNullOrEmpty(Model.ApprovalBy))
                                {
                                    <a href="javascript:void(0);" onclick="confirm_order(@Model.ApprovalId);" style="margin-right: 5px" rel='tooltip' class="btn btn-primary pull-right btn-sale-confirm" title="Phê duyệt"> Phê duyệt</a>
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")


    <script>
        function confirm_order(approvalId) {
            var data = {
                approvalId: approvalId
            };
            $.ajax({
                url: "@Url.Action("Approval", "Account")",
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        bootbox.alert("Phê duyệt thành công!", function () {
                            window.location.reload();
                        });
                    } else {
                        bootbox.alert(data.msg, function () {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    alert("Lỗi");
                }
            });
        }
    </script>
}