﻿@{
    ViewBag.Title = "BangChung_User";
}
@Html.Partial("_Menu_User_Horizontal")
@using PagedList.Mvc
@model PagedList.IPagedList<OrderInternal>
@using OrderChina.Common
@using OrderChina.Models
<div class="page-body page-background">
    <div class="container" id="_page" style="padding-left: 15px; padding-right: 15px;">
        <div>
            <div id="dashboard">
                <div class="col-md-12">
                    <div class="row">
                        <h2 class="title-page" style="padding-top:40px;">
                            Xin chào
                            <span class="username-title-color">@ViewBag.Name</span>
                        </h2>
                    </div>
                </div>
                <div class="block-table-orders-list" id="_order_list_template">

                    <div class="col-md-12" style="padding:0px;">
                        <div class="table-responsive">
                            <table class="table table-orders-list" style="border-bottom: 0">
                                <tbody>
                                    <tr>
                                        <th class='text-center'>Mã đơn</th>
                                        <th class='text-center'>Mã giao dịch</th>
                                        <th class='text-center'>Tỷ giá</th>
                                        <th class='text-center'>Trạng thái</th>
                                        <th class='text-center'>Tổng tiền</th>
                                        <th class="text-center">Ngày tạo</th>
                                        <th class='text-center'>Xem chi tiết đơn</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td class='text-center'>
                                                @item.OrderInternalId

                                            </td>
                                            <td class='text-center'>
                                                @item.TransId


                                            </td>
                                            <td class='text-center'>
                                                @item.Rate

                                            </td>
                                            <td class='text-center'>

                                                @item.getStatusText()
                                            </td>
                                            <td class='text-center'>
                                                @item.TotalPriceConvert.ToString("##,###")

                                            </td>
                                            <td class='text-center'>
                                                @item.UpdateDate
                                            </td>
                                            <td class='text-center'>
                                                <a rel='tooltip' title="Xem chi tiết"
                                                   href=@Url.Action("ViewOrderDetailNew", "Account", new {id = item.OrderInternalId }) class="btn btn-xs btn-primary">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="panel-order" id="_order_list">-->
                        <div id="_order_list"><h5 class="text-center">@ViewBag.NoOrder</h5></div>
                    </div>
                </div>

                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("BangChung_User", new { page, countOrder = ViewBag.CountOrder, name = ViewBag.Name }))


            </div>

        </div>
    </div>
</div>
@Html.Partial("_FooterPartial")