﻿@{
    ViewBag.Title = "ChangeUserofSale";
    Layout = null;
}
@model OrderChina.Models.UserProfile
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@using (Html.BeginForm("ChangeUserofSale", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Chỉnh sửa thông tin khách hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                <div class="col-md-12 col-sm-12 profile-page">
                    <div class="row page-row">
                                @Html.AntiForgeryToken()
                                <table style="width:100%;text-align:right">
                                    <tr style="height:60px">
                                        <td style="width:30%"><label class="lab">Họ tên:</label></td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control btn-flat" })
                                            <br />  @Html.ValidationMessageFor(m => m.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Điện thoại:</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control btn-flat", @readonly = "readonly" })
                                            <br />  @Html.ValidationMessageFor(m => m.Phone)
                                            <span id="sdt_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Email:</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control btn-flat" })
                                            <br /> @Html.ValidationMessageFor(m => m.Email)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Giới tính:</label></td>
                                        <td align="left" class="Gende">
                                            @Html.RadioButton("Gender", "Nam")<b>Nam</b>
                                            @Html.RadioButton("Gender", "Nữ")<b>Nữ</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Địa chỉ:</label></td>
                                        <td>
                                            @Html.TextBox("Address", null, new { @class = "form-control btn-flat" })
                                            <span id="add_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td><label class="lab">Nội dung thay đổi:</label></td>
                                        <td>
                                            <br />
                                            @Html.TextArea("Type", null, new { @class = "form-control btn-flat" })
                                            <span id="add_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>*@
                                </table>
                                <br />                    
                        <script>
                            function Submid() {
                                var name = $.trim($('#Name').val());
                                var phone = $.trim($('#Phone').val());
                                var flag = true;
                                if (name = "" || name.length < 0) {
                                    $('#username_error').text('Bạn chưa nhập tên');
                                    flag = false;
                                } else {
                                    $('#username_error').text('');
                                }
                                if (isNaN(phone)) {
                                    $('#sdt_error').text('Số điện thoại phải nhập bằng số');
                                    flag = false;
                                } else if (phone.length < 9 || phone.length > 12) {
                                    $('#sdt_error').text('Số điện thoại từ 9 đến 12 số');
                                    flag = false;
                                } else {
                                    $('#sdt_error').text('');
                                }
                                return flag;
                            }
                        </script>
                    </div>
                </div>              
                <div class="modal-footer">
                    <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}