﻿@{
    ViewBag.Title = "ChangeFeeHill";
}
@model OrderChina.Models.WatchListModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "FeeHill", true } })
        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>Cập nhật phí lô hàng - Đồi</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Frei" data-toggle="tab">Theo Kg</a></li>
                <li><a href="#Clots" data-toggle="tab">Theo khối(m³)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="Frei">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <a href="@Url.Action("CreateChangeFreightsHill", "Account")" rel='tooltip' title="Thêm phí" class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí</a>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        <th class='text-center'>Khối lượng</th>
                                        <th class='text-center'>Giá tiền(VND/kg)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lí</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in Model.FeeshipmentWeight)
            {
                if (b.From == 0)
                {
                                            <tr style="height:35px" class='text-center'>
                                                <td style="border: solid 1px #a0dcff">@("Dưới " + b.To + " Kg")</td>
                                                <td style="border: solid 1px #a0dcff">@(b.Value + "VND/kg")</td>
                                                <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                <td class='text-center'>
                                                    <a href="@Url.Action("EditChangeFreightsHill", "Account", new { id = b.FeeshipmentId })" rel='tooltip' title="Cập nhật phí" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (b.To == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + b.From + " Kg trở lên")</td>
                                                    <td style="border: solid 1px #a0dcff">@(b.Value + "VND/kg")</td>
                                                    <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeFreightsHill", "Account", new { id = b.FeeshipmentId })" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + b.From + " đến " + b.To + " Kg")</td>
                                                    <td style="border: solid 1px #a0dcff">@(b.Value + "VND/kg")</td>
                                                    <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeFreightsHill", "Account", new { id = b.FeeshipmentId })" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="Clots">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <a href="@Url.Action("CreateChangeClotsHill", "Account")" rel='tooltip' title="Cập nhật phí lô hàng" class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí</a>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        <th class='text-center'>Kích thước</th>
                                        <th class='text-center'>Giá tiền(VND/m³)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lí</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var c in Model.FeeshipmentSize)
            {
                if (c.From == 0)
                {
                                            <tr style="height:35px" class='text-center'>
                                                <td style="border: solid 1px #a0dcff">@("Dưới " + c.To + " m³")</td>
                                                <td style="border: solid 1px #a0dcff">@(c.Value + "VND/m³")</td>
                                                <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                <td class='text-center'>
                                                    <a href="@Url.Action("EditChangeClotsHill", "Account", new { id = c.FeeshipmentId })" rel='tooltip' title="Cập nhật phí lô hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (c.To == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + c.From + " m³ trở lên")</td>
                                                    <td style="border: solid 1px #a0dcff">@(c.Value + "VND/m³")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeClotsHill", "Account", new { id = c.FeeshipmentId })" rel='tooltip' title="Cập nhật phí lô hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + c.From + " đến " + c.To + " m³")</td>
                                                    <td style="border: solid 1px #a0dcff">@(c.Value + "VND/m³")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeClotsHill", "Account", new { id = c.FeeshipmentId })" rel='tooltip' title="Cập nhật phí lô hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
        $(document).ready(function () {
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-create').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        });
    </script>
}
