﻿@{
    ViewBag.Title = "ChangeOrderInternalID";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@model OrderChina.Models.OrderInternal
@using (Html.BeginForm("ChangeOrderInternalID", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">"Nhập mã vận đơn"</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">

                @Html.HiddenFor(m => m.Phone)

                <div class="col-sm-4">
                    Mã vận đơn:
                    @Html.TextBox("OrderPainId",null, new {@class = "form-control" })
                    @*<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required="true">
                        <span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="false">Link không được để trống</span>*@           
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}