﻿@{
    ViewBag.Title = "ChangePassOfAdmin";
    Layout = null;
}
@model OrderChina.Models.UserProfile
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Sửa mật khẩu</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%;font-size: 14px">
            <div class="col-md-12 order-content">
                <div class='row'>                              
                    <table style="width:100%;text-align:right;padding-right:3%">
                        <tr style="height:60px">
                            @Html.TextBox("Phone", null, new { @class = "form-control btn-flat" , style ="display:none"})
                            <td style="width:28%"><label class="lab">Mật khẩu quản lý:</label></td>
                            <td style="padding-right: 2%;text-align:left">
                                @Html.TextBox("PasswordOld", null, new { @class = "form-control btn-flat", placeholder = "Mật khẩu quản lý", type = "password" })
                                <span id="pass_error" style="color:#ff0000"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab">Mật khẩu mới:</label></td>
                            <td style="padding-right: 2%; text-align: left">
                                @Html.TextBox("NewPassword", null, new { @class = "form-control btn-flat", placeholder = "Mật khẩu mới", type = "password" })
                                <span id="newpass_error" style="color:#ff0000"></span>
                            </td>
                        </tr>
                        <tr style="height:60px">
                            <td><label class="lab">Xác nhận:</label></td>
                            <td style="padding-right:2%;text-align:left">
                                @Html.TextBox("RepPassword", null, new { @class = "form-control btn-flat", placeholder = "Nhập lại mật khẩu", type = "password" })
                                <span id="repass_error" style="color:#ff0000"></span>
                            </td>
                        <tr style="height:60px">
                            <td><span id="pass_error" style="color:#ff0000"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Save" onclick="capnhat()" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
            <script>
                function capnhat() {
                    var id = $.trim($('#Phone').val());
                    var pass = $.trim($('#PasswordOld').val());
                    var newspass = $.trim($('#NewPassword').val());
                    var reppass = $.trim($('#RepPassword').val());
                    var url = '@Url.Action("ChangePassOfAdminone", "Account")';
                    if (newspass.length < 6) {
                        $('#pass_error').text('Mật khẩu  phải hơn 6 kí tự');
                        return false;
                    } else {
                        $('#pass_error').text('');
                    }
                    if (newspass.length < 6) {
                        $('#newpass_error').text('Mật khẩu mới phải hơn 6 kí tự');
                        return false;
                    } else {
                        $('#newpass_error').text('');
                    }
                    if (newspass != reppass || reppass.length < 6) {
                        $('#repass_error').text('Bạn chưa nhập lại mật khẩu mới hoặc mật khẩu nhập lại không giống với mật khẩu trên');
                        return false;
                    } else {
                        $('#repass_error').text('');
                    }
                    var data = {
                        id:id,
                        pass: pass,
                        newspass: newspass,
                    }
                    $.ajax({
                        data: JSON.stringify(data),
                        type: 'POST',
                        url: url,
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success == false) {
                                alert(data.htlm)
                            } else {
                                alert(data.htlm)
                                window.location.reload();
                            }
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>
