﻿@{
    ViewBag.Title = "Quản lí phí dịch vụ người dùng";
}
@model OrderChina.Models.WatchListModel
@using OrderChina.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Fee", true } })
        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>Cập nhật tỷ giá</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#fee" data-toggle="tab">Bảng phí dịch vụ Order</a></li>
                <li><a href="#Frei" data-toggle="tab">Bảng hàng hóa theo Kg</a></li>
                <li><a href="#Clots" data-toggle="tab">Bảng hàng hóa theo khối(m³)</a></li>
                @*<li><a href="#CNYs" data-toggle="tab">Bảng phí dịch vụ nạp tệ</a></li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="fee">
                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-11" style="margin-left:15px">
                            <a href="@Url.Action("CreateChangeFee", "Account", new { id = ViewBag.IDClient })" rel='tooltip'
                               title="Thêm phí dịch vụ" class='btn btn-info btn-primary btn-create'>
                                <i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí dịch vụ
                            </a>
                        </div>
                        <br />
                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        <th class='text-center'>Tỉ giá từ ---> Đến</th>
                                        <th class='text-center'>Phần trăm đơn hàng(%)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in Model.ListFeeClient)
                                    {
                                        if (a.From == 0)
                                        {
                                            <tr style="height:35px" class='text-center'>
                                                <td style="border: solid 1px #a0dcff">@("Dưới " + a.To + " triệu")</td>
                                                <td style="border: solid 1px #a0dcff">@(a.Value + "%")</td>
                                                <td style="border: solid 1px #a0dcff">@a.LastUpdate</td>
                                                <td class='text-center'>
                                                    <a href="@Url.Action("EditChangeFee", "Account", new { id = a.Id, client = ViewBag.IDClient })"
                                                       rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-edit'>
                                                        <i class="glyphicon glyphicon-erase"></i>
                                                    </a>
                                                    <a href="#" onclick="deletefree(@a.Id, 1)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (a.To == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + a.From + " trở lên")</td>
                                                    <td style="border: solid 1px #a0dcff">@(a.Value + "%")</td>
                                                    <td style="border: solid 1px #a0dcff">@a.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeFee", "Account", new { id = a.Id, client = ViewBag.IDClient })"
                                                           rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        <a href="#" onclick="deletefree(@a.Id, 1)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@("Từ " + a.From + " đến " + a.To + " triệu")</td>
                                                    <td style="border: solid 1px #a0dcff">@(a.Value + "%")</td>
                                                    <td style="border: solid 1px #a0dcff">@a.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeFee", "Account", new { id = a.Id, client = ViewBag.IDClient })"
                                                           rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        <a href="#" onclick="deletefree(@a.Id, 1)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="tab-pane" id="Frei">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <a href="@Url.Action("CreateChangeFreights", "Account", new { id = ViewBag.IDClient })" rel='tooltip'
                           title="Thêm hàng" class='btn btn-info btn-primary btn-create'>
                            <i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí dịch vụ với hàng theo Kg
                        </a>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive" style="width: 100%">
                            <h2>Hàng hóa thông thường</h2>
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        @*<th class='text-center'>Loại hàng hóa</th>*@
                                        @*<th class='text-center'>Khối lượng</th>*@
                                        <th class='text-center'>Giá tiền(VND/kg)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in Model.ListFreightClient)
                                    {
                                        if (b.Name == NameType.Common.ToString())
                                        {
                                            <tr class='text-center'>
                                                @*<td style="border: solid 1px #a0dcff">@("Dưới " + b.To + " Kg")</td>*@
                                                <td style="border: solid 1px #a0dcff">@(b.Value.ToString("###,##") + "VND/kg")</td>
                                                <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                <td class='text-center'>
                                                    <a href="@Url.Action("EditChangeFreights", "Account", new { id = b.FreightId, client = ViewBag.IDClient  })"
                                                       rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <h2>Hàng hóa theo lô</h2>
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        @*<th class='text-center'>Loại hàng hóa</th>*@
                                        <th class='text-center'>Khối lượng</th>
                                        <th class='text-center'>Giá tiền(VND/kg)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in Model.ListFreightClient)
                                    {
                                        if (b.Name == NameType.Batch.ToString())
                                        {
                                            if (b.From == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    @*<td style="border: solid 1px #a0dcff">@b.Name</td>*@
                                                    <td style="border: solid 1px #a0dcff">@("Dưới " + b.To + " Kg")</td>
                                                    <td style="border: solid 1px #a0dcff">@(b.Value.ToString("###,##") + "VND/kg")</td>
                                                    <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeFreights", "Account", new { id = b.FreightId, client = ViewBag.IDClient  })"
                                                           rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        <a href="#" onclick="deletefree(@b.FreightId, 2)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                if (b.To == 0)
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        @*<td style="border: solid 1px #a0dcff">@b.Name</td>*@
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + b.From + " Kg trở lên")</td>
                                                        <td style="border: solid 1px #a0dcff">@(b.Value.ToString("###,##") + "VND/kg")</td>
                                                        <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeFreights", "Account", new { id = b.FreightId, client = ViewBag.IDClient  })"
                                                               rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                            <a href="#" onclick="deletefree(@b.FreightId, 2)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>

                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        @*<td style="border: solid 1px #a0dcff">@b.Name</td>*@
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + b.From + " đến " + b.To + " Kg")</td>
                                                        <td style="border: solid 1px #a0dcff">@(b.Value.ToString("###,##") + "VND/kg")</td>
                                                        <td style="border: solid 1px #a0dcff">@b.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeFreights", "Account", new { id = b.FreightId, client = ViewBag.IDClient  })"
                                                               rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                            <a href="#" onclick="deletefree(@b.FreightId, 2)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="Clots">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        @{ 
                            var lisclot = from d in Model.ListClotClient select d;
                            if (lisclot.Count() == 0)
                            {
                        <a href="@Url.Action("CreateChangeClots", "Account", new { id = ViewBag.IDClient })" rel='tooltip' title="Thêm hàng"
                            class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí dịch vụ với hàng theo khối</a>
                                }
                            }
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">
                                        <th class='text-center'>Loại hàng hóa</th>

                                        <th class='text-center'>Giá tiền(VND/m³)</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var c in Model.ListClotClient)
                                    {
                                        if (c.From == 0)
                                        {
                                            <tr style="height:35px" class='text-center'>
                                                <td style="border: solid 1px #a0dcff">Hàng hóa theo khối</td>
                                                @*<td style="border: solid 1px #a0dcff">@("Dưới " + c.To + " m³")</td>*@
                                                <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND/m³")</td>
                                                <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                <td class='text-center'>
                                                    <a href="@Url.Action("EditChangeClots", "Account", new { id = c.ClotId , client = ViewBag.IDClient })"
                                                       rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                    @*<a href="#" onclick="deletefree(@c.ClotId, 3)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>*@

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (c.To == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">Hàng hóa theo khối</td>
                                                    @*<td style="border: solid 1px #a0dcff">@("Từ " + c.From + " m³ trở lên")</td>*@
                                                    <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND/m³")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeClots", "Account",
                                                                new { id = c.ClotId , client = ViewBag.IDClient })" rel='tooltip'
                                                           title="Cập nhật TT đặt hàng"
                                                           class='btn btn-info btn-xs btn-edit'>
                                                            <i class="glyphicon glyphicon-erase"></i>
                                                        </a>
                                                        @*<a href="#" onclick="deletefree(@c.ClotId, 3)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>*@

                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">Hàng hóa theo khối</td>
                                                    @*<td style="border: solid 1px #a0dcff">@("Từ " + c.From + " đến " + c.To + " m³")</td>*@
                                                    <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND/m³")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeClots", "Account", new { id = c.ClotId , client = ViewBag.IDClient })"
                                                           rel='tooltip' title="Cập nhật TT  hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        @*<a href="#" onclick="deletefree(@c.ClotId, 3)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>*@

                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="tab-pane" id="CNYs">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <a href="@Url.Action("CreateChangeCNYS", "Account")" rel='tooltip' title="Thêm hàng"
                           class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm phí dịch vụ nạp tệ</a>
                    </div>
                    <br />
                    <div class="row">
                        <div class="table-responsive" style="width: 100%">
                            <h3>Tài khoản ALIPAY</h3>
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">

                                        <th class='text-center'>Số tiền nạp</th>
                                        <th class='text-center'>Phí nạp</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                    @foreach (var c in Model.ListCNY)
                                    {
                                        if (c.NameType == NameType.Alipay.ToString())
                                        {
                                            if (c.From == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                    <td style="border: solid 1px #a0dcff">@("Dưới " + c.To.ToString("###,##") + " tệ")</td>
                                                    <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeCNYS", "Account", new { id = c.CNYId })"
                                                           rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                if (c.To == 0)
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + c.From.ToString("###,##") + " tệ")</td>
                                                        <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                        <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeCNYS", "Account",
                                                        new { id = c.CNYId })" rel='tooltip'
                                                               title="Cập nhật TT đặt hàng"
                                                               class='btn btn-info btn-xs btn-edit'>
                                                                <i class="glyphicon glyphicon-erase"></i>
                                                            </a>
                                                            <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>

                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + c.From.ToString("###,##") + " đến " + c.To.ToString("###,##") + " tệ")</td>
                                                        <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                        <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeCNYS", "Account", new { id = c.CNYId })"
                                                               rel='tooltip' title="Cập nhật TT  hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                            <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <h3>Tài khoản ngân hàng </h3>
                            <table class="table table-bordered table-striped" style="font-size: 12px">
                                <thead>
                                    <tr style="background-color:#337ab7;color:white">

                                        <th class='text-center'>Số tiền nạp</th>
                                        <th class='text-center'>Phí nạp</th>
                                        <th class='text-center'>Thời gian cập nhật</th>
                                        <th class='text-center'>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                    @foreach (var c in Model.ListCNY)
                                    {
                                        if (c.NameType == NameType.Bank.ToString())
                                        {
                                            if (c.From == 0)
                                            {
                                                <tr style="height:35px" class='text-center'>
                                                    <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                    <td style="border: solid 1px #a0dcff">@("Dưới " + c.To.ToString("###,##") + " tệ")</td>
                                                    <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                    <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                    <td class='text-center'>
                                                        <a href="@Url.Action("EditChangeCNYS", "Account", new { id = c.CNYId })"
                                                           rel='tooltip' title="Cập nhật TT hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                        <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                if (c.To == 0)
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + c.From.ToString("###,##") + " tệ")</td>
                                                        <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                        <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeCNYS", "Account",
                                                        new { id = c.CNYId })" rel='tooltip'
                                                               title="Cập nhật TT đặt hàng"
                                                               class='btn btn-info btn-xs btn-edit'>
                                                                <i class="glyphicon glyphicon-erase"></i>
                                                            </a>
                                                            <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>

                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr style="height:35px" class='text-center'>
                                                        <td style="border: solid 1px #a0dcff">@c.NameType</td>
                                                        <td style="border: solid 1px #a0dcff">@("Từ " + c.From.ToString("###,##") + " đến " + c.To.ToString("###,##") + " tệ")</td>
                                                        <td style="border: solid 1px #a0dcff">@(c.Value.ToString("###,##") + "VND")</td>
                                                        <td style="border: solid 1px #a0dcff">@c.LastUpdate</td>
                                                        <td class='text-center'>
                                                            <a href="@Url.Action("EditChangeCNYS", "Account", new { id = c.CNYId })"
                                                               rel='tooltip' title="Cập nhật TT  hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>
                                                            <a href="#" onclick="deletefree(@c.CNYId, 4)" rel='tooltip' title="Cập nhật phí dịch vụ" class='btn btn-info btn-xs btn-delete'><i class="glyphicon glyphicon-trash"></i></a>

                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<div class="modal fade"
     id="myModalChangeFeeClient"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
        $(document).ready(function () {
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModalChangeFeeClient');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-create').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModalChangeFeeClient');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        });
        function deletefree(id, type) {
            if (type == 1) {
                $.ajax({
                    url: "@Url.Action("DeleteFeeClient", "Account")",
                    type: 'POST',
                    data: '{ \"id\" : \"' + id + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert("Xóa thành công");
                            window.location.reload();
                        }
                    }
                });
            } else if (type == 2) {
                $.ajax({
                    url: "@Url.Action("DeleteFreClient", "Account")",
                    type: 'POST',
                    data: '{ \"id\" : \"' + id + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert("Xóa thành công");
                            window.location.reload();
                        }
                    }
                });
            } else if (type == 3) {
                $.ajax({
                    url: "@Url.Action("DeleteClot", "Account")",
                    type: 'POST',
                    data: '{ \"id\" : \"' + id + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert("Xóa thành công");
                            window.location.reload();
                        }
                    }
                });
            } else if (type == 4) {
                $.ajax({
                    url: "@Url.Action("DeleteCNY", "Account")",
                    type: 'POST',
                    data: '{ \"id\" : \"' + id + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert("Xóa thành công");
                            window.location.reload();
                        }
                    }
                });
            }
        }
    </script>
}
