﻿@{
    ViewBag.Title = "CreateOrderFromExtensions";
}
@model  OrderChina.Models.NewOrderModel
<div class="container">
    <h3 style="margin-top:20px" class="text-center"><a href="#">Tạo đơn hàng từ nút ghim</a></h3>
    <div class="alert alert-warning alert-deafault btn-flat">
        <p class="notification">

            <em><u><strong>Chú ý:</strong></u></em><br />
            Mỗi dòng dữ liệu tương ứng với 1 link sản phẩm, quý khách điền thông tin chi tết để thuận lợi trong quá trình giao dịch.<br />
            Hàng được ký nhận tại kho Trung Quốc và trả hàng tại kho Việt Nam của Đặt hàng giá rẻ.<br />
            Trước khi tạo đơn hàng, quý khách đọc kỹ quy định và bảng giá của Đặt hàng giá rẻ:<br />
            - <em>Hướng dẫn:</em> <a href="#">https://dathanggiare.top/tin-tuc/dich-vu-dat-hang.html</a><br />
            - <em>Quy định:</em> <a href="#">https://dathanggiare.top/tin-tuc/quy-dinh/quy-dinh-voi-khach-hang-order.html</a><br />
            - <em>Bảng giá:</em> <a href="https://dathanggiare.top/Home/Banggia">https://dathanggiare.top/Home/Banggia</a><br />
            Quý khách chốt đơn hàng có nghĩa là quý khách đã <u><em><strong>đồng ý và thực hiện</strong></em></u> theo quy định của <strong>dathanggiare.top!!!</strong>

        </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm("CreateOrderFromExtensions", "Account", FormMethod.Post, new { id = "upload", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(m => m.ListOrderDetail)

            <div id="laysanphamResult">

            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootbox")

    <script>
        jQuery(document).ready(function () {
            $('#upload').submit(function (e) {
                e.preventDefault(); // stop the standard form submission
                var m = $('#listOrders li:last-child .form-group .col-sm-3 input:first').attr("name");
                var index = 0;
                if (m != null && m.length > 0) {
                    index = m.split('ListOrderDetail[')[1].replace('].Link', '');
                }
                var listOrder = new Array();
                for (var i = 0; i <= index; i++) {

                    var link = document.getElementsByName("ListOrderDetail[" + i + "].Link")[0].value;

                    var des = document.getElementsByName("ListOrderDetail[" + i + "].Description")[0].value;
                    var qty = document.getElementsByName("ListOrderDetail[" + i + "].Quantity")[0].value;
                    var price = document.getElementsByName("ListOrderDetail[" + i + "].Price")[0].value;
                    var phone;
                    if (document.getElementsByName("ListOrderDetail[" + i + "].Phone")[0]) {
                        phone = document.getElementsByName("ListOrderDetail[" + i + "].Phone")[0].value;
                    }

                    var detail = {
                        Link: link,
                        Description: des,
                        Quantity: qty,
                        Price: price,
                        Phone: phone
                    };
                    listOrder.push(detail);
                }
                var model = {
                    ListOrderDetail: listOrder
                };
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CreateOrderFromExtensions", "Account")",
                    data: JSON.stringify(model),
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            if (data.url != null) {
                                bootbox.alert("Tạo đơn hàng thành công!", function () {
                                    window.postMessage({ type: "DELETE", text: "Delete everything" }, "*");
                                    localStorage.clear();
                                    window.setTimeout(function () {
                                        window.location = data.url;
                                    }, 2000);
                                });
                            } else {
                                bootbox.alert("Tạo đơn hàng thành công, bạn hãy liên hệ với Sale để được đặt hàng sớm nhất!", function () {
                                    window.postMessage({ type: "DELETE", text: "Delete everything" }, "*");
                                    localStorage.clear();
                                    window.setTimeout(function () {
                                        location.reload();
                                    }, 2000);
                                });
                            }

                        } else {
                            bootbox.alert(data.message, function () {
                                //window.location.reload();
                            });
                        }
                    },
                    error: function (xhr, error, status) {
                        bootbox.alert("Lỗi: " + error);
                    }
                });
            });

            var myInterval = window.setInterval(function () {
                window.postMessage({ type: "FROM_PAGE", text: "Get data" }, "*");
                window.setTimeout(function () {
                    var _url = "@Url.Action("GetDataDisplay","Account")";
                    var f = { value: localStorage.order_extension };
                    $.ajax({
                        type: 'POST',
                        url: _url,
                        data: JSON.stringify(f),
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.data.trim() != "") {
                                $("#laysanphamResult").html(data.data);
                                window.clearInterval(myInterval);
                            }
                        }
                    });
                }, 1000);
            }, 2000);
        });
        function refreshDulieughim() {

            window.postMessage({ type: "FROM_PAGE", text: "Get data" }, "*");
            window.setTimeout(function () {
                var _url = "@Url.Action("GetDataDisplay","Account")";
                var f = { value: localStorage.order_extension };
                $.ajax({
                    type: 'POST',
                    url: _url,
                    data: JSON.stringify(f),
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        $("#laysanphamResult").html(data.data);
                    }
                });
            }, 2000);

        }
        function deleteDulieughim() {
            if (confirm("Bạn chắc chắn muốn thực thi thao tác này ???")) {
                window.postMessage({ type: "DELETE", text: "Delete everything" }, "*");
                localStorage.clear();
                window.setTimeout(function () {
                    location.reload();
                }, 2000);


            }
        }
        function clearitemDulieughim(vitri) {
            window.postMessage({ type: "DELETE_ITEM", text: vitri }, "*");
            window.setTimeout(function () {
                var _url = "@Url.Action("GetDataDisplay","Account")";
                var f = { value: localStorage.order_extension };
                $.ajax({
                    type: 'POST',
                    url: _url,
                    data: JSON.stringify(f),
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        $("#laysanphamResult").html(data.data);
                    }
                });
            }, 2000);
        }
    </script>
}
