﻿@{
    ViewBag.Title = "CreateOrderAccount";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootbox")
<script src="~/Scripts/functionUtils.js"></script>
@using (Html.BeginForm("CreateOrderAccount", "Account", FormMethod.Post, new { id = "createOrderAccount" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo đơn nhập hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%; font-size: 14px">
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Mặt hàng</div>
                    <div class="col-sm-4">@Html.TextBox("SymbolName", null, new { @class = "form-control", placeholder = "Mặt hàng", id = "txtSymbolName" }) </div>
                    <div class="col-sm-2">Số Lượng</div>
                    <div class="col-sm-4">@Html.TextBox("Quantity", null, new { @class = "form-control", placeholder = "Số Lượng", id = "txtQuantity" })</div>
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Giá</div>
                    <div class="col-sm-4">@Html.TextBox("Price", null, new { @class = "form-control", placeholder = "Giá", id = "txtPrice" }) </div>
                    <div class="col-sm-2">Phí</div>
                    <div class="col-sm-4">@Html.TextBox("Fee", null, new { @class = "form-control", placeholder = "Phí", id = "txtFee" })</div>
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Tổng tiền</div>
                    <div class="col-sm-4">@Html.TextBox("TotalValue", "0", new { @class = "form-control", placeholder = "Tổng tiền", @readonly = "readonly", id = "txtTotalValue" }) </div>
                    <div class="col-sm-2">Số tiền đã TT</div>
                    <div class="col-sm-4">@Html.TextBox("ValueSystem", "0", new { @class = "form-control", placeholder = "Số tiền đã TT", id = "txtValueSystem" })</div>
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Ngân hàng</div>
                    <div class="col-sm-4">@Html.DropDownList("ExtandField", (IEnumerable<SelectListItem>)ViewBag.ListBankName, "--Chọn Ngân hàng--", new { @class = "form-control flat", style = "display: inline;", id = "txtBankName" })</div>
                    <div class="col-sm-2">Ghi chú</div>
                    <div class="col-sm-4">@Html.TextArea("Note", null, new { @class = "form-control", placeholder = "Ghi chú", id = "txtNote" })</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Gửi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        console.log('ready');

        function changeValue() {
            var priceItem = document.getElementById('txtPrice');
            var quantityeItem = document.getElementById('txtQuantity');
            var feeItem = document.getElementById('txtFee');
            if (priceItem == null
                || quantityeItem == null
                || feeItem == null) {
                console.warn("Thay doi id cua control");
                return;
            }

            var price = convertFormatToNumber(priceItem.value);
            var quantity = convertFormatToNumber(quantityeItem.value);
            var fee = convertFormatToNumber(feeItem.value);

            priceItem.value = formatNumber(price);
            quantityeItem.value = formatNumber(quantity);
            feeItem.value = formatNumber(fee);

            var totalValue = price * quantity + fee;
            var totalItem = document.getElementById('txtTotalValue');
            if (totalItem != null) {
                totalItem.value = formatNumber(totalValue);
            }
        }

        $("#txtPrice").change(function () {
            changeValue();
        });
        $("#txtQuantity").change(function () {
            changeValue();
        });
        $("#txtFee").change(function () {
            changeValue();
        });

        $("#txtPrice").keyup(function () {
            changeValue();
        });

        $("#txtQuantity").keyup(function () {
            changeValue();
        });
        $("#txtFee").keyup(function () {
            changeValue();
        });

        $('#createOrderAccount').submit(function (e) {
            console.log('submit');
            e.preventDefault(); // stop the standard form submission

            var txtSymbolName = document.getElementById('txtSymbolName');
            var priceItem = document.getElementById('txtPrice');
            var quantityeItem = document.getElementById('txtQuantity');
            var feeItem = document.getElementById('txtFee');
            var txtTotalValue = document.getElementById('txtTotalValue');
            var txtValueSystem = document.getElementById('txtValueSystem');
            var txtBankName = document.getElementById('txtBankName');
            var txtNote = document.getElementById('txtNote');

            var price = convertFormatToNumber(priceItem.value);
            var quantity = convertFormatToNumber(quantityeItem.value);
            var fee = convertFormatToNumber(feeItem.value);
            var fevalueSysteme = convertFormatToNumber(txtValueSystem.value);
            var bankName = txtBankName.value;
            var error = '';
            if (isNullOrEmpty(bankName)) {
                error = 'Chưa chọn ngân hàng';
            }
            if (fee <= 0) {
                error = 'Phí phải lớn hơn không';
            }
            if (quantity <= 0) {
                error = 'Số lượng phải lớn hơn không';
            }
            if (price <= 0) {
                error = 'Giá phải lớn hơn không';
            }
            if (fevalueSysteme < 0) {
                error = 'Số tiền thanh toán không được âm';
            }
            if (isNullOrEmpty(txtSymbolName.value)) {
                error = 'Chưa nhập loại hàng';
            }

            if (!isNullOrEmpty(error)) {
                bootbox.alert(error, function () {
                    //window.location.reload();
                });
                return;
            }

            var model = {
                SymbolName: txtSymbolName.value,
                Price: priceItem.value,
                Quantity: quantityeItem.value,
                Fee: feeItem.value,
                TotalValue: txtTotalValue.value,
                ValueSystem: txtValueSystem.value,
                BankName: txtBankName.value,
                Note: txtNote.value,
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("CreateOrderAccount", "Account")",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        if (data.url != null) {
                            bootbox.alert(data.ErrorText, function () {
                                localStorage.clear();
                                window.setTimeout(function () {
                                    window.location = data.url;
                                }, 10);
                            });
                        }

                    } else {
                        bootbox.alert(data.ErrorText, function () {
                            //window.location.reload();
                        });
                    }
                },
                error: function (xhr, error, status) {
                    bootbox.alert("Lỗi: " + error);
                }
            });
        });
    });
</script>
