﻿@{
    ViewBag.Title = "CreatePakageOrder";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("CreatePakageOrder", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo gói hàng</h4><br />

            <div class="form-group row" style="width: 100%;font-size: 14px">

                <div class="col-sm-12">
                    <div class="col-md-3">
                        Mã vận đơn
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("ShippingCode", null, new { @class = "form-control", placeholder = "Mã vận đơn" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều dài
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Length", null, new { @class = "form-control", placeholder = "M" })
                        <br />
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều rộng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Width", null, new { @class = "form-control", placeholder = "M" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều cao
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Height", null, new { @class = "form-control", placeholder = "M" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Trọng lượng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Weight", null, new { @class = "form-control", placeholder = "Kg" })
                        <br />
                    </div>
                </div>
                <div>
                    <label style="color:red;font-size:12px;"> @ViewBag.Message</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnAddShipment" class="btn btn-primary">Tạo gói hàng</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}
