﻿@model OrderChina.Models.NewOrderWithPhoneModel
@{
    ViewBag.Title = "CreateOrder";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<style>
    .fileinput-button input {
        cursor: pointer;
        direction: ltr;
        font-size: 200px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        font-weight: 600;
    }

    .fileinput-button {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
</style>
<div @*class='container'*@>
    <h3 class='text-center'>Tạo đơn hàng từ hệ thống website</h3>
    <div class="alert alert-warning alert-default btn-flat">
        <p class="notification">

            <em><u><strong>Chú ý:</strong></u></em><br />
            Mỗi dòng dữ liệu tương ứng với 1 link sản phẩm, quý khách điền thông tin chi tết để thuận lợi trong quá trình giao dịch.<br />
            Hàng được ký nhận tại kho Trung Quốc và trả hàng tại kho Việt Nam của Đặt hàng giá rẻ.<br />
            Trước khi tạo đơn hàng, quý khách đọc kỹ quy định và bảng giá của Đặt hàng giá rẻ:<br />
            - <em>Hướng dẫn:</em> <a href="#">https://dathanggiare.top/tin-tuc/dich-vu-dat-hang.html</a><br />
            - <em>Quy định:</em> <a href="#">https://dathanggiare.top/tin-tuc/quy-dinh/quy-dinh-voi-khach-hang-order.html</a><br />
            - <em>Bảng giá:</em> <a href="https://dathanggiare.top/Home/Banggia">https://dathanggiare.top/Home/Banggia</a><br />
            Quý khách chốt đơn hàng có nghĩa là quý khách đã <u><em><strong>đồng ý và thực hiện</strong></em></u> theo quy định của <strong>dathanggiare.top!!!</strong>

        </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm("CreateOrderOfSale", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="col-md-12" id="km">
                    <div class="col-md-3">
                        <label class="control-label">Khách hàng</label>
                        @Html.DropDownListFor(m => m.Phone, (IEnumerable<SelectListItem>)ViewBag.ListClient, "--Chọn khách hàng--", new { @class = "form-control flat" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Đơn hàng:</label>
                        <select class="form-control flat valid" id="OrderType" name="OrderType" aria-invalid="false">
                            <option value="1">Đơn hàng order</option>
                            <option value="0">Đơn hàng trọn gói</option>
                            <option value="2">Đơn khiếu nại</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="font-size:12px">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-1">
                            <label class="control-label">Up ảnh</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Link ảnh</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Link sản phẩm</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Tên shop</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Mô tả</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Màu sắc</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Kích thước</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Số lượng</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Giá</label>
                        </div>
                    </div>
                </div>
                <div id="orderDetail" class="form-group ">

                    <div class="form-group lsdetail" style="width: 100%;">
                        @Html.EditorFor(m => m.ListOrderDetail)
                        @Html.ValidationMessageFor(m => m.ListOrderDetail)
                        @Html.Hidden("ListOrderDetail[0].stt", "0", new { id = "ListOrderDetail[0].stt" })
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-sm-1">
                                <span class="btn btn-primary fileinput-button ">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Up ảnh</span>
                                    <input type="file" name="Image_0" id="Image_0" accept="image/*">
                                </span>
                                <script>

                                    $("#Image_0").change(function () {
                                        alert("Bạn vừa thêm ảnh " + this.value.replace(/^.*[\\\/]/, '') + " thành công");
                                    });
                                </script>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Image" placeholder='Link ảnh'>
                                @Html.ValidationMessage("ListOrderDetail[0].Image")
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Link" placeholder='Nhập link sản phẩm' autofocus="autofocus" required>
                                @Html.ValidationMessage("ListOrderDetail[0].Link")
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Shop" placeholder='Tên shop' required>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Description" placeholder='Mô tả' required>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Color" placeholder='Màu sắc' required>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Size" placeholder='Kích thước' required>
                            </div>
                            <div class="col-sm-1">
                                <input type="number" class="form-control btn-flat" name="ListOrderDetail[0].Quantity" min="1" max="999999" placeholder='Số lượng' required>
                                @Html.ValidationMessage("ListOrderDetail[0].Quantity")
                            </div>
                            <div class="col-sm-1">
                                <input type="number" class="form-control btn-flat" name="ListOrderDetail[0].Price" placeholder='Nhập giá' required>
                                @Html.ValidationMessage("ListOrderDetail[0].Price")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <button name="submit" value="addOrder" class="btn btn-primary btn-flat" onclick="AddCust();" type="button" id="selectorder">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            Thêm hàng mới
                        </button>
                        <button name="submit" value="Process" class="btn btn-default pull-right btn-flat" type="submit">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            Gửi đơn hàng
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        function AddCust() {
            $('#lsInternal').remove();
            var m = $('#orderDetail .form-group:last-child .col-sm-2 input:first').attr("name");
            var index = 0;
            if (m != null && m.length > 0) {
                index = m.split('ListOrderDetail[')[1].replace('].Link', '');
                index++;
            }
            var html = '<div class="form-group col-lg-12 col-md-12 col-sm-12 lsdetail" style="width: 100%;">' +
                '<input type="hidden" name="ListOrderDetail[' + index + '].stt" value="' + index + '">' +
               '<div class="col-sm-1 col-reset-order">' +
                 ' <span class="btn btn-primary fileinput-button ">' +
                                   ' <i class="glyphicon glyphicon-upload"></i>' +
                                   ' <span>Up ảnh</span>' +
                                  '  <input type="file" name="Image_' + index + '" id="Image_' + index + '" accept="image/*">' +
                             '   </span>' +

                 '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Image" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Image" placeholder="Link ảnh">' +
                               '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Image" data-valmsg-replace="true"></span>' +
                            '</div>' +
                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Link" placeholder=\'Nhập link sản phẩm\' autofocus="autofocus" required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Link" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Shop" placeholder=\'Tên shop\'>' +
                '</div>' +
                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Description" placeholder=\'Mô tả\'>' +
                '</div>' +
               '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Color" placeholder=\'Màu sắc\'>' +

                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Size" placeholder=\'Kích thước\'>' +

                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Quantity"  placeholder=\'Số lượng\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Quantity" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderDetail[' + index + '].Price"  placeholder=\'Nhập giá\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[' + index + '].Price" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order text-center"><a class="btn btn-danger" name="ListOrderDetail" onclick=\'$(this).parent().parent(".form-group").remove()\'><i class="fa fa-trash-o"></i></a></div> ' +
                '</div>';
            $('#orderDetail').append(html);
        };

        function AddCust1() {
            $('#lsdetail').remove();
            var m = $('#orderDetail .form-group:last-child .col-sm-2 input:first').attr("name");
            var index = 0;
            if (m != null && m.length > 0) {
                index = m.split('ListOrderInternalDetails[')[1].replace('].Link', '');
                index++;
            }
            var html = '<div class="form-group col-lg-12 col-md-12 col-sm-12 lsInternal" style="width: 100%;">' +
                '<input type="hidden" name="ListOrderInternalDetails[' + index + '].stt" value="' + index + '">' +
                '<div class="col-sm-1 col-reset-order">' +
                ' <span class="btn btn-primary fileinput-button ">' +
                                   ' <i class="glyphicon glyphicon-upload"></i>' +
                                   ' <span>Up ảnh</span>' +
                                  '  <input type="file" name="Image_' + index + '" id="Image_' + index + '" accept="image/*">' +
                             '   </span>' +
                 '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[' + index + '].Image" data-valmsg-replace="true"></span>' +
                '</div>' +
                 '<div class="col-sm-1 col-reset-order">' +
                                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Image" placeholder="Link ảnh">' +
                               '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[' + index + '].Image" data-valmsg-replace="true"></span>' +
                            '</div>' +

                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Link" placeholder=\'Nhập link sản phẩm\' autofocus="autofocus" required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[' + index + '].Link" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Shop" placeholder=\'Tên shop\'>' +
                '</div>' +
                '<div class="col-sm-2 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Description" placeholder=\'Mô tả\'>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Color" placeholder=\'Màu sắc\'>' +

                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Size" placeholder=\'Kích thước\'>' +

                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Quantity"  placeholder=\'Số lượng\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[' + index + '].Quantity" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderInternalDetails[' + index + '].Price" min=\'1\' max=\'999999\'  placeholder=\'Nhập giá\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[' + index + '].Price" data-valmsg-replace="true"></span>' +
                '</div>' +
                '<div class="col-sm-1 col-reset-order text-center"><a class="btn btn-danger" onclick=\'$(this).parent().parent(".form-group").remove()\'><i class="fa fa-trash-o"></i></a></div> ' +
                '</div>';
            $('#orderDetail').append(html);
        };

        $("#OrderType").change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected = optionSelected.val();
            if (valueSelected == 0) {
                $("#selectorder").attr("onclick", "AddCust1();");
                $('#datcoc').remove();
                $('.lsdetail').remove();
                $('#orderDetail').append("@Html.EditorFor(m => m.ListOrderInternalDetails)" + "<div class='form-group lsInternal' style='width: 100%;'>" +
                    "<div class='col-lg-12 col-md-12 col-sm-12'>" +
                    '<input type="hidden" name="ListOrderInternalDetails[0].stt" value="0">' +
                       "<div class='col-sm-1'>" +
                   ' <span class="btn btn-primary fileinput-button ">' +
                                   ' <i class="glyphicon glyphicon-upload"></i>' +
                                   ' <span>Up ảnh</span>' +
                                  '  <input type="file" name="Image_0" id="Image_0" accept="image/*">' +
                             '   </span>' +
                 '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[0].Image" data-valmsg-replace="true"></span>' +
                    "</div>" +
                  ' <div class="col-sm-1">' +
                              '  <input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[0].Image" placeholder="Link ảnh">' +
                                '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[0].Image" data-valmsg-replace="true"></span>' +
                           ' </div>' +
                    "<div class='col-sm-2'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderInternalDetails[0].Link' placeholder='Nhập link sản phẩm' autofocus='autofocus' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderInternalDetails[0].Link' data-valmsg-replace='true'>" +
                    "</div>" +
                    "<div class='col-sm-1'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderInternalDetails[0].Shop' placeholder='Tên Shop' autofocus='autofocus' required>" +

                    "</div>" +
                    "<div class='col-sm-2'> " +
                    "<input type='text' class='form-control btn-flat' name='ListOrderInternalDetails[0].Description' placeholder='Mô tả'>" +
                    "</div>" +
                    '<div class="col-sm-1">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[0].Color" placeholder=\'Màu sắc\'>' +

                '</div>' +
                '<div class="col-sm-1">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderInternalDetails[0].Size" placeholder=\'Kích thước\'>' +

                '</div>' +
                '<div class="col-sm-1">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderInternalDetails[0].Quantity"  placeholder=\'Số lượng\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderInternalDetails[0].Quantity" data-valmsg-replace="true"></span>' +
                '</div>' +
                    "<div class='col-sm-1'>" +
                    "<input type='number' class='form-control btn-flat' name='ListOrderInternalDetails[0].Price' placeholder='Nhập giá' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderInternalDetails[0].Price' data-valmsg-replace='true'>" +
                    "</div> @if (!Request.IsAuthenticated) {<div class='col-sm-2'> <input type='text' class='form-control btn-flat' name='ListOrderInternalDetails[0].Phone' placeholder='Số điện thoại' required> </div> } </div> </div>");
                $('#km').append("<div class='row' id='datcoc'><div class='col-sm-2'><label for='usr'>Tiền đặt cọc: </label><input type='text' class='form-control' id='usr' name='ListOrderDetails[0].DownPayment' placeholder='Tiền đặt cọc'></div><div class='col-sm-2'><label for='usr'>Tổng tiền: </label><input type='text' class='form-control btn-flat' name='ListOrderDetails[0].TotalPrice' placeholder='Tổng tiền' required></div></div></div>");
            }
            else if (valueSelected == 1) {
                $('#datcoc').remove();
                $("#selectorder").attr("onclick", "AddCust();");
                $('.lsdetail').remove();
                $('.lsInternal').remove();
                $('#orderDetail').append("@Html.EditorFor(m => m.ListOrderDetail)" + "<div class='form-group lsdetail' style='width: 100%;'>" +
                    "<div class='col-lg-12 col-md-12 col-sm-12'>" +
          '<input type="hidden" name="ListOrderDetail[0].stt" value="0">' +
               '<div class="col-sm-1">' +
                 ' <span class="btn btn-primary fileinput-button ">' +
                                   ' <i class="glyphicon glyphicon-upload"></i>' +
                                   ' <span>Up ảnh</span>' +
                                  '  <input type="file" name="Image_0" id="Image_0" accept="image/*">' +
                             '   </span>' +
                 '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Image" data-valmsg-replace="true"></span>' +
                '</div>' +
                 ' <div class="col-sm-1">' +
                              '  <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Image" placeholder="Link ảnh">' +
                                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Image" data-valmsg-replace="true"></span>' +
                           ' </div>' +
                    "<div class='col-sm-2'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Link' placeholder='Nhập link sản phẩm' autofocus='autofocus' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderDetail[0].Link' data-valmsg-replace='true'></span> " +
                    "</div>" +
                    "<div class='col-sm-1'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Shop' placeholder='Tên Shop' autofocus='autofocus' required>" +

                    "</div>" +
                    "<div class='col-sm-2'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Description' placeholder='Mô tả'> " +
                    "</div>" +
                    '<div class="col-sm-1">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Color" placeholder=\'Màu sắc\'>' +

                '</div>' +
                '<div class="col-sm-1">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Size" placeholder=\'Kích thước\'>' +

                '</div>' +
                '<div class="col-sm-1">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderDetail[0].Quantity"  placeholder=\'Số lượng\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Quantity" data-valmsg-replace="true"></span>' +
                '</div>' +
                    "<div class='col-sm-1'>" +
                    "<input type='number' class='form-control btn-flat' name='ListOrderDetail[0].Price' placeholder='Nhập giá' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderDetail[0].Price' data-valmsg-replace='true'></span></div> @if (!Request.IsAuthenticated) { <div class='col-sm-2'> <input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Phone' placeholder='Số điện thoại' required> </div> } </div> </div>");
            } else if (valueSelected == 2) {
                $('#datcoc').remove();
                $("#selectorder").attr("onclick", "AddCust();");
                $('.lsdetail').remove();
                $('.lsInternal').remove();
                $('#km').append("<div class='row' id='datcoc'><div class='col-sm-2'><label for='usr'>Mã đơn khiếu nại: </label><input type='text' class='form-control btn-flat' id='IDOrderCompain' name='IDOrderCompain' placeholder='Mã đơn khiếu nại' type='text'></div></div></div>");
                $('#orderDetail').append("@Html.EditorFor(m => m.ListOrderDetail)" + "<div class='form-group lsdetail' style='width: 100%;'>" +
                    "<div class='col-lg-12 col-md-12 col-sm-12'>" +
           '<input type="hidden" name="ListOrderDetail[0].stt" value="0">' +
                    '<div class="col-sm-1">' +
                 ' <span class="btn btn-primary fileinput-button ">' +
                                   ' <i class="glyphicon glyphicon-upload"></i>' +
                                   ' <span>Up ảnh</span>' +
                                  '  <input type="file" name="Image_0" id="Image_0" accept="image/*">' +
                             '   </span>' +
                 '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Image" data-valmsg-replace="true"></span>' +
                '</div>' +
                 ' <div class="col-sm-1">' +
                              '  <input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Image" placeholder="Link ảnh">' +
                                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Image" data-valmsg-replace="true"></span>' +
                           ' </div>' +
                    "<div class='col-sm-2'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Link' placeholder='Nhập link sản phẩm' autofocus='autofocus' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderDetail[0].Link' data-valmsg-replace='true'></span> " +
                    "</div>" +
                    "<div class='col-sm-1'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Shop' placeholder='Tên Shop' autofocus='autofocus' required>" +

                    "</div>" +
                    "<div class='col-sm-2'>" +
                    "<input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Description' placeholder='Mô tả'>" +
                    "</div>" +
                    '<div class="col-sm-1 ">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Color" placeholder=\'Màu sắc\'>' +

                '</div>' +
                '<div class="col-sm-1 ">' +
                '<input type="text" class="form-control btn-flat" name="ListOrderDetail[0].Size" placeholder=\'Kích thước\'>' +

                '</div>' +
                '<div class="col-sm-1">' +
                '<input type="number" class="form-control btn-flat" name="ListOrderDetail[0].Quantity"  placeholder=\'Số lượng\' required>' +
                '<span class="field-validation-valid" data-valmsg-for="ListOrderDetail[0].Quantity" data-valmsg-replace="true"></span>' +
                '</div>' +
                    "<div class='col-sm-1'>" +
                    "<input type='number' class='form-control btn-flat' name='ListOrderDetail[0].Price' placeholder='Nhập giá' required>" +
                    "<span class='field-validation-valid' data-valmsg-for='ListOrderDetail[0].Price' data-valmsg-replace='true'></span>" +
                    "</div> @if (!Request.IsAuthenticated) { <div class='col-sm-2'> <input type='text' class='form-control btn-flat' name='ListOrderDetail[0].Phone' placeholder='Số điện thoại' required> </div> } </div> </div>");
            }
        })
    </script>
}