﻿@{
    ViewBag.Title = "CreateForex";
    Layout = null;
}
@model OrderChina.Models.Forex
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*@using (Html.BeginForm("CreateForex", "Account", FormMethod.Post))
    {*@
@Html.AntiForgeryToken()
@Html.ValidationMessage("CustomError")

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Tạo mới đơn nạp tệ</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%;font-size: 14px">
            <div class="col-lg-12">
                <span id="error" style="color:red"></span>
            </div>          
            <div class="col-lg-10">
                Số tiền nạp:
                @Html.TextBox("Amount", "", new { @class = "form-control", placeholder = "Tệ" })
                <span id="erro" style="color:red"></span>
                <br />
            </div>

            <div class="col-lg-10">
                Tên tài khoản ngân hàng:
                @Html.TextBox("BankUserName", "", new { @class = "form-control", placeholder = "Tên tài khoản" })
                <br />
            </div>

            <div class="col-lg-10">
                Số tài khoản:
                @Html.TextBox("BankNumber", "", new { @class = "form-control", placeholder = "Số tài khoản" })
                <br />
            </div>

            <div class="col-lg-10">
                Tên ngân hàng:
                <br />
                <label class="radio-inline"><input type="radio" name="optradio" id="ali" checked>Tài khoản ALIPAY</label>
                <label class="radio-inline"><input type="radio" name="optradio" id="ngan">Tài khoản ngân hàng</label>
            </div>
            <div class="col-lg-10 " id="nganhang" style="display:none">
                @Html.TextBox("BankName", "", new { @class = "form-control", placeholder = "Tên ngân hàng" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Tạo hóa đơn</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
        <script>
            $("#btnSave").click(function () {
                var amount = $.trim($('#Amount').val());
                var BankUserName = $.trim($('#BankUserName').val());
                var BankNumber = $.trim($('#BankNumber').val());
                var BankName = $.trim($('#BankName').val());
                var url = '@Url.Action("CreateForex","Account")'
                if (amount.length == "" || isNaN(amount)) {
                    $("#erro").text("Tiền nhập phải là số");
                    return false;
                } else {
                    var data = {
                        amount: amount,
                        BankUserName: BankUserName,
                        BankNumber: BankNumber,
                        BankName: BankName,
                    }
                    $.ajax({
                        data: JSON.stringify(data),
                        type: 'POST',
                        url: url,
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success == false) {
                                $("#error").text(data.html);
                            } else {
                                window.location = '@Url.Action("ManageForex", "Account")'
                            }
                        }
                    });
                }
            });
            $("#ali").click(function () {
                document.getElementById("nganhang").style.display = 'none';
                $("#BankName").val('');
            });
            $("#ngan").click(function () {
                document.getElementById("nganhang").style.display = 'block';
            });
        </script>
    </div>
</div>
@*}*@