﻿@{
    ViewBag.Title = "CreateOrderFromExcel";
}
<style>
    .col-reset-order {
        padding-right: 0;
    }
</style>
<style>
    .col-reset-order {
        padding-right: 0;
    }

    .fileinput-button input {
        cursor: pointer;
        direction: ltr;
        font-size: 200px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        font-weight: 600;
    }

    .fileinput-button {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
</style>



<div class="container">
    <h3 style="margin-top:20px" class="text-center">Tạo đơn hàng bằng excel</h3>
    <div class="alert alert-default btn-flat">
        <h4 class="title-notification">! Chú ý</h4>
        <p class="notification">
            Để tạo đơn hàng bằng file excel. Bạn vui lòng tải mẫu đơn đặt hàng. Điền đầy đủ thông tin về mặt hàng của bạn theo đúng định dạng của chúng tôi. Mọi vấn đề thắc mắc xin liên hệ với chúng tôi.
        </p>
    </div>

    <div style="margin-bottom: 60px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            @using (Html.BeginForm("CreateOrderExcel", "Account", FormMethod.Post, new { id = "upload", enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="text-center">
                    <div>
                        <a href="~/Upload/Documents/Template_DatHangGiaRe.xlsx" class="btn btn-default">
                            <i class="fa fa-download"></i>
                            Tải mẫu file excel xuống
                        </a>
                    </div>
                    <div style="margin-top: 40px;">                  
                        <span class="btn btn-primary fileinput-button ">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Đưa mẫu file excel chứa link lên</span>
                            <input type="file" id="file"/>      
                                <script>
                                    document.getElementById("file").onchange = function () {
                                        document.getElementById("uploadFile").textContent = "Bạn vừa thêm file :" + this.value;
                                    };
                                </script>
                        </span>            
                        <button class="btn btn-danger btn-flat" id="upload">Tạo đơn</button>
                      
                    </div>
                    <span id="uploadFile"></span>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $('#upload').submit(function (e) {
            e.preventDefault(); // stop the standard form submission
            var formData = new FormData();
            var file = document.getElementById("file").files[0];
            formData.append("file", file);
            $.ajax({
                url: this.action,
                type: this.method,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        if (data.url != null) {
                            bootbox.alert("Tạo đơn hàng thành công!", function () {
                                window.location = data.url;
                            });
                        } else {
                            bootbox.alert("Tạo đơn hàng thành công, bạn hãy liên hệ với Sale để được đặt hàng sớm nhất!", function () {
                                window.location.reload();
                            });
                        }
                        
                    } else {
                        bootbox.alert(data.message, function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xhr, error, status) {
                        bootbox.alert("Lỗi: " + error);
                }
            });
        });

    </script>
}