﻿@{
    ViewBag.Title = "CreateOrderAccount";
    Layout = null;
}
@model OrderChina.Models.CreateAccountDetailModel
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootbox")
<script src="~/Scripts/functionUtils.js"></script>
@using (Html.BeginForm("CreateOrderAccountDetail", "Account", FormMethod.Post, new { id = "createOrderAccountDetail" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo đơn bán hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%; font-size: 14px">
                @Html.Hidden("ParentOrderAccountId", Model.OrderId, new { @id = "txtOrderAccountId" })
                @Html.Hidden("LeaveQuantity", Model.LeaveQuantity, new { @id = "txtLeaveQuantity" })
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Số Lượng</div>
                    <div class="col-sm-4">@Html.TextBox("Quantity", null, new { @class = "form-control", placeholder = "Số Lượng", id = "txtQuantity" })</div>
                    <div class="col-sm-2">Giá</div>
                    <div class="col-sm-4">@Html.TextBox("Price", null, new { @class = "form-control", placeholder = "Giá", id = "txtPrice" }) </div>
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Số lượng còn</div>
                    <div class="col-sm-4">@Html.Label("LeaveQuantity1", Model.LeaveQuantity.ToString("N0"), new { @id = "txtLeaveQuantity1" })</div>
                    <div class="col-sm-2">Khách hàng</div>
                    <div class="col-sm-4">@Html.DropDownList("ExtandField", (IEnumerable<SelectListItem>)ViewBag.ListCustomer, "--Chọn khách hàng--", new { @class = "form-control flat", style = "display: inline;", id = "txtCustomer" })</div>
                </div>
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Ghi chú</div>
                    <div class="col-sm-4">@Html.TextArea("Note", null, new { @class = "form-control", placeholder = "Ghi chú", id = "txtNote" })</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Gửi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        console.log('ready');


        $("#txtPrice").change(function () {
            var valueSystem = document.getElementById('txtPrice');
            valueSystem.value = formatNumber(valueSystem.value);
        });
        $("#txtQuantity").change(function () {
            var valueSystem = document.getElementById('txtQuantity');
            valueSystem.value = formatNumber(valueSystem.value);
        });

        $("#txtPrice").keyup(function () {
            var valueSystem = document.getElementById('txtPrice');
            valueSystem.value = formatNumber(valueSystem.value);
        });

        $("#txtQuantity").keyup(function () {
            var valueSystem = document.getElementById('txtQuantity');
            valueSystem.value = formatNumber(valueSystem.value);
        });


        $('#createOrderAccountDetail').submit(function (e) {
            console.log('submit');
            e.preventDefault(); // stop the standard form submission

            var txtOrderAccountId = document.getElementById('txtOrderAccountId');
            var txtNote = document.getElementById('txtNote');
            var txtCustomer = document.getElementById('txtCustomer');
            var priceItem = document.getElementById('txtPrice');
            var quantityeItem = document.getElementById('txtQuantity');
            var txtLeaveQuantity = document.getElementById('txtLeaveQuantity');

            var orderId = convertFormatToNumber(txtOrderAccountId.value);
            var price = convertFormatToNumber(priceItem.value);
            var quantity = convertFormatToNumber(quantityeItem.value);
            var leaveQuantity = convertFormatToNumber(txtLeaveQuantity.value);
            var bankName = txtCustomer.value;

            var error = '';
            if (isNullOrEmpty(bankName)) {
                error = 'Chưa chọn khách hàng';
            }

            if (quantity <= 0) {
                error = 'Số lượng phải lớn hơn không';
            }
            if (price <= 0) {
                error = 'Giá phải lớn hơn không';
            }
            if (leaveQuantity < quantity) {
                error = 'Khối lượng phải nhỏ hơn khối lượng còn lại';
            }
            if (!isNullOrEmpty(error)) {
                bootbox.alert(error, function () {
                    //window.location.reload();
                });
                return;
            }
            
            var model = {
                ParentOrderAccountId: orderId,
                Price: priceItem.value,
                Quantity: quantityeItem.value,
                Note: txtNote.value,
                ExtandField: txtCustomer.value,
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("CreateOrderAccountDetail", "Account")",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        if (data.url != null) {
                            bootbox.alert(data.ErrorText, function () {
                                localStorage.clear();
                                window.setTimeout(function () {
                                    window.location = data.url;
                                }, 10);
                            });
                        }

                    } else {
                        bootbox.alert(data.ErrorText, function () {
                            //window.location.reload();
                        });
                    }
                },
                error: function (xhr, error, status) {
                    bootbox.alert("Lỗi: " + error);
                }
            });
        });
    });
</script>
