﻿@{
    ViewBag.Title = "CreateChangeClots";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("CreateChangeClots", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Thêm giá dịch vụ</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                @*<div class="col-sm-12">
                    <br />
                    <div class="col-lg-12">Cước:</div>
                    <div class="col-sm-1">Từ</div>
                    <div class="col-sm-3">@Html.TextBox("From", null, new { @class = "form-control", placeholder = "m³" }) </div>
                    <div class="col-sm-1">đến</div>
                    <div class="col-sm-3">@Html.TextBox("To", null, new { @class = "form-control", placeholder = "m³" })</div>
                </div>*@
                @*<div class="col-sm-12">
                    <br /><br />
                    <div class="col-lg-8">
                        Loại hàng hóa:
                        @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Name" })
                    </div>
                </div>*@
                <div class="col-sm-12">
                    <br /><br />
                    <div class="col-lg-5">
                        Giá Cước:
                        @Html.TextBox("Value", null, new { @class = "form-control", placeholder = "VND" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}