﻿@{
    ViewBag.Title = "CreateShipmentDetail";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("CreateShipmentDetail", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo lô hàng</h4><br/>
        
            <div class="form-group row" style="width: 100%;font-size: 14px">
                
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Tên lô hàng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Tên lô hàng" })
                        <br />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều dài
                    </div>
                    <div class="col-md-8">
                       @Html.TextBox("Length", null, new { @class = "form-control", placeholder = "M" })
                        <br/>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều rộng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Width", null, new { @class = "form-control", placeholder = "M" })
                        <br/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Chiều cao
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Height", null, new { @class = "form-control", placeholder = "M" })
                        <br/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        Trọng lượng
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Weight", null, new { @class = "form-control", placeholder = "Kg" })
                        <br/>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-bottom:15px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-8" >
                        <select class="form-control" id="ShipmentType" name="ShipmentType">
                            <option value="">--Hình thức vận chuyển--</option>
                            <option value="1">Tiểu ngạch</option>
                            <option value="2">Đi đồi</option>
                        </select>
                    </div>
                    
                </div>
                
                <div class="modal-footer" style="padding-top:15px;">
                    
                    <button type="submit" id="btnAddShipment" class="btn btn-primary" >Tạo lô hàng</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Đóng</button>
                </div>
            </div>
        </div>
    </div>
}