﻿@model OrderChina.Models.NewDepositOrders
@{
    ViewBag.Title = "Tạo đơn hàng ký gửi";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<div @*class='container'*@>
    <h3 style="margin-top:20px" class='text-center'>Tạo đơn hàng kí gửi</h3>
    <div class="alert alert-warning alert-default btn-flat">
        <p class="notification">

            <em><u><strong>Chú ý:</strong></u></em><br />
            Mỗi dòng dữ liệu tương ứng với 1 link sản phẩm, quý khách điền thông tin chi tết để thuận lợi trong quá trình giao dịch.<br />
            Hàng được ký nhận tại kho Trung Quốc và trả hàng tại kho Việt Nam của Đặt hàng giá rẻ.<br />
            Trước khi tạo đơn hàng, quý khách đọc kỹ quy định và bảng giá của Đặt hàng giá rẻ:<br />
            - <em>Hướng dẫn:</em> <a href="#">https://dathanggiare.top/tin-tuc/dich-vu-dat-hang.html</a><br />
            - <em>Quy định:</em> <a href="#">https://dathanggiare.top/tin-tuc/quy-dinh/quy-dinh-voi-khach-hang-order.html</a><br />
            - <em>Bảng giá:</em> <a href="https://dathanggiare.top/Home/Banggia">https://dathanggiare.top/Home/Banggia</a><br />
            Quý khách chốt đơn hàng có nghĩa là quý khách đã <u><em><strong>đồng ý và thực hiện</strong></em></u> theo quy định của <strong>dathanggiare.top!!!</strong>

        </p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group" style="font-size:14px">
                    <div class="col-sm-12 ">
                        <label class="control-label" style="font-size:18px">Ghi chú đơn ký gửi</label>
                        @Html.TextArea("Content", "", new { @class = "form-control", style = "height: 120px;resize: none;" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-3">
                            <label class="control-label">Mã Vận Đơn</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Số lượng thùng</label>
                        </div>
                        @*<div class="col-sm-2">
                                <label class="control-label">Trọng lượng</label>
                            </div>*@
                        @if (!Request.IsAuthenticated)
                        {
                            <div class="col-sm-2">
                                <label class="control-label">SĐT</label>
                            </div>
                        }
                    </div>
                </div>

                <div id="orderDetail" class="form-group">
                    @Html.EditorFor(m => m.ListDepositOrders)
                    <div class="form-group" style="width: 100%;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-sm-3">
                                <input type="text" class="form-control btn-flat" name="ListDepositOrders[0].ShippingCode" placeholder='Mã đơn'>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" class="form-control btn-flat" name="ListDepositOrders[0].Bucket" placeholder='Số lượng thùng'>
                            </div>
                            @*<div class="col-sm-2">
                                    <input type="number" class="form-control btn-flat" name="ListDepositOrders[0].Weight" placeholder='Trọng lượng'>
                                </div>*@
                            @if (!Request.IsAuthenticated)
                            {
                                <div class="col-sm-2">
                                    <input type="text" class="form-control btn-flat" name="ListDepositOrders[0].Phone" placeholder='Số điện thoại' required="true">
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <button name="submit" value="Process" class="btn btn-default pull-right btn-flat" type="submit">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            Gửi đơn hàng
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        function AddCust() {
            var m = $('#orderDetail .form-group:last-child .col-sm-3 input:first').attr("name");
            var index = 0;
            if (m != null && m.length > 0) {
                index = m.split('ListDepositOrders[')[1].replace('].ShippingCode', '');
                index++;
            }

            var html = '<div class="form-group col-lg-12 col-md-12 col-sm-12" style="width: 100%;">' +
                '<div class="col-sm-3 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListDepositOrders[' + index + '].ShippingCode" placeholder=\'Mã đơn\'>' +
                '</div>' +
                '<div class="col-sm-3 col-reset-order">' +
                '<input type="text" class="form-control btn-flat" name="ListDepositOrders[' + index + '].Catalogy" placeholder=\'Mô tả\'>' +
                '</div>' +
                //'<div class="col-sm-2 col-reset-order">' +
                //'<input type="number" class="form-control btn-flat" name="ListDepositOrders[' + index + '].Weight"  placeholder=\'Trọng lượng\'>' +
                //'</div>' +
                '<div class="col-sm-1 col-reset-order text-center"><a class="btn btn-danger" onclick=\'$(this).parent().parent(".form-group").remove()\'><i class="fa fa-trash-o"></i></a></div> ' +
                '</div>';
            $('#orderDetail').append(html);
        };
    </script>
}