﻿@{
    ViewBag.Title = "EditChangeClots";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("EditChangeClotsHill", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

   <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Cập nhật phí lô hàng</h4>
        </div>
        <div class="modal-body">
            
            <div class="form-group row" style="width: 100%;font-size: 14px">
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-3">Cước Từ:</div>
                    <div class="col-sm-4">@Html.TextBox("From", null, new { @class = "form-control", placeholder = "m³" }) </div>
                    <div class="col-sm-1">đến</div>
                    <div class="col-sm-4">@Html.TextBox("To", null, new { @class = "form-control", placeholder = "m³" })</div>
                </div>
               
                <div class="col-sm-12">
                    <div class="col-sm-3">Giá Cước:</div>
                    <div class="col-sm-4">
                        @Html.TextBox("Value", null, new { @class = "form-control", placeholder = "VND" })
                    </div>
                </div>
            </div>

        </div>
         <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}