﻿@using OrderChina.Models
@model OrderChina.Models.ExcelErrorDetailModel

<style>
    #action a:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        box-shadow: 0px 0px 30px gray;
        -webkit-box-shadow: 0px 0px 30px gray;
        -moz-box-shadow: 0px 0px 30px gray;
        opacity: 1;
    }

    #action a {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        opacity: 1;
    }
</style>
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial")

        <div class="col-md-9 order-content">
            <div class='order-link'>
                @Html.HiddenFor(m => m.ExcelNoticeID)
                @Html.HiddenFor(m => m.IsHaveSaleManage)
                @Html.HiddenFor(m => m.Location)
                @Html.HiddenFor(m => m.Phone)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.ClientName)

                <div class='row'>
                    <h3 class='text-center'>Chi Tiết Excel <b>@Model.Name </b> - @(Model.Status == "Done" ? "Đã xử lý" : "Chưa xử lý")</h3>
                </div>
                <div class='row'>
                    <p class='col-md-3'>
                        Tên khách hàng: <b>@Model.ClientName</b><br />
                    </p>
                    <p class='col-md-3'>
                        Sđt: <b>@Model.Phone</b><br />
                    </p>
                    <p class='col-md-3'>
                        File excel: <b> <a href="@("/Upload/ExcelError/" + Model.Name)">@Model.Name</a></b><br />
                    </p>
                    <p class='col-md-3'>
                        Lý do lỗi: <b>@Model.Note</b><br />
                    </p>
                    <span class="clearfix"></span>
                </div>

                <div class="alert alert-default btn-flat row">
                    <span class="clearfix"></span>
                    <p class="col-md-6 pull-right">
                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                            {
                                if (Model.Status == "UnDone")
                                {
                                    <a href="javascript:void(0);" onclick="confirm_order(@Model.ExcelNoticeID);" style="margin-right: 5px" rel='tooltip' class="btn btn-primary pull-right btn-sale-confirm" title="Đã xử lý"> Đã xử lý</a>
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")


    <script>
        function confirm_order(approvalId) {
            var data = @Html.Raw(Json.Encode(Model))

            $.ajax({
                url: "@Url.Action("ExcelErrorDetail", "Account")",
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        bootbox.alert("Xử lý thành công!", function () {
                            window.location.reload();
                        });
                    } else {
                        bootbox.alert(data.msg, function () {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    alert("Lỗi");
                }
            });
        }
    </script>
}