﻿@using OrderChina.Common
@using PagedList.Mvc
@using OrderChina.Models
@model PagedList.IPagedList<OrderChina.Models.Historychangeuser>
@{
    ViewBag.Title = "HistoryChanageUserofSale";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ChangerUser", true } })

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>DANH SÁCH LỊCH SỦ THAY ĐỔI THÔNG TIN</h3>

                <p>
                    <a style="background-color:#ffeded" href="@Url.Action("Register", "Account", new { cmd = "client" })"><button class="btn btn-primary btn-flat">Tạo mới</button></a>
                    <span>Tìm kiếm</span>
                    @using (Html.BeginForm("HistoryChanageUserofSale", "Account", FormMethod.Get))
                    {
                        <div class='col-md-2' style="padding-left: inherit">
                            <input class="form-control btn-flat " placeholder="Email khách hàng" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Email" autofocus="autofocus" name="userName" value="@ViewBag.CurrentUserName" type="text">
                        </div>
                        <div class="col-md-1">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>

                    }
                </p>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:70%">Lịch sử</th>
                                <th class='text-center'>Ngày cập nhật</th>
                                <th class='text-center'>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='text-center'>
                                       @item.SaleChange vừa <b><i>@item.getTypeText()</i></b> @item.UserName
                                    </td>
                                    <td class='text-center'>
                                        @item.Datetime.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("HistoryChanageUserofSale", new { page = page }), PagedListRenderOptions.PageNumbersOnly)
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/bootbox")
}
