﻿
@{
    ViewBag.Title = "Lịch sử chát";
    Layout = null;
}
@Styles.Render("~/Content/fontawesome")
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">"Các cuộc đối thoại"</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%">
            <div class="col-lg-offset-2 col-lg-8" id="viewchat" style="border-radius:5px;border:1px solid #000000;max-height:150px;overflow:scroll">

            </div>
            <br />
            <div class="col-lg-12">
               
                <table class="table table-bordered table-striped" style="font-size: 12px;max-height:350px;overflow:scroll">
                    <thead>
                        <tr>
                            <th class='text-center'>Cuộc đối thoại giữa</th>
                            <th class='text-center'>Xem chi tiết cuộc trò chuyện</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chat in Model)
                        {
                            <tr>

                                <td class='text-center'>@chat.FromName chát với @chat.ToName</td>
                                <td class='text-center'><a href="#" class="btn btn-xs btn-primary"  onclick="View('@chat.ToId','@chat.FromId')"   ><i class="glyphicon glyphicon-question-sign"></i></a></td>
                            </tr>
                        }    
                                     
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function View(ToId, FromId) {
                var data = {
                    ToId: ToId,
                    FromId: FromId
                }
                $.ajax({
                    url: "@Url.Action("ViewDetailchat", "Account")",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            $("#viewchat").append(data.html);
                        }
                    }
                })
            }
        </script>     
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
