﻿@{
    ViewBag.Title = "LichSuGiaoDich";
}
@using PagedList.Mvc
@using OrderChina.Common
@using OrderChina.Models

<link rel="stylesheet" href="~/Content/GiaoDich.css">

    @Html.Partial("_Menu_User_Horizontal")
<div class="page-body page-background">
    <div id="_page" >
        <div class="page-transaction-view ">

            <!-- menu trang giao dich -->
            @Html.Partial("_LayoutUser")
            <!-- content score -->

            <div class="col-md-9 col-sm-8 ">
                <!--khối tiền giao dịch-->
                <div class="row">
                    <div id="customer-score">
                        <div class="content-scores">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <p></p>
                                    </div>
                                    <span>
                                        <h2 class="title-score-ap">
                                            Lịch sử giao dịch
                                        </h2>
                                    </span>
                                </div>
                            </div>

                        </div>


                        <!--khối lịch sử giao dịch-->
                        <div class="transaction-customer">
                            <div>

                                <table class="table table-striped table-score-charge" style="margin-top: 10px;">
                                    <thead>
                                        <tr>
                                            <th >Thời gian</th>
                                            <th  >Loại GD</th>
                                            <th>Nội dung</th>
                                            <th class="">Giá trị GD</th>
                                            <th class="">Loại tiền</th>
                                            <th class="">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color:#1C1C1C">
                                        @foreach (var items in Model)
                                        {
                                            if (@items.Money > 0)
                                            {
                                                <tr style="background-color:#CEF6E3">
                                                    <td class=''>
                                                        @items.LastUpdate.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class=''>

                                                        @items.getUpdateTypeText()
                                                    </td>
                                                    <td class=''>
                                                        @items.Reason
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Money.ToString("##,###")
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Currency
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Note
                                                    </td>
                                                </tr>
                                            }
                                            else if (@items.Money <0 )
                                            {
                                                <tr style="background-color:#F6CEE3">
                                                    <td class=''>
                                                        @items.LastUpdate.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class=''>

                                                        @items.getUpdateTypeText()
                                                    </td>
                                                    <td class=''>
                                                        @items.Reason
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Money.ToString("##,###")
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Currency
                                                    </td>
                                                    <td class='text-center'>
                                                        @items.Note
                                                    </td>
                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <!-- end history scores-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
