﻿@{
    ViewBag.Title = "LienHe";
}

@Html.Partial("_Menu_User_Horizontal")
<div class="page-body page-background">
    <div id="page-order-list" class="container" style="padding-left:15px;padding-right:15px;">
        
            @Html.Partial("_FooterPartial")
       
       
    </div>
</div>

