﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<OrderInternal>
@{
    ViewBag.Title = "Đơn order";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Order", true } })

        <div class="col-md-9 order-content">
            <div class='row'>
                <script>
                    localStorage.removeItem("listTabs");

                    function CheckStatus(orderInternalId) {
                        check = true;
                        var formData = {
                            orderInternalId: orderInternalId
                        };

                        $.ajax({
                            type: 'POST',
                            url: '/Account/GetModelOrderByIdNew',
                            data: JSON.stringify(formData),
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    console.log(data);
                                    var sessionValue = $("#gettype").val();
                                    var m = data.data.Status;

                                    if (m == "Order") {
                                        alert("Đơn hàng này đã được thanh toán!!");
                                        var lock = "true"
                                    }
                                    if (m == "Paid") {

                                            //var IDShippingCode = $("#IDShippingCode"+data.data.OrderInternalId).val();
                                            var IDTransId = $("#IDTransId" + data.data.OrderInternalId).val();
                                            //var IDFee = $("#IDFee" + data.data.OrderInternalId).val();
                                            //var IDDownPaymentRate = $("#IDDownPaymentRate" + data.data.OrderInternalId).val();
                                            var IDFeeShipChina = $("#IDFeeShipChina" + data.data.OrderInternalId).val();
                                            //var OrderComment = $("#OrderComment" + data.data.OrderInternalId).val();
                                            //var IDPriceReality = $("#IDPriceReality" + data.data.OrderInternalId).val();
                                            //var IDPriceRealityEdit = $("#IDPriceRealityEdit" + data.data.OrderInternalId).val();
                                            if (IDTransId == "" || IDFeeShipChina == 0) {
                                                alert("Vui lòng nhập mã giao dịch khi thanh toán, phí ship nội địa không được bằng 0");

                                            }



                                    else {
                                                var IIdOrder = $("#IdOrder").val();
                                                var data = {
                                                    IDO: orderInternalId,
                                                   
                                                };
                                                    $.ajax({
                                                        data: JSON.stringify(data),
                                                        type: 'POST',
                                                        url: '@Url.Action("GetListOrderWallet", "Account")',
                                                        
                                                        
                                                        cache: false,
                                                        contentType: 'application/json; charset=utf-8',
                                                        success: function (data) {
                                                            if (data.success) {
                                                                $('#myModal').modal('show');
                                                                $(".orderWallet").html(data.data);


                                                            }

                                                        }
                                                    });

                                            }
                                    }


                                    }

                                else {
                                    alert("Không thể chốt");
                                }

                            }
                        });

                    }
                    function ComfrimOrder(Id,IDO)

                    {

                        var href = '/Account/ComfrimOrder'
                        var IIdOrder = $("#IdOrder1").val();
                        var IDShippingCode = $("#IDShippingCode" + IDO).val();
                        var IDTransId = $("#IDTransId" + IDO).val();
                        var IDFee = $("#IDFee" + IDO).val();
                        var IDDownPaymentRate = $("#IDDownPaymentRate" + IDO).val();
                        var IDFeeShipChina = $("#IDFeeShipChina" + IDO).val();
                        var OrderComment = $("#OrderComment" + IDO).val();
                        var MoneyW = $("#MoneyW" + IDO).val();
                        var TotalMoney = $("#TotalMoney").val();
                        var IIdOrder = $("#IdOrder").val();
      
                        var IDPriceReality = $("#IDPriceReality" + IDO).val();
                        var IDPriceRealityEdit = $("#IDPriceRealityEdit" + IDO).val();
                        var model = {
                            IdW: Id,
                            CIDShippingCode: IDShippingCode,
                            CIDTransId: IDTransId,
                            CIDFee: IDFee,
                            CIDDownPaymentRate: IDDownPaymentRate,
                            CIDFeeShipChina: IDFeeShipChina,
                            COrderComment :OrderComment,
                            CIdOrder: IDO,
                            CMoneyW: MoneyW,
                            CIDPriceRealityEdit: IDPriceRealityEdit,
                            CTotalMoney: IDPriceReality
                        }
                        var data = {
                            value: JSON.stringify(model)
                        };


                        $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: href,
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.success == true) {
                                    reloadTabs(IDO);
                                    alert("Thanh toán thành công!");
                                    $('#myModal').modal('hide');
                                }
                                else {
                                    alert("Tài khoản này không đủ số dư để thanh toán!");

                                }

                            }
                        });
                    }
                    function DeleteOrderLink(OrderInternalId) {
                        var href = '/Account/DeletedOrderInternalDetail?id=' + OrderInternalId;
                        var model = { UOrderInternalId: OrderInternalId }
                        var IIdOrder = $("#IdOrder").val();
                        var data = {
                            value: JSON.stringify(model)
                        };
                        $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: href,
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    alert("Xóa Link hàng thành công " + OrderInternalId);
                                    reloadTabs(IIdOrder);
                                }
                                else {
                                    alert("Không thể xóa");
                                }

                            }
                        });
                    }
                    function UpdateLinkOder(OrderInternalDetailId, OrderInternalId) {
                        var IIdOrder = $("#IdOrder").val();
                        var IIdOrder1 = $("#IdOrder1" + OrderInternalId).val();
                        var UpdateLink = $("#UPLink"+ OrderInternalDetailId).val();
                        var UpdateColor = $("#UpdateColor"+ OrderInternalDetailId).val();
                        var UpdateSize = $("#UpdateSize"+ OrderInternalDetailId).val();
                        var UpdateSL = $("#UpdateSL"+ OrderInternalDetailId).val();
                        var UpdateSLTT = $("#UpdateSLTT"+ OrderInternalDetailId).val();
                        var UpdateDongia = $("#UpdateDongia"+ OrderInternalDetailId).val
                        var UpdateDongiaTT = $("#UpdateDongiaTT"+ OrderInternalDetailId).val();
                        var UpdateTongGia = $("#UpdateTongGia"+ OrderInternalDetailId).val();
                        var UpdateTongGiaTT = $("#UpdateTongGiaTT"+ OrderInternalDetailId).val();
                        var UpdateGhichuKhach = $("#UpdateGhichuKhach"+ OrderInternalDetailId).val();
                        var UpdateGhichuSale = $("#UpdateGhichuSale").val();
                        var UOrderIDO = $("#OrderIDO" + OrderInternalId).val();
                        var href = '/Account/UpdateOrderLink'
                        var model = {
                            ULink: UpdateLink,
                            UColor: UpdateColor,
                            USize: UpdateSize,
                            USL: UpdateSL,
                            USLTT: UpdateSLTT,
                            UDonGia: UpdateDongia,
                            UTongGia: UpdateTongGia,
                            UGhichuKhach: UpdateGhichuKhach,
                            UGhichuSale: UpdateGhichuSale,
                            UDongiaTT: UpdateDongiaTT,
                            UTongGiaTT:UpdateTongGiaTT,
                            UOrderInternalId: IIdOrder1,
                            UorderId: OrderInternalDetailId
                        }
                        var data = {
                            value: JSON.stringify(model)
                        };
                          $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: href,
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    reloadTabs(IIdOrder1);
                                    alert("Cập nhật thành công Link hàng " + OrderInternalDetailId);
                                $(function () {
                                    $("#tabId").tabs({
                                        beforeLoad: function (event, ui) {
                                            ui.jqXHR.fail(function () {
                                                ui.panel.html(
                                                  "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                                                  "If this wouldn't be a demo.");
                                            });
                                        }
                                    });
                                });
                            }
                            else {
                                alert("Không thể cập nhật Link Hàng");
                            }

                        }
                        });
                    }


                    window.setInterval(function () {
                        window.setTimeout(function () {
                            UpdateListOrder();
                        }, 500);
                    }, 5000);


                    function UpdateListOrder() {
                        var searchkh = $("#searchKhachhang").val();
                        var searchNBD = $("#searchNBD").val();
                        var searchNKT = $("#searchNKT").val();
                        var searchMaDon = $("#searchMaDon").val();
                        var searchTrangThai = $("#searchTrangThai").val();

                        var data = {
                            KH: searchkh,
                            NBD: searchNBD,
                            NKT: searchNKT,
                            MaDon: searchMaDon,
                            TrangThai: searchTrangThai
                        };

                        $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: '@Url.Action("GetListOrder", "Account")',
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    $(".order").html(data.data);

                                }
                            }
                        });
                    }
                    function OK() {
                        var data = {
                            value :1
                        }
                        $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: '@Url.Action("GetListOrderNotification", "Account")',
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    $(".Notification").html(data.data);

                                }
                            }
                        });
                    }

                    @*function UpdateListNotification() {
                        var searchkh = $("#searchKhachhang").val();
                        var searchNBD = $("#searchNBD").val();
                        var searchNKT = $("#searchNKT").val();
                        var searchMaDon = $("#searchMaDon").val();
                        var searchTrangThai = $("#searchTrangThai").val();

                        var data = {
                            KH: searchkh,
                            NBD: searchNBD,
                            NKT: searchNKT,
                            MaDon: searchMaDon,
                            TrangThai: searchTrangThai
                        };

                        $.ajax({
                            data: JSON.stringify(data),
                            type: 'POST',
                            url: '@Url.Action("GetListOrderNotification", "Account")',
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {

                                if (data.success) {
                                    $(".Notification").html(data.data);

                                }
                            }
                        });
                    }*@
                </script>


                <div class="col-sm-12">

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Danh sách đơn hàng
                            <span class="caret"></span>
                        </button>



                        <ul class="dropdown-menu order">
                            <ii>

                            </ii>

                        </ul>

                    </div>


                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onclick="OK()">
                            Thông báo()
                            <span class="caret"></span>
                        </button>



                        <ul class="dropdown-menu Notification">
                            <ii>

                            </ii>

                        </ul>

                    </div>

                </div>
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li>
                            <a href="#" class="add-contact"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                    </div>
                </div>

                @*<br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Manage", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, listStatus = ViewBag.CurrentStatus, OrderId = ViewBag.CurrentOrderId }))*@


            </div>

        </div>
    </div>

</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="test">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn tài khoản Ngân hàng</h4>
            </div>
            <div class="modal-body orderWallet">

            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>

            </div>

        </div>

    </div>
</div>
<div class="modal fade" id="myCheck" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vui lòng điền đầy đủ thông tin đơn hàng!</h4>
                <div class="modal-footer">


                    <button type="button" class="btn btn-default" data-dismiss="modal">Thực hiện</button>

                </div>

            </div>
        </div>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });


        function CheckBoxes(IdOrderCheck) {
            if ($("#CheckBoxID").prop("checked", true)) {
                var orderInternalId = IdOrderCheck;
                var formData = {
                    orderInternalId: orderInternalId

                };
                $('#myModal').modal('show');
            }
            else {
                $("#CheckBoxID").prop("checked", false);
                alert("Bạn có muốn hủy đơn hàng này?");
            }

        }
        function Comfirm_Order(OrderInternalId) {
            var href = '/Account/Confirm_Order?id=' + OrderInternalId
            $.ajax({
                url: href,
                type: 'POST',
                data: '{ \"orderId\" : \"' + OrderInternalId + '\"}',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                            window.location.reload();
                        });
                    } else {
                        bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    alert("Lỗi");
                }
            });
        }
        function Cancel_Order(OrderInternalId) {
            var href = '/Account/Cancel_Order?id=' + OrderInternalId

            $.ajax({
                url: href,
                type: 'POST',
                data: '{ \"orderId\" : \"' + OrderInternalId + '\"}',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    //alert(data.success);
                    if (data.success) {
                        bootbox.alert("Hủy đơn hàng thành công!", function () {
                            window.location.reload();
                        });
                    } else {
                        bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    alert("Lỗi");
                }
            });
        };
        function MisOrder_Order(OrderInternalId) {
            var href = '/Account/MisOrderOrder?id=' + OrderInternalId

            $.ajax({
                url: href,
                type: 'POST',
                data: '{ \"orderId\" : \"' + OrderInternalId + '\"}',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    //alert(data.success);
                    if (data.success) {
                        bootbox.alert("Báo hết hàng thành công!", function () {
                            window.location.reload();
                        });
                    } else {
                        bootbox.alert("Có lỗi trong quá trình báo hết hàng!", function () {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    alert("Lỗi");
                }
            });
        };
        function edit_form(orderDetailId) {
            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var test = true
            var href = '/Account/AddEditOrderInternalDetail?id=' + orderDetailId;

            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        };
        function update_form(orderDetailId) {
            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = '/Account/AccountingConfirmOrder?id=' + orderDetailId;

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        };
        function delete_form(orderDetailId) {
            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = '/Account/DeletedOrderDetail?id=' + orderDetailId;

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            $modalDialog.load(href)


        }
    </script>

}


