﻿@using Newtonsoft.Json
@using OrderChina.Models
@using PagedList.Mvc
@using OrderChina.Common
@model PagedList.IPagedList<OweModel>
@{
    ViewBag.Title = "Danh sách nợ";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>

        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListOweAccount", true } })
        @*@Html.Partial("_LayoutUser", new ViewDataDictionary { { "walletmanage", true } })*@

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>DANH SÁCH NỢ</h3>

                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Số điện thoại</th>
                                <th class='text-center'>Email</th>
                                <th class='text-center'>Tên</th>
                                <th class='text-center'>Số nợ</th>
                                <th class='text-center'>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td class='text-center'>
                                         <div> @item.OweValue.ToString("N0")</div>
                                    </td>

                                    <td class='text-center'>
                                        <a rel='tooltip' title="Chi tiết"
                                               href=@Url.Action("ListOweAccountDetail", "Account",new {item.Phone} ) class="btn btn-xs btn-primary btn-change">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListOrderAccount", new { page, userType = ViewBag.CurrentUserType }))
            </div>
        </div>
    </div>
</section>