﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Approval>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListApproval", true } })

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>DANH SÁCH PHÊ DUYỆT</h3>
                <p>
                    <span>Tìm kiếm</span>
                    @using (Html.BeginForm("ListApproval", "Account", FormMethod.Get))
                    {
                        <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                            <input class="form-control btn-flat" placeholder="Từ ngày"
                                   data-placement="top" data-toggle="tooltip" rel="tooltip"
                                   data-original-title="Từ ngày" name="fromDate" type="text"
                                   value="@ViewBag.CurrentFromDate">
                        </div>

                        <div class='col-md-2' id="toDate">
                            <input class="form-control btn-flat" placeholder="Đến ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Đến ngày" name="toDate" type="text" value="@ViewBag.CurrentToDate">
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("approvalType", (IEnumerable<SelectListItem>)ViewBag.ListApprovalType, "--Loại phê duyệt--", new { @class = "form-control flat" })
                        </div>
                        <div class="col-xs-3 input-text">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>

                    }
                </p>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Mã</th>
                                <th class='text-center'>Mã lệnh</th>
                                <th class='text-center'>Loại phê duyệt</th>
                                <th class='text-center'>Ngày tạo</th>
                                <th class='text-center'>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.ApprovalId)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternalId)
                                    </td>
                                    <td class='text-center'>
                                        @item.getApprovalType()
                                    </td>
                                    <td class='text-center'>
                                        @item.CreateDate.ToString("dd/mm/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        <a rel='tooltip' title="Xem chi tiết"
                                           href=@Url.Action("ApprovalDetail", "Account", new {id = item.ApprovalId }) class="btn btn-xs btn-primary">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListClient", new { page, userType = ViewBag.CurrentUserType, userName = ViewBag.CurrentUserName }))
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
}
