﻿@using Newtonsoft.Json
@using OrderChina.Models
@using PagedList.Mvc
@using OrderChina.Common
@model PagedList.IPagedList<Approval>
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>

        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "listRequestAmount", true } })
        @*@Html.Partial("_LayoutUser", new ViewDataDictionary { { "walletmanage", true } })*@

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>DANH SÁCH NGƯỜI SỬ DỤNG</h3>
                <div class="col-sm-12">
                    <a href="@Url.Action("OrderCreateRequestAmount", "Account")" rel='tooltip' title="Thêm phí" class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm Yêu cầu</a>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Số tiền</th>
                                <th class='text-center'>Lý do</th>
                                <th class='text-center'>Trạng thái</th>
                                @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                {
                                    <th class='text-center'>Thao tác</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var itemObject = JsonConvert.DeserializeObject<RequestAmount>(item.ApprovalValue);
                                if (itemObject == null)
                                {
                                    continue;
                                }
                                
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => itemObject.Amount)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => itemObject.Reason)
                                    </td>
                                    <td class='text-center'>
                                        <div>@Utils.GetApprovalStatus(item.OrderInternalId)</div>
                                    </td>
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        <td class='text-center'>
                                            <a rel='tooltip' title="Xử lý"
                                               href=@Url.Action("AccountProcessRequestAmount", "Account", item) class="btn btn-xs btn-primary btn-change">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                            <a rel='tooltip' title="Từ chối"
                                               href=@Url.Action("RequestAmountReject", "Account", item) class="btn btn-xs btn-primary btn-deleted">
                                                <i class="fa fa-trash-o"></i>
                                            </a>

                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListRequestAmount", new { page, userType = ViewBag.CurrentUserType }))
            </div>
        </div>
    </div>
    <div class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $('.btn-create').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });

            $('.btn-change').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        });
    </script>
}
