﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<UserProfile>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
       @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListUser", true } }) 

    <div class="col-md-9 order-content">
        <div class='row'>
            <h3 class='text-center'>DANH SÁCH NGƯỜI SỬ DỤNG</h3>

            <p>
                <a style="background-color:#ffeded" href="@Url.Action("Register","Account",new {cmd = "user"})"><button class="btn btn-primary btn-flat">Tạo mới</button></a>
                <span>Tìm kiếm</span>
                @using (Html.BeginForm("ListUser", "Account", FormMethod.Get))
                {
                    <div class='col-md-2' style="padding-left: inherit">
                        <input class="form-control btn-flat " placeholder="Số điện thoại" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Email" autofocus="autofocus" name="userName" value="@ViewBag.CurrentUserName" type="text">
                    </div>

                    <div class="col-md-3">
                        @Html.DropDownList("userType", (IEnumerable<SelectListItem>)ViewBag.ListUserType, "--Loại người dùng--", new { @class = "form-control flat" })
                    </div>
                    <div class="col-md-1">
                        <button name="submit" type="submit" class="btn btn-primary">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>

                }
            </p>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="table-responsive" style="width: 100%">

                <table class="table table-bordered table-striped" style="font-size: 10.5px">
                    <thead>
                        <tr>
                            <th class='text-center'>Email</th>
                            <th class='text-center'>Họ tên</th>
                            <th class='text-center'>Số điện thoại</th>
                            <th class='text-center'>Loại người dùng</th>
                            <th class="text-center">Ngày sinh</th>
                            <th class="text-center">Số tài khoản</th>
                            <th class='text-center'>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>

                                <td class='text-center'>
                                    @item.getUserType()
                                </td>
                                <td class='text-center'>
                                    @item.Birthday.ToString("dd/MM/yyyy")
                                </td>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Account)
                                </td>
                                <td class='text-center'>
                                    @*@if (item.UserType == UserType.Client.ToString())
                                            {
                                                <a rel='tooltip' title="Gán sale quản lý" href=@Url.Action("AssignSaleForClient", "Account", new { id = item.Phone, userSale = item.SaleManage }) class="btn btn-xs btn-primary btn-assign">
                                                    <i class="fa fa-file"></i>
                                                </a>
                                                <a rel='tooltip' title="Ví điện tử" href=@Url.Action("Index", "Wallet", new { id = item.Phone }) class="btn btn-xs btn-primary">
                                                    <i class="fa fa-money"></i>
                                                </a>
                                            }*@
                                        @if (!Utils.CheckRole(item.UserType, (int)UserType.Admin, false) && !Utils.CheckRole(item.UserType, (int)UserType.Client, false))
                                        {
                                            <a rel='tooltip' title="Thay đổi quyền"
                                               href=@Url.Action("ChangeUserType", "Account", new { id = item.Phone, userType = item.UserType }) class="btn btn-xs btn-primary btn-change">
                                                <i class="fa fa-cog"></i>
                                            </a>                                      
                                            <a rel='tooltip' title="Xóa người dùng"
                                               href=@Url.Action("DeleteUser", "Account", new { id = item.Phone }) class="btn btn-xs btn-primary btn-deleted">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            <a rel='tooltip' title="Đổi mật khẩu user"
                                               href=@Url.Action("ChangePassOfAdmin", "Account", new { id = item.Phone }) class="btn btn-xs btn-primary btn-user">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                            </a>
                                            <a rel='tooltip' title="Xem lịch sử chát"
                                               href=@Url.Action("HistoryChat", "Account", new { id = item.UserId }) class="btn btn-xs btn-primary btn-chat">
                                                <i class="glyphicon glyphicon glyphicon-user"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListClient", new { page, userType = ViewBag.CurrentUserType, userName = ViewBag.CurrentUserName }))
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
    <div class="modal fade"
         id="myModalViewDetailChat"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $(document).ready(function () {

            $('.btn-assign').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-user').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-change').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModalViewDetailChat');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-chat').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-deleted').click(function (e) {


                e.preventDefault();
                var url = $(this).attr('href');

                bootbox.dialog({
                    message: "Bạn có chắc muốn xóa người dùng này?",
                    title: "Confirm deleted user",
                    buttons: {
                        success: {
                            label: "Xóa!",
                            className: "btn btn-success",
                            callback: function () {
                                $.ajax({
                                    url: url,
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (data) {
                                        if (data.success) {
                                            bootbox.alert("Xóa người dùng thành công!", function () {
                                                window.location.reload();
                                            });

                                            $(this).modal('hide');
                                        } else {
                                            bootbox.alert("Có lỗi trong quá trình xóa người dùng!", function () {
                                                window.location.reload();
                                            });

                                            $(this).modal('hide');
                                        }
                                    },
                                    error: function () {
                                        alert("Lỗi");

                                        $(this).modal('hide');
                                    }
                                });
                            }
                        },
                        danger: {
                            label: "Đóng!",
                            className: "btn btn-flat",
                            callback: function () {
                                $(this).modal('hide');
                            }
                        }
                    }
                });
            });
        }); // document ready

    </script>

}
