﻿@using Newtonsoft.Json
@using OrderChina.Models
@using PagedList.Mvc
@using OrderChina.Common
@model PagedList.IPagedList<OrderInternal>
@{
    ViewBag.Title = "Danh sách nợ - " + @ViewBag.Phone;
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@if (Session["UserType"] != null)
{

    if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
    {
        <div>
            @Html.Partial("_Menu_User_Horizontal", new ViewDataDictionary { { "ListOweAccountDetail", true } })
        </div>
    }
}
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>

        @if (Session["UserType"] != null)
        {

            if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
            {
                <div >
                    @Html.Partial("_LayoutUser", new ViewDataDictionary { { "ListOweAccountDetail", true } })
                </div>
            }
            else
            {
                @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListOweAccountDetail", true } })
            }
        }

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>THÔNG TIN CHI TIẾT NỢ CỦA KHÁCH HÀNG - @ViewBag.Phone - @ViewBag.Email - @ViewBag.FullName</h3>

                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Mã đơn hàng</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Nợ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternalInDayID)
                                    </td>

                                    <td class='text-center'>
                                        <div>@Utils.GetOrderStatus(item.Status)</div>
                                    </td>

                                    <td class='text-center'>
                                        <div> @item.Owe.ToString("##,###")</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListOweAccountDetail", new { ViewBag.Phone, page }))
            </div>
        </div>
    </div>

</section>
