﻿@using Newtonsoft.Json
@using OrderChina.Models
@using PagedList.Mvc
@using OrderChina.Common
@model PagedList.IPagedList<OrderAccount>
@{
    ViewBag.Title = "Đơn hàng nhập";
}
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>

        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListOrderAccount", true } })
        @*@Html.Partial("_LayoutUser", new ViewDataDictionary { { "walletmanage", true } })*@

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>DANH SÁCH ĐƠN HÀNG NHẬP</h3>
                <div class="col-sm-12">
                    <a href="@Url.Action("CreateOrderAccount", "Account")" rel='tooltip' title="Thêm phí" class='btn btn-info btn-primary btn-create'><i class="glyphicon glyphicon-tags glyphicon "></i>Thêm Đơn hàng</a>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Số đơn</th>
                                <th class='text-center'>Mặt hàng</th>
                                <th class='text-center'>Số lượng</th>
                                <th class='text-center'>Giá</th>
                                <th class='text-center'>Phí Khác</th>
                                <th class='text-center'>Thành tiền</th>
                                <th class='text-center'>TT Hệ Thống</th>
                                <th class='text-center'>TT KH</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Ghi chú</th>
                                @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting) || Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve) || Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                {
                                    <th class='text-center'>Thao tác</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderAccountId)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.SymbolName)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Fee)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.TotalValue)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.ValueSystem)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.ValueCustomer)
                                    </td>

                                    <td class='text-center'>
                                        <div>@Utils.GetOrderAccountState(item.Status)</div>
                                    </td>
                                     <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                        <td class='text-center'>

                                    @if ((Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting)
                                        || Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve)) && item.Status == OrderStatus.Order.ToString())
                                    {
                                            <a rel='tooltip' title="Chi tiết"
                                               href=@Url.Action("OrderAccountDetail", "Account", item) class="btn btn-xs btn-primary btn-change">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                    }

                                    @if ((Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting)
                                        || Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale)
                                        || Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve)) && item.Status == OrderStatus.PendingExport.ToString())
                                    {
                                            <a rel='tooltip' title="Chi tiết"
                                               href=@Url.Action("ListOrderAccountDetail", "Account", new { orderId = item.OrderAccountId }) class="btn btn-xs btn-primary btn-reload">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                    }
                                        </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ListOrderAccount", new { page, userType = ViewBag.CurrentUserType }))
            </div>
        </div>
    </div>
    <div class="modal fade"
        id="myModalListOrderAccount"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalListOrderAccountLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $('.btn-create').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModalListOrderAccount');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });

            $('.btn-change').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModalListOrderAccount');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        });
    </script>
}
