﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<OrderInternal>
@{
    ViewBag.Tilte = "ListOdrerCancel";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container' *@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListOdrerCancel", true } })

        <div class="col-md-9 order-content">
            <div class='row'>


                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li>
                            <a href="#" class="add-contact"></a>
                        </li>
                    </ul>

                    <div class="tab-content">


                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                                <thead>
                                    <tr>
                                        @if (Session["UserType"] != null)
                                        {
                                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                            {
                                                <th class='text-center'>Khách hàng</th>
                                            }
                                        }
                                        <th class='text-center'>Mã đơn</th>
                                        <th class='text-center'>Mã giao dịch</th>
                                        <th class='text-center'>Tỷ giá</th>
                                        <th class='text-center'>Trạng thái</th>
                                        <th class='text-center'>Tổng tiền</th>
                                        <th class="text-center">Ngày tạo</th>
                                        <th class='text-center'>Xem chi tiết đơn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @if (Session["UserType"] != null)
                                            {
                                                if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                                {
                                                    <td class='text-center'>
                                                        @Html.DisplayFor(modelItem => item.Phone)
                                                    </td>
                                                }
                                            }
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.TransId)
                                            </td>
                                            <td class='text-center'>
                                                @item.Rate.ToString("##,###")
                                            </td>
                                            <td class='text-center'>
                                                @item.getStatusText()
                                            </td>
                                            <td class='text-center'>
                                                @item.TotalPriceConvert.ToString("##,###")
                                            </td>
                                            <td class='text-center'>
                                                @item.CreateDate.ToString("dd/MM/yyyy")
                                            </td>


                                            <td class='text-center'>
                                                <a rel='tooltip' id="@item.OrderInternalId" title="Xem"
                                                   href="@Url.Action("ViewOrderDetailUpdate", "Account", new { id = item.OrderInternalId })" class="btn btn-xs btn-primary ">
                                                    Xem chi tiết
                                                    @*<i class="fa fa-search-plus"></i>*@
                                                </a>
                                            </td>



                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="tab-pane" id="contact_02"></div>
                        </div>
                    </div>
                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Manage", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, listStatus = ViewBag.CurrentStatus, OrderId = ViewBag.CurrentOrderId }))

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
}
