﻿@model OrderChina.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>


    <div class="container  ">
        <div class="card "></div>
        <div class="card ">
            <h1 class="title">Đăng nhập </h1>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
            @Html.AntiForgeryToken()

            <form>

                <div class="input-container">
                    <br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeholder = "Email/Phone", required = "required" })

                    <div style="color:red;">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    <label for="Username">
                        Tên đăng nhập
                    </label>

                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Pass", required = "required" })

                    <div style="color:red;">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <label for="Password">
                        Mật khẩu
                    </label>
                    <div class="bar"></div>
                </div>

                <br /><div class="input-container"><div style="color:red;">@Html.ValidationSummary(true)</div></div>
                <div class="button-container">
                    <button type="submit" value=""><span>Đăng nhập</span></button>
                </div>

                <div class="footer">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </div>

            </form>
            }
        </div>
        <div class="card alt">
            <div class="toggle">
                <img src="~/Images/logo.png" style="margin-top:18px;width:78px;" alt="Đặt hàng giá rẻ" />
            </div>
        </div>
    </div>
</body>
</html>

