﻿@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<ViewManager>
@{
    ViewBag.Title = "Đơn hàng đã về";
}
@Styles.Render("~/Content/PagedList")
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ManageReceiver", true } })
        <div class="col-md-9 order-content">
            <div class='row'>
                @using (Html.BeginForm("ManageReceiver", "Account", FormMethod.Get))
                {
                    <p>
                        <div class='col-md-2' id="username" style="padding-left: inherit">
                            <input class=" form-control btn-flat" placeholder="Khách hàng" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Khách hàng" name="username" type="text" value="@ViewBag.CurrentUserName">
                        </div>
                        <div class='col-md-2' id="fromDate">
                            <input class=" form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                        </div>
                        <div class='col-md-2' id="toDate">
                            <input class="form-control btn-flat" placeholder="Đến ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Đến ngày" name="toDate" type="text" value="@ViewBag.CurrentToDate">
                        </div>
                        <div class='col-md-2'>
                            <input class="form-control btn-flat " placeholder="Mã đơn" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Mã đơn" autofocus="autofocus" name="OrderId" value="@ViewBag.CurrentOrderId" type="text">
                        </div>
                        @*<div class="col-md-3">
                                @Html.DropDownList("listStatus", (IEnumerable<SelectListItem>)ViewBag.ListStatus, "--Trạng thái đơn--", new { @class = "form-control flat" })
                            </div>*@
                        <div class="col-xs-3 input-text">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>
                    </p>
                }
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Mã Khách hàng</th>
                                <th class='text-center'>SĐt Khách hàng</th>
                                <th class='text-center'>Tên Khách hàng</th>
                                <th class='text-center'>Mã đơn</th>
                                <th class='text-center'>Mã giao dịch</th>
                                <th class='text-center'>Tỷ giá</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Tổng tiền</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class='text-center'>Xem chi tiết đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.IdUser)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.Phone)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.OrderInternalInDayID)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.TransId)
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.Rate.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.getStatusText()
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.TotalPriceConvert.ToString("##,##0")
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.CreateDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        <a rel='tooltip' title="Xem chi tiết"
                                           href=@Url.Action("ViewOrderDetailNew", "Account",new{id = item.OrderInternals.OrderInternalId}) class="btn btn-xs btn-primary">
                                            <i class="fa fa-search-plus"></i>
                                            @Html.Raw(ViewBag.danger)
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ManageReceiver", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, OrderId = ViewBag.CurrentOrderId }))
            </div>
        </div>
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 900px">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
        $('.btn-shippingid').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $modal.find('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
    </script>
}
