﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<ViewManager>
@{
    ViewBag.Title = "Đơn chưa phân shop";
}
@Styles.Render("~/Content/PagedList")
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "managenoshop", true } })
        <div class="col-md-9 order-content">
            <div class='row'>
                @if (Session["UserType"] != null)
                {
                    if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                    {
                        <a href="@Url.Action("CreateOrderOfSale", "Account")" class="btn btn-primary btn-flat">
                            @*<button class="btn btn-primary btn-flat">Tạo đơn hàng</button>*@
                            Tạo đơn hàng
                        </a>
                    }
                }
                @using (Html.BeginForm("ManageNoShop", "Account", FormMethod.Get))
                {
                    <p>
                        @if (Session["UserType"] != null)
                        {
                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                            {
                                <div class='col-md-2' id="username" style="padding-left: inherit">
                                    <input class="form-control btn-flat" placeholder="Khách hàng" data-placement="top" 
				    data-toggle="tooltip" rel="tooltip" data-original-title="Khách hàng" 
				    name="username" type="text" value="@ViewBag.CurrentUserName">
                                </div>

                                <div class='col-md-2' id="fromDate">
                                    <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" 
				    data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" 
				    name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                </div>
                            }
                            else
                            {
                                <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                    <input class="form-control btn-flat" 
				    placeholder="Từ ngày" 
				    data-placement="top" 
				    data-toggle="tooltip" 
				    rel="tooltip" 
				    data-original-title="Từ ngày" 
				    name="fromDate" 
				    type="text" 
				    value="@ViewBag.CurrentFromDate">
                                </div>
                            }
                        }
                        else
                        {
                            <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                <input class="form-control btn-flat" placeholder="Từ ngày" 
				data-placement="top" data-toggle="tooltip" rel="tooltip" 
				data-original-title="Từ ngày" name="fromDate" type="text" 
				value="@ViewBag.CurrentFromDate">
                            </div>
                        }
                        <div class='col-md-2' id="toDate">
                            <input class="form-control btn-flat" placeholder="Đến ngày" 
			    data-placement="top" data-toggle="tooltip" rel="tooltip" 
			    data-original-title="Đến ngày" name="toDate" type="text" 
			    value="@ViewBag.CurrentToDate">
                        </div>
                        <div class='col-md-2'>
                            <input class="form-control btn-flat " placeholder="Mã đơn" data-placement="top" 
			    data-toggle="tooltip" rel="tooltip" data-original-title="Mã đơn" autofocus="autofocus" 
			    name="OrderId" value="@ViewBag.CurrentOrderId" type="text">
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("listStatus", (IEnumerable<SelectListItem>)ViewBag.ListStatus, "--Trạng thái đơn--", new { @class = "form-control flat" })
                        </div>
                        <div class="col-xs-3 col-md-1 input-text">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>
                    </p>
                }
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="table-responsive" style="width: 100%">
                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                @if (Session["UserType"] != null)
                                {
                                    if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                    {
                                        <th class='text-center'>Mã Khách hàng</th>
                                        <th class='text-center'>SĐT Khách hàng</th>
                                        <th class='text-center'>Tên Khách hàng</th>
                                    }
                                }
                                <th class='text-center'>Mã đơn</th>

                                <th class='text-center'>Tỷ giá</th>
                                <th class='text-center'>Loại đơn hàng</th>
                                @*<th class='text-center'>Trạng thái</th>*@
                                <th class='text-center'>Tổng tiền</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class='text-center'>Xem chi tiết đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in Model)
                            {
                                <tr>
                                    @if (Session["UserType"] != null)
                                    {
                                        if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                        {

                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => detail.IdUser)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => detail.Orders.Phone)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => detail.UserName)
                                            </td>
                                        }
                                    }
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => detail.Orders.OrderId)
                                    </td>

                                    <td class='text-center'>
                                        @detail.Orders.Rate.ToString("##,###")
                                    </td>
                                    @if (detail != null && detail.Orders != null)
                                    {
                                        <td class='text-center' style="color:red">
                                            @detail.Orders.getOrderTypeText()
                                        </td>
                                    }
                                    @*<td class='text-center'>
                                            @(item.Orders.IsShop ? "Đã phân shop" : "Chưa phân shop")
                                        </td>*@
                                    <td class='text-center'>
                                        @detail.Orders.TotalPriceConvert.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @detail.Orders.CreateDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        @if (Session["UserType"] != null)
                                        {
                                            if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                            {
                                                if (detail.Orders.IsShop)
                                                {
                                                    <a rel='tooltip' title="Xem chi tiết"
                                                       href=@Url.Action("ViewOrderDetailForSale", "Account", new {id = detail.Orders.OrderId}) class="btn btn-xs btn-primary">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a rel='tooltip' title="Xem chi tiết"
                                                       href=@Url.Action("ViewOrderNoShopDetail", "Account", new {id = detail.Orders.OrderId}) class="btn btn-xs btn-primary">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                }

                                            }
                                            else if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                            {
                                                <a rel='tooltip' title="Xem chi tiết"
                                                   href=@Url.Action("ViewOrderDetailForSale", "Account", new {id = detail.Orders.OrderId}) class="btn btn-xs btn-primary">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ManageNoShop", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, listStatus = ViewBag.CurrentStatus, OrderId = ViewBag.CurrentOrderId }))
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
}
