﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Shipment>

@{
    ViewBag.Title = "ManageShipment";
}

@Styles.Render("~/Content/PagedList")
<section style='padding-top: 40px;'>
    <div class='row'>
        <div class="col-md-2">
            @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Deposit", true } })
        </div>
        <div class="col-md-10 order-content" style="padding-left: 40px; padding-right: 50px;">
            <div class='row'>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <a href="@Url.Action("CreateShipmentDetail", "Account")" style="font-size:17px;"
                           rel='tooltip' class='btn btn-info btn-xs' id="btnCreatShipment">
                            Tạo lô hàng
                        </a>
                    </div>
                    <div class="col-md-9" style="color:red;font-size:13px;">
                        @ViewBag.MessageError
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>

                <div class="tab-content">
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>

                                    <th class='text-center'>Mã lô hàng</th>
                                    <th class='text-center'>Tên lô hàng</th>
                                    <th class='text-center'>Chiều dài (m)</th>
                                    <th class='text-center'>Chiều rộng (m)</th>
                                    <th class='text-center'>Chiều cao (m)</th>
                                    <th class="text-center">Khối lượng (kg)</th>
                                    <th class="text-center">Thể tích (m<sup>3</sup>)</th>
                                    <th class="text-center">Ngày tạo</th>
                                    <th class="text-center">Hình thức vận chuyển</th>
                                    <th class="text-center">Tiền vận chuyển (Tệ)</th>
                                    <th class='text-center'>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class='text-center'>
                                            @item.ShipmentId
                                        </td>
                                        <td class='text-center'>
                                            @item.Name
                                        </td>
                                        <td class='text-center'>
                                            @item.Length
                                        </td>
                                        <td class='text-center'>
                                            @item.Width
                                        </td>
                                        <td class='text-center'>
                                            @item.Height
                                        </td>
                                        <td class='text-center'>
                                            @item.Weight
                                        </td>
                                        <td class='text-center'>
                                            @item.Volume
                                        </td>
                                        <td class='text-center'>
                                            @item.LastUpdate.ToString("dd/MM/yyyy")
                                        </td>
                                        <td class='text-center'>
                                            @item.getShipmentTypeText()
                                        </td>
                                        <td class='text-center'>
                                            @item.PriceFee
                                        </td>

                                        <td class='text-center'>
                                            <a rel='tooltip' title="Xem chi tiết"
                                               href=@Url.Action("ShipmentDetail", "Account", new { id = item.ShipmentId }) class="btn btn-xs btn-primary">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            @if (item.PaymentStatus == 0 && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                            {
                                                <a rel='tooltip' title="Thanh toán" id="AccountShipmentDetail"
                                                   href=@Url.Action("AccountShipmentDetail", "Account", new { id = item.ShipmentId }) class="btn btn-xs btn-primary">
                                                    <i class="fa fa-exchange"></i>
                                                </a>
                                            }

                                            <a href="@Url.Action("DeletedShipment", "Account",
                                                        new { id = item.ShipmentId })" rel='tooltip'
                                               title="Xóa lô hàng" class='btn btn-danger btn-xs btn-deleted '><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#btnCreatShipment').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

        $('#AccountShipmentDetail').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });




    </script>
}
