﻿@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<ViewManager>
@{
    ViewBag.Title = "Đơn hàng thay đổi";
}
@Styles.Render("~/Content/PagedList")
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ManageOrdererReject", true } })
        <div class="col-md-9 order-content">
            <div class='row'>
                @using (Html.BeginForm("ManageOrdererReject", "Account", FormMethod.Get))
                {
                    <p>
                        <div class='col-md-2' id="username" style="padding-left: inherit">
                            <input class=" form-control btn-flat" placeholder="Khách hàng" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Khách hàng" name="username" type="text" value="@ViewBag.CurrentUserName">
                        </div>
                        <div class='col-md-2' id="fromDate">
                            <input class=" form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                        </div>
                        <div class='col-md-2' id="toDate">
                            <input class="form-control btn-flat" placeholder="Đến ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Đến ngày" name="toDate" type="text" value="@ViewBag.CurrentToDate">
                        </div>
                        <div class='col-md-2'>
                            <input class="form-control btn-flat " placeholder="Mã đơn" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Mã đơn" autofocus="autofocus" name="OrderId" value="@ViewBag.CurrentOrderId" type="text">
                        </div>
                        <div class="col-xs-3 input-text">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>
                    </p>
                }
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Mã Khách hàng</th>
                                <th class='text-center'>SĐT Khách hàng</th>
                                <th class='text-center'>Tên Khách hàng</th>
                                <th class='text-center'>Mã đơn</th>
                                <th class='text-center'>Mã giao dịch</th>
                                <th class='text-center'>Tỷ giá</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Tổng tiền</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class='text-center'>Xem chi tiết đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.IdUser)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.Phone)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.OrderInternalId)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternals.TransId)
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.Rate.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.getStatusText()
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.TotalPriceConvert.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @item.OrderInternals.CreateDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        <a rel='tooltip' title="Xem chi tiết"
                                           href=@Url.Action("ViewOrderDetail", "Account",new{id = item.OrderInternals.OrderInternalId }) class="btn btn-xs btn-primary">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ManageOrdererReject", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, OrderId = ViewBag.CurrentOrderId }))
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
}
