﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<PackageOrder>
@{
    ViewBag.Title = "ManagePakageOrder";
}

@Styles.Render("~/Content/PagedList")
<section style='padding-top:40px;'>
    <div class='row'>
        <div class="col-md-2">
            @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Deposit", true } })
        </div>
        <div class="col-md-10 order-content" style="padding-left:40px;padding-right:40px;">
            <div class='row'>

                <p>
                    
                    
                    <div class="col-md-2">

                        <a href="@Url.Action("CreatePakageOrder", "Account")" style="font-size:17px;"
                           rel='tooltip' class='btn btn-info btn-xs' id="btnCreat">
                            Tạo gói hàng
                        </a>
                    </div>
                </p>


                <div class="col-sm-12">
                    <hr>
                </div>
               
                <div class="tab-content">
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>
                                    <th class='text-center'>Mã gói hàng</th>
                                    <th class='text-center'>Mã vận đơn</th>
                                    <th class='text-center'>Chiều dài (m)</th>
                                    <th class='text-center'>Chiều rộng (m)</th>
                                    <th class='text-center'>Chiều cao (m)</th>
                                    <th class="text-center">Khối lượng (kg)</th>
                                    <th class="text-center">Thể tích (m3)</th>
                                    <th class="text-center">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class='text-center'>
                                            @item.PackageOrderId
                                        </td>
                                        <td class='text-center'>
                                            @item.ShippingCode
                                        </td>
                                        <td class='text-center'>
                                            @item.Length
                                        </td>
                                        <td class='text-center'>
                                            @item.Width
                                        </td>
                                        <td class='text-center'>
                                            @item.Height
                                        </td>
                                        <td class='text-center'>
                                            @item.Weight
                                        </td>
                                        <td class='text-center'>
                                            @item.Volume
                                        </td>
                                        <td class='text-center'>
                                            <a href="@Url.Action("DeletedPackageInManagePakageOrder", "Account",
                                                        new {PackageOrderId = item.PackageOrderId})" rel='tooltip'
                                               title="Xóa gói hàng" class='btn btn-danger btn-xs btn-deleted '><i class="fa fa-trash-o"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#btnCreat').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });




    </script>
}


