﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@{
    ViewBag.Title = "Đơn nạp tệ";
}
<style>
    #action i:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        box-shadow: 0px 0px 30px gray;
        -webkit-box-shadow: 0px 0px 30px gray;
        -moz-box-shadow: 0px 0px 30px gray;
        opacity: 1;
    }

    #action i {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        opacity: 1;
    }
</style>
@model PagedList.IPagedList<Forex>
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @if (Session["UserType"] != null)
        {

            if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
            {
                <div style="padding-left:50px;">
                    @Styles.Render("~/Content/Minh_user")
                    @Html.Partial("_Menu_User_Vertical", new ViewDataDictionary { { "Forex", true } })
                </div>
            }
            else
            {
                @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Forex", true } })
            }
            <div class="col-md-9 order-content">
                <div class='row'>
                    @using (Html.BeginForm("ManageForex", "Account", FormMethod.Get))
                    {
                        <p>
                            @if (Session["UserType"] != null)
                            {
                                if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                {
                                    <div class='col-md-2' id="username" style="padding-left: inherit">
                                        <input class="form-control btn-flat" placeholder="Khách hàng" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Khách hàng" name="username" type="text" value="@ViewBag.CurrentUserName">
                                    </div>

                                    <div class='col-md-2' id="fromDate">
                                        <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                    </div>
                                }
                                else
                                {
                                    <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                        <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                    </div>
                                }
                            }
                            else
                            {
                                <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                    <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                </div>
                            }

                            <div class='col-md-2' id="toDate">
                                <input class="form-control btn-flat" placeholder="Đến ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Đến ngày" name="toDate" type="text" value="@ViewBag.CurrentToDate">
                            </div>
                            <div class="col-xs-3 input-text">
                                <button name="submit" type="submit" class="btn btn-primary">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </p>
                    }

                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-lg-12" style="margin:5px 0px 10px 0px">
                        @if (Session["UserType"] != null)
                        {
                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                            {

                            }
                            else
                            {
                                <a href="@Url.Action("CreateForex", "Account")" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-primary btn-create'><i class="fa fa-cc-amex" aria-hidden="true"></i>Tạo đơn nạp tệ mới</a>
                            }
                        }
                    </div>
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>
                                    @if (Session["UserType"] != null)
                                    {
                                        if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                        {
                                            <th class='text-center'>Khách hàng</th>
                                        }
                                    }
                                    <th class='text-center'>Số tiền nạp</th>
                                    <th class='text-center'>Tỷ giá</th>
                                    <th class='text-center'>Phí</th>
                                    <th class='text-center'>Tổng thành toán</th>
                                    @if (Session["UserType"] != null)
                                    {
                                        if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                        {
                                            <th class='text-center'>Tình trạng</th>
                                        }
                                    }
                                    <th class="text-center">Ngày nạp</th>
                                    @if (Session["UserType"] != null)
                                    {
                                        if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                        {
                                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Staff) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                            {
                                                <th class="text-center">Thao tác</th>
                                            }
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var a in Model)
                                {
                                    <tr class="text-center">
                                        @if (Session["UserType"] != null)
                                        {
                                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                            {
                                                <th class='text-center'>@a.Forex_Phone</th>
                                            }
                                        }
                                        <td>@a.Amount.ToString("##,###") (Tệ)</td>
                                        <td>@a.Rate.ToString("##,###") (VNĐ)</td>
                                        <td>@a.Service.ToString("##,###") (VNĐ)</td>
                                        <td>@((a.Amount * a.Rate + a.Service).ToString("##,###")) (VNĐ)</td>
                                        @if (Session["UserType"] != null)
                                        {
                                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                            {

                                                <th class='text-center'>@a.getForexType()</th>
                                            }
                                        }
                                        <td>@a.Date.ToString("dd/MM/yyyy")</td>
                                        @if (Session["UserType"] != null)
                                        {
                                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                            {
                                                if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Staff) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve) && !Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                                {
                                                    <th class="text-center"><a id="action" title="Chốt đơn nạp tệ" onclick="update(@a.ForexID)" data-toggle="modal" data-target="#myModal1"><i class="fa fa-asterisk"></i></a></th>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("ManageForex", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate }))
                </div>
            </div>
        }
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 480px">
        <!-- empty -->
    </div>
</div>
<div class="modal fade"
     id="myModal1"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 550px">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
        $('.btn-create').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
        function update(ForexID) {
            var data = {
                ForexID: ForexID
            }
            $.ajax({
                data: JSON.stringify(data),
                type: 'POST',
                url: '@Url.Action("ViewForex", "Account")',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success == true) {
                        $(".modal-dialog").html(data.data);
                    } else {
                        $(".modal-dialog").html(data.data)
                    }
                }
            });
        };
        function edit(ForexID) {
            var data = {
                ForexID: ForexID
            }
            $.ajax({
                data: JSON.stringify(data),
                type: 'POST',
                url: '@Url.Action("UpdateForex", "Account")',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success == true) {
                        window.location = "@Url.Action("ManageForex", "Account")"
                    } else {
                        alert('Số tiền của bạn không đủ để thực hiện');
                    }
                }
            });
        };
    </script>
}
