﻿@{
    ViewBag.Title = "OrderCreateRequestAmount";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@using (Html.BeginForm("OrderCreateRequestAmount", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo yêu cầu cấp tiền</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Số tiền</div>
                    <div class="col-sm-4">@Html.TextBox("Amount", null, new { @class = "form-control", placeholder = "Nhập số tiền" }) </div>
                    <div class="col-sm-2">Lý do</div>
                    <div class="col-sm-4">@Html.TextArea("Reason", null, new { @class = "form-control", placeholder = "Lý do" })</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Gửi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}