﻿@{
    ViewBag.Title = "OrderPaid";
}
@using PagedList.Mvc
@model PagedList.IPagedList<OrderInternal>
@using OrderChina.Common
@using OrderChina.Models
<script src="~/Scripts/index.js"></script>
@Html.Partial("_Menu_User_Horizontal")
<div class="page-body page-background">
    <div id="page-order-list" class="container" style="padding-left:15px;padding-right:15px;">
        @Html.Partial("_Menu_User_Vertical")


        <div class="col-md-10 col-sm-9 col-xs-12 box-order-list">

            <div class="row">
                <div class="orders-list">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h2 id="_name_status_order">Đơn hàng chờ về</h2>
                        </div>
                    </div>
                    <div class="col-md-12 form-search">
                        <form id="_form_search">
                            @using (Html.BeginForm("OrderPaid", "Account", FormMethod.Get))
                            {
                                <div class="chosen-time ">
                                    <div class="col-md-1 col-sm-4 col-xs-12">
                                        <span><strong id="_total_result"> @ViewBag.CountOrder</strong> đơn hàng</span>
                                        <!-- <span style="text-align: right; float:right">Lọc thời gian</span>-->
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        @Html.DropDownList("listStatus", (IEnumerable<SelectListItem>)ViewBag.ListStatus, "--Trạng thái đơn--", new { @class = "form-control flat" })
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12 screen-margin">
                                        <div id="fromDate" >
                                            <input class="form-control btn-flat"
                                                   placeholder="Từ ngày"
                                                   data-placement="top"
                                                   data-toggle="tooltip"
                                                   rel="tooltip"
                                                   data-original-title="Từ ngày"
                                                   name="fromDate"
                                                   type="text"
                                                   value="@ViewBag.CurrentFromDate">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12 screen-margin">
                                        <div id="toDate">
                                            <input class="form-control btn-flat" placeholder="Đến ngày"
                                                   data-placement="top" data-toggle="tooltip" rel="tooltip"
                                                   data-original-title="Đến ngày" name="toDate" type="text"
                                                   value="@ViewBag.CurrentToDate">
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-12">
                                        <select class="form-control" name="sapxep" id="sapxep" value="@ViewBag.CurrentSapXep ">
                                            <option value="">
                                                --Sắp xếp--
                                            </option>
                                            <option value="1">
                                                Mới trước
                                            </option>
                                            <option value="0">
                                                Cũ trước
                                            </option>
                                        </select>

                                    </div>
                                    <div class="col-md-1 col-sm-4 col-xs-12 padding-right-0 ">
                                        <button name="submit" type="submit" class="btn btn-primary" style="float: right;">
                                            <i class="fa fa-filter"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-12 padding-right-0 ">
                                        <button type="button" class="btn btn-default btn-export-excel btn-info pull-right" style="padding-top: 8px;background-color:#08A7C3">
                                            <span style="color:#ffffff; ">
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;
                                                <strong>XUẤT EXCEL</strong>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            }
                            <input value="" class="hidden" id="page" name="page" type="text">
                            <input value="" class="hidden" name="total_result" type="text">
                            <input value="1" class="hidden" name="next_page" type="text">
                            <input value="" class="hidden" name="start_result" type="text">
                            <input value="" class="hidden" name="datepicker_from_date" type="text">
                            <input value="" class="hidden" name="datepicker_to_date" type="text">
                            <input value="" class="hidden buyer_confirm" name="buyer_confirm" type="text">
                            <input value="" class="hidden _txt-item-status-search" name="item_status_search" type="text">
                            <!--<input value="" class="hidden" name="statusOrder" type="text" id="status_order">-->
                            <input value="" class="hidden" name="statusOrder" type="text" id="status_order">
                            <!--<input value="" class="hidden" name="order" type="text">-->

                        </form>
                    </div>

                    <div class="block-table-orders-list" id="_order_list_template">

                        <div class="table-responsive" style="width: 100%">
                            <table class="table table-orders-list table-striped" style="border-bottom: 0;font-size: 12px">
                                <tbody>
                                    <tr>
                                        <th class='text-center'>Mã đơn</th>
                                        <th class='text-center'>Mã giao dịch</th>
                                        <th class='text-center'>Mã vận chuyển</th>
                                        <th class='text-center'>Tỷ giá</th>
                                        <th class='text-center'>Trạng thái</th>
                                        <th class='text-center'>Tổng tiền</th>
                                        <th class="text-center">Ngày tạo</th>
                                        <th class='text-center'>Xem chi tiết đơn</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td class='text-center'>
                                                @item.OrderInternalInDayID

                                            </td>
                                            <td class='text-center'>
                                                @item.TransId


                                            </td>
                                            <td class='text-center'>                                               
                                                <a href="#" data-toggle="modal" data-target="#myModal1" onclick="search_mvd(id = @item.ShippingCode)">@item.ShippingCode</a>
                                            </td>
                                            <td class='text-center'>
                                                @item.Rate

                                            </td>
                                            <td class='text-center'>

                                                @item.getStatusText()
                                            </td>
                                            <td class='text-center'>
                                                @item.TotalPriceConvert.ToString("##,###")

                                            </td>
                                            <td class='text-center'>
                                                @item.UpdateDate.ToString("dd/MM/yyyy")
                                            </td>
                                            <td class='text-center'>
                                                <a rel='tooltip' title="Xem chi tiết"
                                                   href=@Url.Action("ViewOrderDetailNew", "Account", new {id = item.OrderInternalId }) class="btn btn-xs btn-primary">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!--<div class="panel-order" id="_order_list">-->
                            <div id="_order_list"><h5 class="text-center">@ViewBag.NoOrder</h5></div>
                        </div>
                    </div>

                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("OrderPaid", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, listStatus = ViewBag.CurrentStatus, OrderId = ViewBag.CurrentOrderId, countOrder = ViewBag.CountOrder, sapxep = ViewBag.CurrentSapXep, username = ViewBag.CurrentUserName, name = ViewBag.Name }))




                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông tin ra cứu</h4>
            </div>
            <div class="modal-body">
                <span class="js_error" style="color:red;font-size:20px"></span>
                <span class="zt_span"></span>
                <p><span class="js_company"></span></p>
                <p><span class="kd_phone"></span></p>
                <p><span class="kd_dh"></span></p>
                <p><span class="js_ordernum"></span></p>
                <p><span class="js_imgkd"></span></p>
                <p><span class="html"></span></p>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
    </script>
}


