﻿@{
    ViewBag.Title = "OrderView";
}

<div class="container">
    <div class="alert alert-default btn-flat row">
        <div class="col-md-12">
            <h4>Thông tin Khách hàng: </h4>
        </div>

        <div class="col-md-3">
            <p>
                <font>(-) Tên:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Số điện thoại:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) eMail:</font><font style="float: right"></font>
            </p>


        </div>
        <div class="col-md-3">
            <p>
                <font>(-) Địa chỉ:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Mã Đơn Hàng:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Ngày:</font><font style="float: right"></font>
            </p>

        </div>
        <div class="col-md-3">
            <p>
                <font>(-) Sale:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Kho:</font><font style="float: right"></font>
            </p>

        </div>
        <div class="col-md-3">
            <p>
                <font>(-) Username:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) UserSale:</font><font style="float: right"></font>
            </p>
        </div>
    </div>
    <div class="alert alert-default btn-flat row">
        <div class="col-md-12">
            <div class="col-md-3">
                <button>Hủy đơn</button>
                <button>Hết Hàng</button>
            </div>

            <div class="col-md-3">
                <p>
                    <font>(-) Tài khoản AliPay</font><font style="float: right"></font>
                </p>
                <p>
                    <font>(-) Tài khoản Ngân hàng</font><font style="float: right"></font>
                </p>
            </div>
           
            <div class="col-md-6">
                <div class="table-responsive" style="width: 100%">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <td> <h4>Trùng mã</h4></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">Đã giao</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">Chưa giao</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" checked="checked">None</label>
                                    </div>
                                </td>
                                <td>

                                    <div class="radio">
                                        <label><input type="radio" name="optradio1">Trùng khách</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio1">Không trùng khách</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio1" checked="checked">None</label>
                                    </div>
                                </td>
                            </tr>

                            
                               
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Ghi chú</h4>
            <div class="col-md-2">
                <input type="checkbox" data-reverse>
                Kiếm kê
            </div>
            <div class="col-md-2">
                <input type="checkbox" data-reverse>
                Đóng gỗ
            </div>
            <div class="col-md-2">
                <input type="checkbox" data-reverse>
                Chuyển phát nhanh
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" value="Mã Giao dịch" id="">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" value="Mã Vận đơn" id="">
            </div>
            <div class="col-md-2">
                <button>Thanh toán</button>
            </div>
        </div>
        <div class="table-responsive" style="width: 100%">
            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                <thead>
                    <tr>
                        <th class="text-center">Ship khách</th>
                        <th class="text-center">Ship Thực tế</th>
                        <th class="text-center">Tiền Hàng Khách</th>
                        <th class="text-center">Tiền Hàng Thực Tế</th>
                        <th class="text-center">Mặc cả</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" id="usr" value="stt"></td>
                        <td><input type="text" class="form-control" id="usr" value="stt"></td>
                        <td><input type="text" class="form-control" id="usr" value="stt"></td>
                        <td><input type="text" class="form-control" id="usr" value="stt"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" style="width: 100%">
            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Size</th>
                        <th class="text-center">Màu</th>
                        <th class="text-center">Số Lượng</th>
                        <th class="text-center">Số Lượng KH</th>
                        <th class="text-center">Số Lượng TT</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Ghi chú Khách</th>
                        <th class="text-center">Ghi chú Sale</th>
                        <th class="text-center">Ghi chú Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                        <td><input type="text" class="form-control" value="stt"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>