﻿@using OrderChina.Models
@model OrderChina.Models.UserProfile
@using OrderChina.Common
@{
    ViewBag.Title = "Personal";
}
<link href="~/Content/PersonalCSS.css" rel="stylesheet" />
@if (ViewData["message"] != null)
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<style>
    .lab {
        font-size: 17px;
        padding-right: 15px;
    }

    .Gende input {
        width: 50px;
    }
</style>
@Styles.Render("~/Content/PagedList")
@if (Session["UserType"] != null)
{

    if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
    { @Html.Partial("_Menu_User_Horizontal")}
}
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>

        @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
            @Html.Partial("_LayoutUser", new ViewDataDictionary { { "User", true } }) ;
        }
        else
        {
            @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "User", true } });
        }
        @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
            <div class="col-md-9 order-content">
                <div class="col-lg-12">
                    <div class="col-md-5 col-sm-12">
                        <h2>Thông tin tài khoản</h2>
                        <p>
                            Các thông tin quan trọng của Quý Khách như tên đăng nhập, mã khách hàng, email dùng để nhận thông báo v.v...
                            Để bảo mật tài khoản, quý khách nên đổi mật khẩu 3 tháng một lần, mật khẩu nên sử dụng chữ số và ký tự viết hoa
                        </p>
                        <h2>Điện thoại</h2>
                        <p>
                            Chúng tôi sẽ gửi các cập nhật về tài chính, đơn hàng và các thông tin quan trọng khác tới SDT Quý Khách sử dụng
                            Quý khách có thể sử dụng 3 số điện thoại. Chúng tôi sẽ sử dụng số điện thoại xác minh gần nhất để gửi thông báo. Tuy nhiên Quý khách có thể chọn “Sử dụng” cho số mình muốn.
                        </p>
                        <h2>Thông tin cá nhân</h2>
                        <p>
                            Các thông tin cá nhân của Quý khách giúp thuận tiện hơn cho chúng tôi khi làm việc và giao tiếp với Quý khách
                        </p>
                    </div>
                    <div class="col-md-7 col-sm-12 profile-page">
                        <div class="row page-row">
                            <div class='row'>
                                <h3 class='text-center'>Đổi thông tin cá nhân</h3>
                                <hr>
                                @using (Html.BeginForm("Personal", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                @Html.AntiForgeryToken()
                                <table style="width:100%;text-align:right">
                                    <tr style="height:60px">
                                        <td style="width:20%"><label class="lab">Mã khách hàng</label></td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.customercode, new { @class = "form-control btn-flat" , @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr style="height:60px">
                                        <td style="width:20%"><label class="lab">Họ tên</label></td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control btn-flat" })
                                            <br />  @Html.ValidationMessageFor(m => m.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Điện thoại</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control btn-flat", @readonly = "readonly" })
                                            <br />  @Html.ValidationMessageFor(m => m.Phone)
                                            <span id="sdt_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Email</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control btn-flat" })
                                            <br /> @Html.ValidationMessageFor(m => m.Email)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Giới tính</label></td>
                                        <td align="left" class="Gende">
                                            @Html.RadioButton("Gender", "Nam")<b>Nam</b>
                                            @Html.RadioButton("Gender", "Nữ")<b>Nữ</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Ảnh đại diện</label></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Image, new { type = "file" })
                                            @Html.ValidationMessageFor(model => model.Image)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Địa chỉ</label></td>
                                        <td>
                                            @Html.TextBox("Address", null, new { @class = "form-control btn-flat" })
                                            <span id="add_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    <tr style="height:60px">
                                        <td></td>
                                        <td align="left">
                                            <button type="submit" class="btn btn-danger btn-flat" id="btnsubmit" onclick="return Submid()">Cập nhật</button>
                                            <a class="btn btn-danger btn-flat" href="@Url.Action("ChangePass", "Account", new { id = Session["Phone"] })">Đổi mật khẩu</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                            </div>
                            <script>
                            function Submid() {
                                var name = $.trim($('#Name').val());
                                var phone = $.trim($('#Phone').val());
                                var flag = true;
                                if (name = "" || name.length < 0) {
                                    $('#username_error').text('Bạn chưa nhập tên');
                                    flag = false;
                                } else {
                                    $('#username_error').text('');
                                }
                                if (isNaN(phone)) {
                                    $('#sdt_error').text('Số điện thoại phải nhập bằng số');
                                    flag = false;
                                } else if (phone.length < 9 || phone.length > 12) {
                                    $('#sdt_error').text('Số điện thoại từ 9 đến 12 số');
                                    flag = false;
                                } else {
                                    $('#sdt_error').text('');
                                }
                                return flag;
                            }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-9 order-content">
                <div class="col-md-12 col-sm-12 profile-page">
                    <div class="row page-row">
                        <div class='row'>
                            <h3 class='text-center'>Đổi thông tin cá nhân</h3>
                            <hr>
                            @using (Html.BeginForm("Personal", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <table style="width:100%;text-align:right">

                                    <tr style="height:60px">
                                        <td style="width:20%"><label class="lab">Họ tên</label></td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control btn-flat" })
                                            <br />  @Html.ValidationMessageFor(m => m.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Điện thoại</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control btn-flat", @readonly = "readonly" })
                                            <br />  @Html.ValidationMessageFor(m => m.Phone)
                                            <span id="sdt_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Email</label></td>
                                        <td align="left" style="padding-left:2px">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control btn-flat" })
                                            <br /> @Html.ValidationMessageFor(m => m.Email)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Giới tính</label></td>
                                        <td align="left" class="Gende">
                                            @Html.RadioButton("Gender", "Nam")<b>Nam</b>
                                            @Html.RadioButton("Gender", "Nữ")<b>Nữ</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab">Địa chỉ</label></td>
                                        <td>
                                            @Html.TextBox("Address", null, new { @class = "form-control btn-flat" })
                                            <span id="add_error" style="color:#ff0000"></span>
                                        </td>
                                    </tr>
                                    <tr style="height:60px">
                                        <td></td>
                                        <td align="left">
                                            <button type="submit" class="btn btn-danger btn-flat" id="btnsubmit" onclick="return Submid()">Cập nhật</button>
                                            <a class="btn btn-danger btn-flat" href="@Url.Action("ChangePass", "Account", new { id = Session["Phone"] })">Đổi mật khẩu</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                        <script>
                            function Submid() {
                                var name = $.trim($('#Name').val());
                                var phone = $.trim($('#Phone').val());
                                var flag = true;
                                if (name = "" || name.length < 0) {
                                    $('#username_error').text('Bạn chưa nhập tên');
                                    flag = false;
                                } else {
                                    $('#username_error').text('');
                                }
                                if (isNaN(phone)) {
                                    $('#sdt_error').text('Số điện thoại phải nhập bằng số');
                                    flag = false;
                                } else if (phone.length < 9 || phone.length > 12) {
                                    $('#sdt_error').text('Số điện thoại từ 9 đến 12 số');
                                    flag = false;
                                } else {
                                    $('#sdt_error').text('');
                                }
                                return flag;
                            }
                        </script>
                    </div>
                </div>

            </div>
        }

    </div>
</section>