﻿@{
    ViewBag.Title = "OrderAccountDetail";
    Layout = null;
}
@using OrderChina.Common
@using OrderChina.Models
@model OrderChina.Models.OrderAccount
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DefaultStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootbox")
<script src="~/Scripts/functionUtils.js"></script>

@using (Html.BeginForm("ProcessOrderAccountDetailAction", "Account", FormMethod.Post, new { id = "processOrderAccountDetailAction" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Chi tiết đơn hàng bán</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%; font-size: 14px">
                @Html.HiddenFor(m => m.OrderAccountId);
                @Html.Hidden("txtTotalValue", Model.TotalValue, new { @id = "txtTotalValue" });
                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Số Lượng</div>
                    <div class="col-sm-4">@Html.Label("Quantity", Model != null ? Model.Quantity.ToString("N0") : null, new { @class = "form-control", placeholder = "Số Lượng" })</div>
                    <div class="col-sm-2">Giá</div>
                    <div class="col-sm-4">@Html.Label("Price", Model != null ? Model.Price.ToString("N2") : "0", new { @class = "form-control", placeholder = "Giá" }) </div>
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Tổng tiền</div>
                    <div class="col-sm-4">@Html.Label("TotalValue", Model != null ? Model.TotalValue.ToString("N2") : "0", new { @class = "form-control", placeholder = "Tổng tiền" }) </div>
                    <div class="col-sm-2">Số tiền đã TT</div>
                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting, false))
                    {
                        <div class="col-sm-4">@Html.TextBox("ValueSystem", Model != null ? Model.ValueSystem.ToString() : "0", new { @class = "form-control", placeholder = "Số tiền đã TT", id = "txtValueSystem" })</div>
                    }

                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                    {
                        <div class="col-sm-4">@Html.Label("ValueSystem", Model != null ? Model.ValueSystem.ToString("N2") : "0", new { @class = "form-control", placeholder = "Số tiền đã TT" })</div>
                    }
                </div>

                <div class="col-sm-12 defaultPaddingVertical">
                    <div class="col-sm-2">Ghi chú</div>
                    <div class="col-sm-4">@Html.Label("Note", Model != null ? Model.Note : null, new { @class = "form-control", placeholder = "Ghi chú" })</div>
                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting, false))
                    {
                        <div class="col-sm-2">Ngân hàng</div>
                        <div class="col-sm-4">@Html.DropDownList("ExtandField", (IEnumerable<SelectListItem>)ViewBag.ListBankName, "--Chọn Ngân hàng--", new { @class = "form-control flat", style = "display: inline;", id = "txtBankName" })</div>
                    }
                </div>

            </div>
        </div>
        <div class="modal-footer">
            @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting, false))
            {
                <button type="submit" value="Save" id="btnSave1" name="cmd" class="btn btn-primary">Thanh toán</button>
            }
            @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
            {
                <button type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-primary">Xác nhận hàng về kho</button>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        console.log('ready');

        $("#txtValueSystem").keyup(function () {
            var valueSystem = document.getElementById('txtValueSystem');
            valueSystem.value = formatNumber(valueSystem.value);
        });


        $('#processOrderAccountDetailAction').submit(function (e) {
            console.log('submit');
            e.preventDefault(); // stop the standard form submission
            var txtValueSystem = document.getElementById('txtValueSystem');
            var txtBankName = document.getElementById('txtBankName');
            var txtTotalValue = document.getElementById('txtTotalValue');
            var bankName = '';
            if (txtBankName != null) bankName = txtBankName.value;
            var valueSystem = 0;
            if (txtValueSystem != null)
                valueSystem = convertFormatToNumber(txtValueSystem.value);
            var totalValue = convertFormatToNumber(txtTotalValue.value);

            var error = '';

            if (txtBankName != null && isNullOrEmpty(bankName)) {
                error = 'Chưa chọn ngân hàng';
            }

            if (txtValueSystem != null && valueSystem <= 0) {
                error = 'Số tiền thanh toán phải lớn hơn 0';
            }
            if (totalValue < valueSystem) {
                error = 'Số tiền thanh toán không được lớn hơn tổng tiền của đơn hàng';
            }

            if (!isNullOrEmpty(error)) {
                bootbox.alert(error, function () {
                    //window.location.reload();
                });
                return;
            }

            e.currentTarget.submit();
        });
    });
</script>
