﻿@using OrderChina.Common
@using OrderChina.Models
@model OrderChina.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/register")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css">
</head>
<body class="body">
    <div class="main">
        <div class="card">
            <h1 class="title" style="text-align:center;">
                Đăng ký tài khoản
                <div class="close"></div>
            </h1>
            @using (Html.BeginForm(new { id = Model.orderid, cmd = ViewBag.cmd }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.orderid);

                <form>
                    <div class="col-xs-12">
                        <label for="Username" class="col-md-5 col-xs-5">Số điện thoại</label>
                        <div style="color:black;float:left;" class="col-xs-7">
                            @(string.IsNullOrEmpty(@Model.Phone) ? Html.TextBoxFor(m => m.Phone, new { @class = "form-control " }) : Html.TextBoxFor(m => m.Phone, new { @class = "form-control ", @readonly = "readonly" }))
                            <br /><div style="color:red;">@Html.ValidationMessageFor(m => m.Phone)</div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label for="Username" class="col-md-5 col-xs-5">Email</label>
                        <div style="color:black; float:left;" class="col-xs-7">
                            @(string.IsNullOrEmpty(@Model.Email) ? @Html.TextBoxFor(m => m.Email, new { @class = "form-control " }) : Html.TextBoxFor(m => m.Email, new { @class = "form-control " }))
                            <br /><div style="color:red;">@Html.ValidationMessageFor(m => m.Email)</div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label for="Username" class="col-md-5 col-xs-5" >Mật khẩu *</label>
                        <div style="color:black ;float:left;" class="col-xs-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                            <br /><div style="color:red;">@Html.ValidationMessageFor(m => m.Password)</div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-md-5 col-xs-5" for="ConfirmPassword">Nhập lại mật khẩu *</label>
                        <div style="color:black;float:left;" class="col-xs-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control " })
                            <br /><div style="color:red;"> @Html.ValidationMessageFor(m => m.ConfirmPassword)</div>

                        </div>
                    </div>
                    @if (ViewBag.cmd == "client")
                    {
                        if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                        {
                            <div class="col-xs-12">
                                @Html.LabelFor(m => m.customercode, new { @class = "col-md-5 " })
                                <div style="color:black;float:left;">
                                    @Html.TextBoxFor(m => m.customercode, new { @class = "form-control " })
                                    <br /><div style="color:red;"> @Html.ValidationMessageFor(m => m.customercode)</div>
                                </div>
                            </div>
                        }
                    }
                    <div class="col-xs-12">
                        <label for="Name" class="col-md-5 col-xs-5" >Họ t&#234;n *</label>
                        <div style="color:black;float:left;" class="col-xs-7">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control " })
                            <br /><div style="color:red;"> @Html.ValidationMessageFor(m => m.Name)</div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-md-5 col-xs-5"> Giới tính *</label>
                        <div class="col-md-7">
                            <div class="col-xs-3">
                                <div style="color:black;">
                                    @Html.RadioButtonFor(m => m.Gender, "Nam", new { style = "width: inherit", @checked = true })
                                </div>
                                <label>
                                    Nam
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <div style="color:black;">
                                    @Html.RadioButtonFor(m => m.Gender, "Nữ", new { style = "width: inherit" })
                                </div>
                                <label>
                                    Nữ
                                </label>
                            </div>
                            <div style="color:black;" class="col-xs-12">
                                <div style="color:red;">
                                    @Html.ValidationMessageFor(m => m.Gender)
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label for="Birthday" class="col-md-5 col-xs-5" >Ngày sinh *</label>
                        <div style="color:black;float:left;" class="col-xs-7">
                            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString(),@type = "Date" })
                            <br /><div  style="color:red;">@Html.ValidationMessageFor(m => m.Birthday)</div> 

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-md-5 col-xs-5" for="Address">Địa chỉ</label>
                        <div style="color:black;float:left;" class="col-xs-7">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            <br /> @Html.ValidationMessageFor(m => m.Address)

                        </div>
                    </div>
                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"]))
                {
                        <div class="form-group col-md-12 col-xs-12">
                            @Html.LabelFor(m => m.UserType, new { @class = "col-sm-5 col-xs-12", style = "padding-left:0px;" })
                            <div class="col-sm-7 col-xs-12" style="padding-left:0px;">
                                @Html.DropDownListFor(m => m.UserType, (IEnumerable<SelectListItem>)ViewBag.listUserType, "--Loại tài khoản--", new { @class = "form-control flat", style = "width: 300px;display: inline;", multiple = "multiple" })
                            </div>
                        </div>
                    }
                    <div class="btn">
                        <button type="submit" class="btn-Register">Đăng ký</button>
                    </div>
                </form>
            }
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>

<script>
    $(document).ready(function () {
        $('#UserType').multiselect();
    });
</script>