﻿@{
    ViewBag.Title = "ShipmentDetail";
}
@model OrderChina.Models.ShipmentDetailModel

<style>
    #action a:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        box-shadow: 0px 0px 30px gray;
        -webkit-box-shadow: 0px 0px 30px gray;
        -moz-box-shadow: 0px 0px 30px gray;
        opacity: 1;
    }

    #action a {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        opacity: 1;
    }
</style>
<section >
    <div class='row'>
        <div class="col-md-2">
            @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Deposit", true } })
        </div>
        
        <div class="col-md-9 order-content">
            <div class='order-link'>
                @using (Html.BeginForm("ShipmentDetail", "Account", FormMethod.Get))
                {
                    <div class="alert alert-default btn-flat row">
                        <div class="col-md-12">
                            <h4>Chi tiết lô hàng</h4>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <font>(1) Mã lô hàng</font><font style="float: right">@Model.ShipmentId</font>
                            </p>
                            <p>
                                <font>(2) Tên lô hàng</font><font style="float: right">@Model.Name</font>
                            </p>
                            <p>
                                <font>(3) Chiều dài</font><font style="float: right">@Model.Length<sup>m</sup></font>
                            </p>
                            <p>
                                <font>(4) Chiều rộng</font><font style="float: right">@Model.Width<sup>m</sup></font>
                            </p>

                        </div>
                        <div class="col-md-4">

                            <p>
                                <font>(5) Chiều cao</font><font style="float: right">@Model.Height<sup>m</sup></font>
                            </p>
                            <p>
                                <font>(6) Trọng lượng</font><font style="float: right">@Model.Weight<sup>kg</sup></font>
                            </p>
                            <p>
                                <font>(7) Ngày tạo</font><font style="float: right">@Model.LastUpdate.ToString("dd/MM/yyyy")</font>
                            </p>
                            <p>
                                <font>(8) Tình trạng</font><font style="float: right">@Model.Status</font>
                            </p>
                        </div>
                        <span class="clearfix"></span>
                    </div>
                }
            </div>
            <div class="row">


                <div class="order-group" id="shop">
                    <div class="row" style="padding-bottom: 5px" id="id_shop1">

                        <div class="col-md-12" style="padding-left:50px">
                            <div class="col-md-6" style="float:left;color:red;">
                                @ViewBag.Message
                            </div>
                            <div style="float:right;margin-bottom:20px;" class="col-md-2">

                                <a rel='tooltip' title="Thêm đơn hàng" class="btn btn-info btn-xs " style="font-size:17px;"
                                   href=@Url.Action("AddPackageOrder", "Account") id="btnAddPakageOrder">
                                    Thêm đơn hàng
                                </a>

                            </div>
                            <table class="table table-bordered" style="cursor: pointer;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Mã gói hàng</th>
                                        <th class="text-center">Mã vận đơn</th>
                                        <th class="text-center">Chiều dài</th>
                                        <th class="text-center">Chiều rộng</th>
                                        <th class="text-center">Chiều cao</th>
                                        <th class="text-center">Trọng lượng</th>
                                        <th class="text-center">Thể tích</th>
                                        <th class="text-center">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in Model.ListPackageOrder)
                                    {
                                        <tr>

                                            <td class="text-center">@a.PackageOrderId</td>
                                            <td class="text-center">@a.ShippingCode</td>
                                            <td class="text-center">@a.Length</td>
                                            <td class="text-center">@a.Width</td>
                                            <td class="text-center">@a.Height</td>
                                            <td class="text-center">@a.Weight</td>
                                            <td class="text-center">@a.Volume</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeletedPackage", "Account",
                                                        new {PackageOrderId = a.PackageOrderId,ShipmentId=Model.ShipmentId})" rel='tooltip'
                                                   title="Xóa gói hàng" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div>
                                <div class="col-md-4">
                                    <label >Tổng trọng lượng: @Model.sumWeight kg</label>
                                </div>
                                <div class="col-md-2" style="float:right;">
                                    @using (Html.BeginForm("ShipmentDetail", "Account", FormMethod.Post))
                                    {
                                        <button name="submit" class="btn btn-primary pull-right btn-flat" type="submit">
                                            Chốt
                                        </button>
                                    }
                                </div>
                            </div>
                            <div>
                                <label>Tổng thể tích: @Model.sumVolume m<sup>3</sup></label>
                            </div>
                            
                           
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")

    <script>

        $('#btnAddPakageOrder').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#myModal');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    </script>

}


