﻿@using OrderChina.Common
@using OrderChina.Models
@using PagedList.Mvc
@model PagedList.IPagedList<OrderInternal>
@{
    ViewBag.Title = "StaffOrderInternalID";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Staff", true } })

        <div class="col-md-9 order-content">
            <div class='row'>
                @using (Html.BeginForm("StaffOrderInternalID", "Account", FormMethod.Get))
                {
                    <p>
                        @if (Session["UserType"] != null)
                        {
                            if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                            {
                                <div class='col-md-2' id="username" style="padding-left: inherit">
                                    <input class="form-control btn-flat" placeholder="Khách hàng" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Khách hàng" name="username" type="text" value="@ViewBag.CurrentUserName">
                                </div>

                                <div class='col-md-2' id="fromDate">
                                    <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                </div>
                            }
                            else
                            {
                                <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                    <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                                </div>
                            }
                        }
                        else
                        {
                            <div class='col-md-2' id="fromDate" style="padding-left: inherit">
                                <input class="form-control btn-flat" placeholder="Từ ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Từ ngày" name="fromDate" type="text" value="@ViewBag.CurrentFromDate">
                            </div>
                        }

                        <div class='col-md-2' id="toDate">
                            <input class="form-control btn-flat" placeholder="Đến ngày" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Đến ngày" name="toDate" type="text" value="@ViewBag.CurrentToDate">
                        </div>

                        <div class='col-md-2'>
                            <input class="form-control btn-flat " placeholder="Mã đơn" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="Mã đơn" autofocus="autofocus" name="OrderId" value="@ViewBag.CurrentOrderId" type="text">
                        </div>
                        @if (Session["UserType"] != null)
                        {
                            if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Staff))
                            {
                                <div class='col-md-4'>
                                    <select class="form-control selectpicker" id="OrderType" name="OrderType">
                                        <option selected>---Trạng thái đơn---</option>
                                        <option value="1">Đơn hàng đã thêm Mã vận đơn</option>
                                        <option value="0">Đơn hàng chưa thêm Mã vận đơn</option>
                                    </select>
                                </div>
                            }
                        }
                        <div class="col-md-1">
                            <button name="submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>

                    </p>
                }

                <div class="col-sm-12">
                    <hr>
                </div>
                @*<div class="col-sm-12">
                    @Html.Raw(@ViewBag.Shingpingcode)
                </div>*@
                <div class="table-responsive" style="width: 100%">
                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                @if (Session["UserType"] != null)
                                {
                                    if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                    {
                                        <th class='text-center'>Khách hàng</th>
                                    }
                                }
                                <th class='text-center'>Mã đơn</th>
                                <th class='text-center'>Mã giao dịch</th>
                                <th class='text-center'>Tỷ giá</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Mã vận đơn</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class='text-center'>Chỉnh sửa mã vận đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (Session["UserType"] != null)
                                    {
                                        if (!Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                        {
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                        }
                                    }
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternalInDayID)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.TransId)
                                    </td>
                                    <td class='text-center'>
                                        @item.Rate.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @item.getStatusText()
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.ShippingCode)
                                    </td>
                                    <td class='text-center'>
                                        @item.CreateDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        @*<a rel='tooltip' title="Xem chi tiết"
                                               href=@Url.Action("ViewOrderDetailForStaff", "Account", new {id = item.OrderInternalId }) class="btn btn-xs btn-primary">
                                                <i class="fa fa-search-plus"></i>
                                            </a>*@
                                        <a href="@Url.Action("ChangeOrderInternalID", "Account", new {id = item.OrderInternalId})" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit'><i class="glyphicon glyphicon-erase"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("StaffOrderInternalID", new { page, toDate = ViewBag.CurrentToDate, fromDate = ViewBag.CurrentFromDate, listStatus = ViewBag.CurrentStatus, OrderId = ViewBag.CurrentOrderId }))
            </div>
        </div>
    </div>
</section>
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!-- empty -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });
        });
        $(document).ready(function () {
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        });
    </script>
}