﻿@{
    ViewBag.Title = "UpdateDepositOrder";
    Layout = null;
}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@model OrderChina.Models.Order

@using (Html.BeginForm("UpdateDepositOrder", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Cập nhật thông tin đặt hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">

                @Html.HiddenFor(m => m.OrderId)
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.FeeShipChina)
                    @Html.TextBoxFor(m => m.FeeShipChina, new { @class = "form-control btn-flat", placeholder = "Phí ship nội địa trung quốc", autofocus = "autofocus" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.FeeShip)
                    @Html.TextBoxFor(m => m.FeeShip, new { @class = "form-control btn-flat", placeholder = "Cước vận chuyển" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Weight)
                    @Html.TextBoxFor(m => m.Weight, new { @class = "form-control btn-flat", placeholder = "Trọng lượng" })
                </div>
                <div class="col-sm-6">
                    @Html.Label("Khối lượng","Khối lượng")
                    @Html.TextBox("m",null, new { @class = "form-control btn-flat", placeholder = "Khối lượng" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Pulling)
                    @Html.TextBoxFor(m => m.Pulling, new { @class = "form-control btn-flat", placeholder = "Trọng lượng" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Incurred)
                    @Html.TextBoxFor(m => m.Incurred, new { @class = "form-control btn-flat", placeholder = "Phí dịch vụ phát sinh" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnUpdate" value="update" name="cmd" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}
