﻿@using OrderChina.Models
@using OrderChina.Common
@using PagedList.Mvc
@model OrderChina.Models.ViewDetailOrderModelNew

<div class='row'>
    @if (Session["UserType"] != null)
    {

        if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
            <div style="padding-left:80px;">
                <link href="~/Content/Minh_user.css" rel="stylesheet" />
                @Html.Partial("_Menu_User_Vertical", new ViewDataDictionary { { "ViewOrderDetailUpdate", true } })
            </div>
        }
        else
        {
            @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ViewOrderDetailNew", true } })
        }
        <div class="col-md-9">

            <div class="alert alert-default btn-flat row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6"></div>
                    <p><h2>CHI TIẾT ĐƠN HÀNG  <span style="color:red"> @Model.OrderInternalId </span></h2> </p>
                    <br>
                    <div class="col-md-4">
                        <h4><b>Thông tin Khách hàng:</b></h4>
                        <p>
                            
                            <font><i class="fa fa-user"></i> Tên: @Model.Name  </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font><i class="fa fa-phone"></i> Số điện thoại: @Model.Phone </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font><i class="fa fa-envelope"></i> Email: @Model.Email </font><font style="float: right"></font>
                        </p>
                        <p>
                        <font>(-) Username:</font><font style="float: right">  @Model.UserName</font>
                        </p>
                        <hr>

                    </div>
                    <div class="col-md-4">
                        <h4><b>Thông tin Đơn hàng:</b></h4>
                        <p>
                            <font>(-) Tình trạng:</font> <font style=""> </font><font style="color:red;float: right"> @Model.StatusText</font>
                        </p>

                        <p>
                            <font><i class="fa fa-archive"></i> Kho:</font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Tên đăng nhập: @Model.UserName </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Nhân viên sale:@Model.SaleManager </font><font style="float: right"></font>
                        </p>
                        <hr>
                    </div>
                 
                    <div class="col-md-4">
                        @if (@Model.Status == OrderStatus.Cancel.ToString())
                        {
                            <a href="javascript:void(0);" onclick="alert('Không thể hủy đơn hàng ở trạng thái @Model.StatusText');" class='btn btn-danger btn-sm' title="Hủy đơn"><i class="fa fa-trash-o"></i>Gửi lại Sale</a>
                        }
                        else if (@Model.Status == OrderStatus.Order.ToString())
                        {
                            <a href="javascript:void(0);"  onclick="confirm_order(@Model.OrderInternalId, '10');"class='btn btn-danger btn-sm' title="Cập nhật"><i class=""></i>Cập nhật</a>

                        }
                      

                        @if (Model.Client != null)
                        {
                            if (Session["UserType"] != null)
                            {
                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                {

                                    if ((Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString()) && (Model.OrderType == OrderType.Order.ToString()))
                                    {
                                        <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderInternalId, '1');" style="width:160px" rel='tooltip' class="btn btn-primary1 btn-sale-confirm btn-block" title="Chốt đơn"> Chốt đơn hàng</a>
                                    }
                                }

                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                {
                                    // o moi tran thai ACcount deu co the set no
                                    if (Model.Status != OrderStatus.New.ToString())
                                    {
                                        <a href="@Url.Action("AccountingConfirmOrder", "Account", new { id = Model.OrderInternalId })" style="width:160px" rel='tooltip' class="btn btn-primary btn-account-confirm" title="Cập nhật thanh toán"> Cập nhật thanh toán</a>
                                    }
                                }
                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                        {
                            if (Model.Status == OrderStatus.Order.ToString())
                            {
                                <a href="#" onclick="confirm_order(@Model.OrderInternalId, '4');" style="margin-right: 5px" class="btn btn-primary pull-right" title="Xác nhận hàng về">
                                    <i class="fa fa-arrow-left"></i> Xác nhận hàng về
                                </a>
                              
                                    }
                                }
                            }
                        }
                        <br />

                    </div>

                </div>

            <div class="alert alert-default btn-flat row">

                <div class="form-group col-md-2">
                    <h4>Số dư Tiền mặc cả:</h4>
                      @if(@Model.TotalPrice > @Model.TotalPriceReality)
                      {
                          double MoneyMacCa = @Model.TotalPrice - @Model.TotalPriceReality;
                        


                    <h3 style="color:red;">@MoneyMacCa.ToString("##,###")  </h3>
                      }
                </div>
                <div class="form-group col-md-10">
                    <label>Ghi chú</label>
                    <textarea class="form-control" rows="3" id="OrderComment"  style="resize: none;"></textarea>
                </div>
                <input type="hidden" class="form-control" id="IdOrder" value="@Model.OrderInternalId">
                @*<div class="form-group col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Kiểm kê</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Đón gỗ</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Chuyển phát nhanh</label>
                        </div>


                    </div>*@
                <div class="col-md-12">
                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class="text-center">Mã vận đơn</th>
                                <th class="text-center">Mã giao dịch</th>
                                <th class="text-center">% Dịch vụ</th>
                                <th class="text-center">% Đặt cọc</th>
                                <th class="text-center">Phí Ship Nội địa TQ</th>
                                <th class="text-center">TT Ban đầu</th>
                                <th class="text-center">Tổng Khách trả</th>
                                <th class="text-center">Tổng Thực tế</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.Status == OrderStatus.Order.ToString())
                                    {

                                        <td><input type="text" class="form-control" id="IDShippingCode" value="" ></td>
                                        <td><input type="text" class="form-control" id="IDTransId" value="@Model.TransId" readonly></td>
                                      
                                    }

                                <td><input type="text" class="form-control" id="usr" value="@((Model.Fee))" readonly></td>
                                <td><input type="text" class="form-control" id="FeeShipChina" value="@Model.FeeShipChina" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "false")></td>
                                <td><input type="text" class="form-control" id="DownPaymentRate" value="@Model.DownPaymentRate" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "")></td>
                                <td><input type="text" class="form-control" id="usr" value="@((Model.TotalPrice).ToString("##,###"))" readonly></td>
                                <td><input type="text" class="form-control" id="FeeShipChina" value="@((Model.TotalPriceClient))"></td>
                                <td><input type="text" class="form-control" id="" value="@((Model.TotalPriceReality))" ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               

                <div class="col-md-12">
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Link</th>
                                    <th class="text-center">Mô tả</th>
                                    <th class="text-center">Shop</th>
                                    <th class="text-center">Số Lượng KH</th>
                                    <th class="text-center">Số Lượng TT</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Tổng giá TT</th>
                                    <th class="text-center">Ngày xuất</th>
                                    <th class="text-center">Ghi chú Sale</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class='text-center'>Thao tác</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in Model.ListOrderDetails)
                                    {
                                    <tr>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.OrderInternalDetailId)
                                        </td>
                                        <td class='text-center'>
                                            <a href="@item.Link" target="_blank">
                                                @item.Link
                                            </a>
                                        </td>

                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Shop)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.QuantitySellPlace)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td class='text-center'>

                                            @Html.DisplayFor(modelItem => item.PriceReality)
                                        </td>
                                        <td class='text-center'>
                                            @(((item.PriceReality * item.QuantitySellPlace) ?? 0).ToString("##,##0"))
                                        </td>
                                        @if (item.DeliveryDate == null)
                                        {

                                            <td class='text-center'>Chưa xuất kho</td>
                                        }
                                        else
                                        {
                                            <td class='text-center'>@((item.DeliveryDate ?? DateTime.Now).ToString("dd/MM/yyyy")) </td>
                                        }
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td class="text-center">
                                            @item.getStatusText()
                                        </td>
                                        <td class='text-center' id="action">
                                            @if (Session["UserType"] != null)
                                            {
                                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                                {
                                                   
                                                        <a href="@Url.Action("AddEditOrderInternalDetail", "Account", new {id = item.OrderInternalDetailId})" rel='tooltip' title="Sửa link" class='btn btn-info btn-xs btn-edit'><i class="fa fa-edit"></i></a>
                                                        <a href="@Url.Action("DeletedOrderInternalDetail", "Account", new {id = item.OrderInternalDetailId})" rel='tooltip' title="Xóa link" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>

                                                    
                                                }
                                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                                {
                                                    if (Model.Status == OrderStatus.Paid.ToString())
                                                    {

                                                        <a href="@Url.Action("UpdateOrderDetail", "Account", new {id = item.OrderInternalDetailId, IsOrderer = true})" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                                    }
                                                }
                                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                                                {
                                                    if (@Model.Status == OrderStatus.Order.ToString())
                                                    {
                                                        <a href="@Url.Action("UpdateOrderDetail", "Account", new {id = item.OrderInternalDetailId, IsOrderer = false})" rel='tooltip' title="Cập nhật TT nhận hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Session["UserType"] != null)
                    {
                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                        {
                            if (Model.Status == OrderStatus.New.ToString())
                            {
                                <a href="@Url.Action("AddEditOrderDetail", "Account", new {OrderInternalId = Model.OrderInternalId })" class="btn-flat btn-warning btn-xs btn pull-right btn-add" style="margin-right: 20px">
                                    <i class="fa fa-plus"></i> Thêm link
                                </a>
                            }

                        }
                    }
                    <div class="modal fade"
                         id="myModal"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 900px">
                            <!-- empty -->
                        </div>
                    </div>
                    <div class="modal fade"
                         id="myModal1"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-mini">
                            <!-- empty -->
                        </div>
                    </div>
                </div>
            </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $(document).ready(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            var valueFee = $('#Fee').val();
            var valueDownpayment = $('#DownPaymentRate').val();
            $('#Fee').change(function (e) {

                if ($('#Fee').val() != valueFee) {
                    $('#divReason').show();
                } else {
                    $('#divReason').hide();
                }
            });

            $('#DownPaymentRate').change(function (e) {

                if ($('#DownPaymentRate').val() != valueDownpayment) {
                    $('#divReason').show();
                } else {
                    $('#divReason').hide();
                }
            });

            $('.btn-add').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-edit-info').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-sale-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-account-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal1');
                var $modalDialog = $('.modal-mini');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-orderer-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal1');
                var $modalDialog = $('.modal-mini');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $(".btn-deleted").click(function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                bootbox.dialog({
                    message: "Bạn có chắc muốn xóa link này?",
                    title: "Xóa link khỏi đơn hàng",
                    buttons: {
                        success: {
                            label: "Xóa!",
                            className: "btn btn-success",
                            callback: function () {
                                $(this).modal('hide');
                                window.location = url;
                            }
                        },
                        danger: {
                            label: "Đóng!",
                            className: "btn btn-flat",
                            callback: function () {
                                $(this).modal('hide');
                            }
                        }
                    }
                });
            });


        }); // document ready
        function confirm_order(orderId, type) {
            if (type == 0) {
                $.ajax({
                    url: "@Url.Action("Cancel_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        //alert(data.success);
                        if (data.success) {
                            bootbox.alert("Hủy đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 1) {

                var Fee = $('#Fee').val();
                var FeeShipChina = $('#FeeShipChina').val();
                var DownPaymentRate = $('#DownPaymentRate').val();
                var OrdererManager = $('#OrdererManager').val();
                var Reason = $('#Reason').val();
                var model = {
                    OrderInternalId: orderId,
                    Fee: Fee,
                    FeeShipChina: FeeShipChina,
                    DownPaymentRate: DownPaymentRate,
                    OrdererManager: OrdererManager
                }
                var data = {
                    model: model,
                    Reason: Reason
                }
                $.ajax({
                    url: "@Url.Action("SaleConfirmOrder", "Account")",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            if (data.isApproval) {
                                bootbox.alert("Xác nhận đơn hàng thành công, chờ quản lý phê duyệt!", function () {
                                    window.location.reload();
                                });
                            } else {
                                bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                    window.location.reload();
                                });
                            }
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 4) {
                $.ajax({
                    url: "@Url.Action("ConfirmReceive", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận hàng về thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận hàng về!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            } else if (type == 5) {
                $.ajax({
                    url: "@Url.Action("FinishOrder", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đã giao hàng cho khách thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận giao hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            }
            else if (type == 10) {
                var IIdOrder = $("#IdOrder").val();
                var IDShippingCode = $("#IDShippingCode").val();
                var IDTransId = $("#IDTransId").val();
                var OrderComment = $("#OrderComment").val();
               
                var model = {
                    CIDShippingCode: IDShippingCode,
                    CIDTransId: IDTransId,
                    COrderComment: OrderComment,
                    CIdOrder: IIdOrder,
                }
                var data = {
                    value: JSON.stringify(model),
            
                }
                $.ajax({
                    url: "@Url.Action("ComfrimOrderApply", "Account")",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (IDShippingCode == "" || IDTransId == "" || OrderComment == "") {
                            bootbox.alert("Thông tin mã vận đơn không được để trống!", function () {
                                window.location.reload();
                            });
                        }
                        else {



                            if (data.success == true) {
                                
                                    bootbox.alert("Xác nhận đơn hàng về thành công", function () {
                                        window.location.reload();
                                    });
                            } 
                            else {
                                    bootbox.alert("Xác nhận đơn hàng không thành công!", function () {
                                        window.location.reload();
                                    });
                                
                            
                            }
                        }
                    },
                        error: function () {
                            alert("Lỗi");
                        }
                    });
            }
        

        }


    </script>
}
