﻿@using OrderChina.Models
@using OrderChina.Common
@using PagedList.Mvc
@model OrderChina.Models.ViewDetailOrderModelNew
@{
    ViewBag.Title = "Chi tiết đơn";
}
@if (Session["UserType"] != null)
{

    if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
    { @Html.Partial("_Menu_User_Horizontal")}
}
<div class='row'>
    @if (Session["UserType"] != null)
    {

        if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
        <div style="padding-left: 80px;">
            <link href="~/Content/Minh_user.css" rel="stylesheet" />
            @Html.Partial("_Menu_User_Vertical", new ViewDataDictionary { { "ViewOrderDetailNew", true } })
        </div>
        }
        else
        {
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ViewOrderDetailNew", true } })
        }
        <div class="col-md-9">
            <div class="alert alert-default btn-flat row">
                <div class="col-md-12">
                    <h4>Thông tin Khách hàng: - @Model.StatusText - <b>1 NDT = @Model.Rate.ToString("##,###") <sup>đ</sup></b> </h4>
                </div>
                <div class="col-md-3">
                    <p>
                        <font><i class="fa fa-user"></i> Tên: @Model.Name  </font>
                        @if (Model.Client != null)
                        {
                            if (Session["UserType"] != null)
                            {
                                if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                                {
                            <i title="Chat với khách hàng" id="view_order_new_chat_client" userid="@Model.Client.UserId" class="fa fa-comments" style="color:green" aria-hidden="true"></i>
                                }
                            }
                        }
                        <font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-phone"></i> Số điện thoại: @Model.Phone </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-envelope"></i> Email: @Model.Email </font><font style="float: right"></font>
                    </p>
                    @if (Session["UserType"] != null)
                    {
                        if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                        {
                        <p>
                            <font><i class="fa fa-envelope"></i> Ví của khách: @Model.Money.ToString("##,###")  @Model.Currency</font><font style="float: right"></font>
                        </p>
                        }
                    }

                </div>
                <div class="col-md-3">
                    <p>
                        <font><i class="fa fa-location-arrow"></i> Địa chỉ: @Model.Address </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font>(-) Mã Đơn Hàng: @Model.OrderInternalId </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font>(-) Order: @Model.OrdererManager </font>
                        @if (Model.Orderer != null)
                        {
                            if (Session["UserType"] != null)
                            {
                                if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                {
                            <i title="Chat với order" id="view_order_new_chat_order" userid="@Model.Orderer.UserId" class="fa fa-comments" style="color:green" aria-hidden="true"></i>
                                }
                            }
                        }
                        <font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-calendar"></i> Ngày: @Model.CreateDate </font><font style="float: right"></font>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <font><i class="fa fa-archive"></i> Kho:</font><font style="float: right"></font>
                    </p>
                    <p>
                        <font>(-) Tên đăng nhập: @Model.UserName </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font>(-) Nhân viên sale:@Model.SaleManager </font>
                        @if (Model.SaleManageInfo != null)
                        {
                            if (Session["UserType"] != null)
                            {
                                if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                                {
                            <i title="Chat với sale" id="view_order_new_chat_client" userid="@Model.SaleManageInfo.SaleUserId" class="fa fa-comments" style="color:green" aria-hidden="true"></i>
                                }
                            }
                        }
                        <font style="float: right"></font>
                    </p>
                </div>
                <div class="col-md-3">
                    @if (Session["UserType"] != null)
                    {
                        if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                        {
                            if (@Model.Status == OrderStatus.Cancel.ToString())
                            {


                            }
                            else if (@Model.Status != OrderStatus.New.ToString())
                            {
                        <a href="javascript:void(0);" onclick="alert('Không thể hủy đơn hàng ở trạng thái @Model.StatusText');" class='btn btn-danger btn-sm' title="Hủy đơn"><i class="fa fa-trash-o"></i>Hủy đơn</a>

                            }
                            else
                            {
                        <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderInternalId, '0');" class='btn btn-danger btn-sm' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i>Hủy đơn</a>
                            }
                            if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client))
                            {
                        <button class="btn btn-danger btn-sm">Hết Hàng</button>

                            }

                        }
                    }

@*<button class="btn btn-primary">Chốt đơn</button>*@
                    @if (Model.Client != null)
                    {
                        if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                            {

                                if ((Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString()) && (Model.OrderType == OrderType.Order.ToString()))
                                {
                        <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderInternalId, '1');" style="width:160px" rel='tooltip' class="btn btn-primary1 btn-sale-confirm btn-block" title="Chốt đơn">Chốt đơn hàng</a>
                                }
@*if (Model.Status == OrderStatus.FullCollect.ToString())
                                    {
                                    <a href="#" onclick="confirm_order(@Model.OrderInternalId, '5');" style="margin-right: 5px" class="btn btn-facebook btn-xs pull-right" title="Xác nhận đã gửi hàng cho KH">
                                        <i class="fa fa-ticket"></i> Xác nhận giao hàng
                                    </a>
                                    }*@

                            }

                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                            {
                                // o moi tran thai ACcount deu co the set no
                                if (Model.Status != OrderStatus.New.ToString())
                                {
                        <a href="@Url.Action("AccountingConfirmOrder", "Account", new { id = Model.OrderInternalId })" style="width:160px" rel='tooltip' class="btn btn-primary btn-account-confirm" title="Cập nhật thanh toán">Cập nhật thanh toán</a>
                                }
                            }

@*if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                {
                                if (Model.Status == OrderStatus.Paid.ToString())
                                {
                                <a href="#" onclick="confirm_order(@Model.OrderInternalId, '2');" style="margin-right: 5px" class="btn btn-primary pull-right" title="Gửi sale">
                                    <i class="fa fa-arrow-left"></i> Gửi sale
                                </a>

                                <a href="@Url.Action(" UpdateOrder", "Account" , new {id=Model.OrderInternalId})" style="margin-right: 5px" rel='tooltip' class="btn btn-primary pull-right btn-orderer-confirm" title="Đặt hàng thành công">Đặt hàng thành công</a>

                                }
                                }*@

                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                            {
                                if (Model.Status == OrderStatus.Order.ToString())
                                {
                        <a href="#" onclick="confirm_order(@Model.OrderInternalId, '4');" style="margin-right: 5px" class="btn btn-primary pull-right" title="Xác nhận hàng về">
                            <i class="fa fa-arrow-left"></i>Xác nhận hàng về
                        </a>

                                }
                            }
                        }
                    }
                    else
                    {
                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                        {

                        @Html.ActionLink("Tạo tài khoản khách hàng", "Register", "Account", new { phone = @Model.ListOrderDetails.ElementAt(0).Phone, id = Model.OrderInternalId }, new { @class = "btn btn-primary1 btn-sale-confirm btn-block", style = "width:190px" })

                        }
                    }
                    <br />
                </div>
            </div>
            <div class="alert alert-default btn-flat row">

                <div class="form-group col-md-10">
                    <label>Ghi chú</label>
                    <textarea class="form-control" rows="3" id="comment" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "") style="resize: none;"></textarea>
                </div>
                @*<div class="form-group col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Kiểm kê</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Đón gỗ</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Chuyển phát nhanh</label>
                        </div>


                    </div>*@
                <div class="col-md-12">
                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>

                                @if (Session["UserType"] != null)
                                {
                                    if (Model.OrderType != OrderType.AllInOne.ToString())
                                    {
                                        if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client))
                                        {
                                    <th class="text-center">% Dịch vụ</th>
                                        }
                                    <th class="text-center">Ship nội địa TQ</th>
                                    }

                                }
                                <th class="text-center">Tổng tiền</th>
                                @if (Session["UserType"] != null)
                                {
                                    if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client))
                                    {
                                    <th class="text-center">% Đặt cọc</th>

                                    }
                                }
                                @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                {
                                    <th class="text-center">Nợ</th>
                                    <th class="text-center">Đặt cọc</th>

                                }
                                
                                @if (Session["UserType"] != null)
                                {
                                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                    {
                                    <th class="text-center">Chọn order</th>
                                    }
                                }

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Session["UserType"] != null)
                                {
                                    if (Model.OrderType != OrderType.AllInOne.ToString())
                                    {
                                        if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client))
                                        {
                                    <td>
                                        <input type="text" class="form-control" id="Fee" value="@Model.Fee" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "")></td>

                                        }

                                    <td>
                                        <input type="text" class="form-control" id="FeeShipChina" value="@Model.FeeShipChina.ToString(" ##,###")" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "false")></td>
                                    }

                                }
                                <td>
                                    <input type="text" class="form-control" id="usr" value="@((Model.TotalPriceConvert + Math.Round((Model.TotalPriceConvert * Model.Fee) / 100, MidpointRounding.ToEven) + Model.FeeShipChina + Model.FeeShip).ToString(" ##,###"))" readonly></td>
                                @if (Session["UserType"] != null)
                                {
                                    if (!OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client))
                                    {
                                    <td>
                                        <input type="text" class="form-control" id="DownPaymentRate" value="@Model.DownPaymentRate" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "")></td>
                                    }
                                }
                                @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                {
                                    <td>
                                        <input type="text" class="form-control" id="Owe" value="@Model.Owe.ToString("N0")" readonly="readonly">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="DownPayment" value="@Model.DownPayment.ToString("N0")" readonly="readonly">
                                    </td>
                                }
                                
                               
                                @if (Session["UserType"] != null)
                                {
                                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                    {
                                    <td>
                                        @if (Model.Status != OrderStatus.New.ToString())
                                        {
                                            @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>
                                    )ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat", @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>
                                        )ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat" })
                                        }
                                    </td>
                                    }

                                }

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="divReason" class="form-group col-sm-12" style="display: none">
                    <label for="Reason">Lý do</label>
                    <br />@Html.ValidationMessage("Reason", "Yêu cầu nhập lý do!")
                    <textarea wrap="soft" name="Reason" class="form-control btn-flat required" id="Reason" type="text" data-val-required="Lý do bắt buộc nhập." data-val="true" required rows="3" style="resize: none"></textarea>

                </div>
                <div class="col-md-12">
                    <div class="table-responsive" style="width: 100%">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Link</th>
                                    <th class="text-center">Ảnh</th>
                                    <th class="text-center">Mô tả</th>
                                    <th class="text-center">Shop</th>
                                    <th class="text-center">Số Lượng KH</th>
                                    <th class="text-center">Số Lượng TT</th>
                                    <th class="text-center">Màu sắc</th>
                                    <th class="text-center">Kích thước</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Tổng giá</th>
                                    <th class="text-center">Ngày xuất</th>
                                    <th class="text-center">Ghi chú Sale</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class='text-center'>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in Model.ListOrderDetails)
                                    {
                                        <tr>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.OrderInternalDetailId)
                                            </td>
                                            <td class='text-center'>
                                                <a href="@item.Link" target="_blank">
                                                    @item.Link
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@item.Image" target="_blank">
                                                    <img src="@item.Image" width="30" height="30" /></a>
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Shop)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.QuantitySellPlace)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Color)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Size)
                                            </td>
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td class='text-center'>
                                                @(((item.Price * item.Quantity) ?? 0).ToString("##,##0"))
                                            </td>
                                            @if (item.DeliveryDate == null)
                                            {

                                                <td class='text-center'>Chưa xuất kho</td>
                                            }
                                            else
                                            {
                                                <td class='text-center'>@((item.DeliveryDate ?? DateTime.Now).ToString("dd/MM/yyyy")) </td>
                                            }
                                            <td class='text-center'>
                                                @Html.DisplayFor(modelItem => item.Note)
                                            </td>
                                            <td class="text-center">
                                                @item.getStatusText()
                                            </td>
                                            <td class='text-center' id="action">
                                                @if (Session["UserType"] != null)
                                                {
                                                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                                    {
                                                        if (Model.Status == OrderStatus.Paid.ToString() || Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString())
                                                        {
                                                    <a href="@Url.Action("AddEditOrderInternalDetail", "Account", new { id = item.OrderInternalDetailId })" rel='tooltip' title="Sửa link" class='btn btn-info btn-xs btn-edit'><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("DeletedOrderInternalDetail", "Account", new { id = item.OrderInternalDetailId })" rel='tooltip' title="Xóa link" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>

                                                        }
                                                    }
@*if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                                {
                                                    if (Model.Status == OrderStatus.Paid.ToString())
                                                    {

                                                        <a href="@Url.Action("UpdateOrderDetail", "Account" , new {id=item.OrderInternalDetailId, IsOrderer=true})" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                                    }
                                                }*@
@*if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                                                {
                                                    if (@Model.Status == OrderStatus.Order.ToString())
                                                    {
                                                        <a href="@Url.Action("UpdateOrderDetail", "Account" , new {id=item.OrderInternalDetailId, IsOrderer=false})" rel='tooltip' title="Cập nhật TT nhận hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                                    }
                                                }*@
                                                }
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Session["UserType"] != null)
                {
                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                    {
                        if (Model.Status == OrderStatus.New.ToString())
                        {
                    <a href="@Url.Action(" AddEditOrderDetail", "Account", new { OrderInternalId = Model.OrderInternalId })" class="btn-flat btn-warning btn-xs btn pull-right btn-add" style="margin-right: 20px">
                        <i class="fa fa-plus"></i>Thêm link
                    </a>
                        }

                    }
                }
                <div class="modal fade"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" style="width: 900px">
                        <!-- empty -->
                    </div>
                </div>
                <div class="modal fade"
                    id="myModal1"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-mini">
                        <!-- empty -->
                    </div>
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")
    <script>
        $(document).ready(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            var valueFee = $('#Fee').val();
            var valueDownpayment = $('#DownPaymentRate').val();
            $('#Fee').change(function (e) {

                if ($('#Fee').val() != valueFee) {
                    $('#divReason').show();
                } else {
                    $('#divReason').hide();
                }
            });

            $('#DownPaymentRate').change(function (e) {

                if ($('#DownPaymentRate').val() != valueDownpayment) {
                    $('#divReason').show();
                } else {
                    $('#divReason').hide();
                }
            });

            $('.btn-add').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-edit-info').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-sale-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $modal.find('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-account-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal1');
                var $modalDialog = $modal.find('.modal-mini');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-orderer-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal1');
                var $modalDialog = $modal.find('.modal-mini');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $(".btn-deleted").click(function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                bootbox.dialog({
                    message: "Bạn có chắc muốn xóa link này?",
                    title: "Xóa link khỏi đơn hàng",
                    buttons: {
                        success: {
                            label: "Xóa!",
                            className: "btn btn-success",
                            callback: function () {
                                $(this).modal('hide');
                                window.location = url;
                            }
                        },
                        danger: {
                            label: "Đóng!",
                            className: "btn btn-flat",
                            callback: function () {
                                $(this).modal('hide');
                            }
                        }
                    }
                });
            });


        }); // document ready
        function confirm_order(orderId, type) {
            if (type == 0) {
                $.ajax({
                    url: "@Url.Action("Cancel_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        //alert(data.success);
                        if (data.success) {
                            bootbox.alert("Hủy đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 1) {

                var Fee = $('#Fee').val();
                var FeeShipChina = $('#FeeShipChina').val();
                var DownPaymentRate = $('#DownPaymentRate').val();
                var OrdererManager = $('#OrdererManager').val();
                var Reason = $('#Reason').val();

                var model = {
                    OrderInternalId: orderId,
                    Fee: Fee,
                    FeeShipChina: FeeShipChina,
                    DownPaymentRate: DownPaymentRate,
                    OrdererManager: OrdererManager
                }
                var data = {
                    model: model,
                    Reason: Reason
                }
                $.ajax({
                    url: "@Url.Action("SaleConfirmOrder", "Account")",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            if (data.isApproval) {
                                bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                    window.location.reload();
                                });
                            } else {
                                bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                    window.location.reload();
                                });
                            }
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 4) {
                $.ajax({
                    url: "@Url.Action("ConfirmReceive", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận hàng về thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận hàng về!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            } else if (type == 5) {
                $.ajax({
                    url: "@Url.Action("FinishOrder", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đã giao hàng cho khách thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận giao hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
                }

}


    </script>
}
