﻿@using OrderChina.Models
@model OrderChina.Models.ViewDetailOrderModelNew

<div class="container">
    <div class="alert alert-default btn-flat row">
        <div class="col-md-12">
            <h4>Thông tin Khách hàng: - @Model.StatusText - <b> 1 NDT = @Model.Rate.ToString("##,###") <sup>đ</sup></b></h4>
        </div>

        <div class="col-md-3">
            <p>
                <font><i class="fa fa-user"></i> Tên: @Model.Name  </font><font style="float: right"></font>
            </p>
            <p>
                <font><i class="fa fa-phone"></i> Số điện thoại: @Model.Phone </font><font style="float: right"></font>
            </p>
            <p>
                <font><i class="fa fa-envelope"></i> Email: @Model.Email </font><font style="float: right"></font>
            </p>


        </div>
        <div class="col-md-3">
            <p>
                <font><i class="fa fa-location-arrow"></i> Địa chỉ: @Model.Address </font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Mã Đơn Hàng: @Model.OrderInternalId </font><font style="float: right"></font>
            </p>
            <p>
                <font><i class="fa fa-calendar"></i> Ngày: @Model.CreateDate </font><font style="float: right"></font>
            </p>

        </div>
        <div class="col-md-3">

            <p>
                <font><i class="fa fa-archive"></i> Kho:</font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Tên đăng nhập: @Model.UserName </font><font style="float: right"></font>
            </p>
            <p>
                <font>(-) Nhân viên sale:@Model.SaleManager </font><font style="float: right"></font>
            </p>

        </div>
        <div class="col-md-3">
            @if (@Model.Status == OrderStatus.Cancel.ToString())
            {
                <a href="javascript:void(0);" onclick="alert('Đơn hàng này đã hủy!');" class='btn btn-danger btn-sm' title="Hủy đơn"><i class="fa fa-trash-o"></i> Hủy đơn</a>

            }
            else if (@Model.Status != OrderStatus.New.ToString())
            {
                <a href="javascript:void(0);" onclick="alert('Không thể hủy đơn hàng ở trạng thái @Model.StatusText');" class='btn btn-danger btn-sm' title="Hủy đơn"><i class="fa fa-trash-o"></i> Hủy đơn</a>

            }
            else
            {
                <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderInternalId, '0');" class='btn btn-danger btn-sm' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i> Hủy đơn</a>
            }        
            @if (Model.Client != null)
            {
                if (Session["UserType"] != null)
                {
                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                    {

                        if ((Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString()))
                        {
                            <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderInternalId, '1');" style="width:160px" rel='tooltip' class="btn btn-primary1 btn-sale-confirm btn-block" title="Chốt đơn"> Chốt đơn hàng</a>
                        }
                        if (Model.Status == OrderStatus.FullCollect.ToString())
                        {
                            <a href="#" onclick="confirm_order(@Model.OrderInternalId, '5');" style="margin-top: 5px" class="btn btn-primary " title="Xác nhận đã gửi hàng cho KH">
                                <i class="fa fa-ticket"></i> Xác nhận giao hàng
                            </a>
                        }
                    }

                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                    {
                        if (Model.Status == OrderStatus.SaleConfirm.ToString())
                        {
                            <a href="@Url.Action("AccountingConfirmOrder", "Account", new { id = Model.OrderInternalId })" style="width:160px" rel='tooltip' class="btn btn-primary btn-account-confirm" title="Cập nhật thanh toán"> Cập nhật thanh toán</a>
                        }
                        if (Model.Status == OrderStatus.MisOrder.ToString())
                        {
                            <a href="#" onclick="confirm_order(@Model.OrderInternalId, '3');" style="margin-top: 5px" class="btn btn-primary" title="Gửi sale">
                                Hoàn lại tiền cho khách
                            </a>
                        }
                    }
                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                    {
                        if (Model.Status == OrderStatus.Paid.ToString())
                        {
                            <a href="#" onclick="confirm_order(@Model.OrderInternalId, '2');" style="margin-top: 5px" class="btn btn-danger" title="Gửi sale">
                                <i class="fa fa-arrow-left"></i> Hết hàng gửi lại sale
                            </a>
                            <a href="@Url.Action("UpdateOrder", "Account", new {id = Model.OrderInternalId})" style="margin-top: 5px" rel='tooltip' class="btn btn-primary  btn-orderer-confirm" title="Đặt hàng thành công">Đặt hàng thành công</a>

                        }
                    }
                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                    {
                        if (Model.Status == OrderStatus.Order.ToString())
                        {
                            <a href="#" onclick="confirm_order(@Model.OrderInternalId, '4');" style="margin-top: 5px" class="btn btn-primary " title="Xác nhận hàng về">
                                <i class="fa fa-arrow-left"></i> Xác nhận hàng về
                            </a>

                        }
                    }
                }
            }
            <br />

        </div>

    </div>

    <div class="alert alert-default btn-flat row">


        <div class="form-group col-md-10">
            <label>Danh sách ghi chú</label>
            <div class="form-group col-md-12">
                @Html.Raw(Model.Content)
            </div>
            <div class="form-group col-md-12">
                <label>Ghi chú</label>
                @Html.TextArea("Content", "", new { @class = "form-control", style = "resize: none;" })
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped" style="font-size: 10.5px">
                <thead>
                    <tr>
                        <th class="text-center">Tổng tiền</th>
                        <th class="text-center">Mã đơn khiếu nại</th>
                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                            {
                                <th class="text-center">Chọn order</th>
                            }
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                            {
                                <th class="text-center">Phí Order mua thêm</th>
                            }                        
                                <th class="text-center">Mã giao dịch</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td><input type="text" class="form-control" id="usr" value="@((Model.TotalPriceConvert + Math.Round(Model.TotalPriceConvert, MidpointRounding.ToEven)).ToString("##,###"))" readonly></td>
                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                            {                            
                                    <td>
                                        @Html.TextBoxFor(m => m.IDOrderCompain, new { @class = "form-control" })
                                    </td>                        

                            }
                            else
                            {
                                <td><input type="text" class="form-control" id="usr" value="@Model.IDOrderCompain" readonly></td>
                            }
                        }

                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                            {
                                <td>
                                    @if (Model.Status != OrderStatus.New.ToString())
                                    {
                                        @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>)ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.OrdererManager, (IEnumerable<SelectListItem>)ViewBag.ListOrderer, "--Người đặt hàng--", new { @class = "form-control flat" })
                                    }
                                </td>
                            }
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                            {
                                <td>@Html.TextBoxFor(model => model.AccountingCollected, new { @class = "form-control", @readonly = "readonly" })</td>
                            }                           
                                <td>@Html.TextBoxFor(model => model.TransId, new { @class = "form-control", @readonly = "readonly" })</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divReason" class="form-group col-sm-12" style="display:none">
        </div>
        <div class="col-md-12">
            <div class="table-responsive" style="width: 100%">
                <table class="table table-bordered table-striped" style="font-size: 10.5px">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Link</th>
                            <th class="text-center">Mô tả</th>
                            <th class="text-center">Shop</th>
                            <th class="text-center">Size</th>
                            <th class="text-center">Color</th>
                            <th class="text-center">Số Lượng KH</th>
                            <th class="text-center">Số Lượng TT</th>
                            <th class="text-center">Đơn giá</th>
                            <th class="text-center">Tổng giá</th>
                            <th class="text-center">Ngày xuất</th>
                            <th class="text-center">Ghi chú Sale</th>
                            <th class="text-center">Trạng thái</th>
                            <th class='text-center'>Thao tác</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model.ListOrderDetails)
                            {
                            <tr>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.OrderInternalDetailId)
                                </td>
                                <td class='text-center'>
                                    <a href="@item.Link" target="_blank">
                                        @item.Link
                                    </a>
                                </td>

                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Shop)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.QuantitySellPlace)
                                </td>
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td class='text-center'>

                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td class='text-center'>
                                    @(((item.Price * item.Quantity) ?? 0).ToString("##,##0"))
                                </td>
                                @if (item.DeliveryDate == null)
                                {

                                    <td class='text-center'>Chưa xuất kho</td>
                                }
                                else
                                {
                                    <td class='text-center'>@((item.DeliveryDate ?? DateTime.Now).ToString("dd/MM/yyyy")) </td>
                                }
                                <td class='text-center'>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>
                                <td class="text-center">
                                    @item.getStatusText()
                                </td>
                                <td class='text-center' id="action">
                                    @if (Session["UserType"] != null)
                                    {
                                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                        {
                                            if (Model.Status == OrderStatus.Paid.ToString() || Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString())
                                            {
                                                <a href="@Url.Action("AddEditOrderInternalDetail", "Account", new {id = item.OrderInternalDetailId})" rel='tooltip' title="Sửa link" class='btn btn-info btn-xs btn-edit'><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("DeletedOrderInternalDetail", "Account", new {id = item.OrderInternalDetailId})" rel='tooltip' title="Xóa link" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>
                                            }
                                        }
                                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                        {
                                            if (Model.Status == OrderStatus.Paid.ToString())
                                            {

                                                <a href="@Url.Action("UpdateOrderDetail", "Account", new {id = item.OrderInternalDetailId, IsOrderer = true})" rel='tooltip' title="Cập nhật TT đặt hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                            }
                                        }
                                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                                        {
                                            if (@Model.Status == OrderStatus.Order.ToString())
                                            {
                                                <a href="@Url.Action("UpdateOrderDetail", "Account", new {id = item.OrderInternalDetailId, IsOrderer = false})" rel='tooltip' title="Cập nhật TT nhận hàng" class='btn btn-info btn-xs btn-edit-info'><i class="glyphicon glyphicon-cog"></i></a>
                                            }
                                        }
                                    }
                                </td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade"
                 id="myModal"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" style="width: 900px">
                    <!-- empty -->
                </div>
            </div>
            <div class="modal fade"
                 id="myModal1"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-mini">
                    <!-- empty -->
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootbox")

        <script>
            $(document).ready(function () {
                $('#fromDate input').datepicker({
                    orientation: "bottom auto",
                    todayHighlight: true
                });
                $('#toDate input').datepicker({
                    orientation: "bottom auto",
                    todayHighlight: true
                });
                var valueFee = $('#Fee').val();
                var valueDownpayment = $('#DownPaymentRate').val();
                $('#Fee').change(function (e) {

                    if ($('#Fee').val() != valueFee) {
                        $('#divReason').show();
                    } else {
                        $('#divReason').hide();
                    }
                });

                $('#DownPaymentRate').change(function (e) {

                    if ($('#DownPaymentRate').val() != valueDownpayment) {
                        $('#divReason').show();
                    } else {
                        $('#divReason').hide();
                    }
                });

                $('.btn-add').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal');
                    var $modalDialog = $('.modal-dialog');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $('.btn-edit').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal');
                    var $modalDialog = $('.modal-dialog');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $('.btn-edit-info').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal');
                    var $modalDialog = $('.modal-dialog');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $('.btn-sale-confirm').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal');
                    var $modalDialog = $('.modal-dialog');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $('.btn-account-confirm').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal1');
                    var $modalDialog = $('.modal-mini');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $('.btn-orderer-confirm').click(function (e) {

                    /*
                    * hủy liên kết
                    *
                    * việc này quan trọng
                    * nếu không hủy liên kết, modal sẽ không được load đúng cách
                    * vì action sẽ trả về 1 trang html trống với partialview
                    *
                    * cách tương tự return false; cách này thực hiện ở cuối method
                    */
                    e.preventDefault();

                    var $modal = $('#myModal1');
                    var $modalDialog = $('.modal-mini');
                    var href = $(this).prop('href');

                    // không cho phép tắt modal khi click bên ngoài modal
                    var option = { backdrop: 'static' };

                    // kiểm tra (logic, điều kiện...)

                    // load modal
                    $modalDialog.load(href, function () {
                        $modal.modal(option, 'show');
                    });
                });
                $(".btn-deleted").click(function (e) {
                    e.preventDefault();

                    var url = $(this).attr('href');

                    bootbox.dialog({
                        message: "Bạn có chắc muốn xóa link này?",
                        title: "Xóa link khỏi đơn hàng",
                        buttons: {
                            success: {
                                label: "Xóa!",
                                className: "btn btn-success",
                                callback: function () {
                                    $(this).modal('hide');
                                    window.location = url;
                                }
                            },
                            danger: {
                                label: "Đóng!",
                                className: "btn btn-flat",
                                callback: function () {
                                    $(this).modal('hide');
                                }
                            }
                        }
                    });
                });


            }); // document ready
            function confirm_order(orderId, type) {
                if (type == 0) {
                    $.ajax({
                        url: "@Url.Action("Cancel_Order", "Account")",
                        type: 'POST',
                        data: '{ \"orderId\" : \"' + orderId + '\"}',
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            //alert(data.success);
                            if (data.success) {
                                bootbox.alert("Hủy đơn hàng thành công!", function () {
                                    window.location.reload();
                                });
                            } else {
                                bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            alert("Lỗi");
                        }
                    });
                } else if (type == 1) {

                    var Fee = $('#Fee').val();
                    var FeeShipChina = $('#FeeShipChina').val();
                    var DownPaymentRate = $('#DownPaymentRate').val();
                    var OrdererManager = $('#OrdererManager').val();
                    var IDOrderCompain = $('#IDOrderCompain').val();
                    var Reason = $('#Reason').val();

                    var model = {
                        IDOrderCompain: IDOrderCompain,
                        OrderInternalId: orderId,
                        Fee: Fee,
                        FeeShipChina: FeeShipChina,
                        DownPaymentRate: DownPaymentRate,
                        OrdererManager: OrdererManager
                    }
                    var data = {
                        model: model,
                        Reason: Reason
                    }
                    $.ajax({
                        url: "@Url.Action("SaleConfirmOrder", "Account")",
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success) {
                                if (data.isApproval) {
                                    bootbox.alert("Xác nhận đơn hàng thành công, chờ quản lý phê duyệt!", function () {
                                        window.location.reload();
                                    });
                                } else {
                                    bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                        window.location.reload();
                                    });
                                }
                            } else {
                                bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            alert("Lỗi");
                        }
                    });
                } else if (type == 2) {
                    var data = {
                        OrderInternalId: orderId,
                    }
                    $.ajax({
                        url: "@Url.Action("UpdateOrderComplaint", "Account")",
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success) {
                                window.location.reload();
                            } else {
                                bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            alert("Lỗi");
                        }
                    });
                } else if (type == 3) {
                    var data = {
                        OrderInternalId: orderId,
                    }
                    $.ajax({
                        url: "@Url.Action("CombackComplaint", "Account")",
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success) {
                                window.location.reload();
                            } else {
                                bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            alert("Lỗi");
                        }
                    });
                } else if (type == 4) {
                    $.ajax({
                        url: "@Url.Action("ConfirmReceive", "Account")",
                        type: 'POST',
                        data: '{ \"orderId\" : \"' + orderId + '\"}',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success) {
                                bootbox.alert("Xác nhận hàng về thành công!", function () {
                                    window.location.reload();
                                });
                            } else {
                                bootbox.alert("Có lỗi trong quá trình xác nhận hàng về!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            bootbox.alert("Lỗi");
                        }
                    });
                } else if (type == 5) {
                    $.ajax({
                        url: "@Url.Action("FinishOrder", "Account")",
                        type: 'POST',
                        data: '{ \"orderId\" : \"' + orderId + '\"}',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.success) {
                                bootbox.alert("Xác nhận đã giao hàng cho khách thành công!", function () {
                                    window.location.reload();
                                });
                            } else {
                                bootbox.alert("Có lỗi trong quá trình xác nhận giao hàng!", function () {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function () {
                            bootbox.alert("Lỗi");
                        }
                    });
                }
            }

        </script>
    }