﻿@using OrderChina.Models
@using OrderChina.Common
@using PagedList.Mvc
@model OrderChina.Models.ViewDetailOrderMoney
@{
    ViewBag.Title = "ViewPriceReality";
}
@if (Session["UserType"] != null)
{

    @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "Order", true } })
}
<div class="col-md-9">

    <div class="alert alert-default btn-flat row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3>Thông tin mặc cả</h3>
            <h5>Tổng số tiền mặc cả: <b style="color:red">@Model.Money.ToString("##,###")</b></h5>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr />
    <div class="col-sm-12">
        <div class=order id="myModal"></div>
    </div>
</div>
<script>

    window.setInterval(function () {
        window.setTimeout(function () {
            UpdateListOrder();
        }, 600);
    }, 6000);
    function UpdateListOrder() {
    
     var searchNBD = $("#searchNBD").val();
     var searchNKT = $("#searchNKT").val();
     
     var data = {
         
         NBD: searchNBD,
         NKT: searchNKT,
         
     };

     $.ajax({
         data: JSON.stringify(data),
         type: 'POST',
         url: '@Url.Action("GetListOrderMoney", "Account")',
         cache: false,
         contentType: 'application/json; charset=utf-8',
         success: function (data) {

             if (data.success) {
                 
                 $(".order").html(data.data);
               

             }
         }
     });

 }
                    </script>
 