﻿
@model OrderChina.Models.ViewDetailOrderModel
@using OrderChina.Common
@using OrderChina.Models
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @if (Session["UserType"] != null)
        {

            if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
            {
                <div style="padding-left:50px;">
                    <link href="~/Content/Minh_user.css" rel="stylesheet" />
                    @Html.Partial("_Menu_User_Vertical", new ViewDataDictionary { { "ViewDepositOrder", true } })
                </div>
            }
            else
            {
                @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ViewDepositOrder", true } })
            }
            <div class="container col-md-9">
                <div class="alert alert-default btn-flat row">

                    <div class="col-md-12">
                        <h4>Thông tin Khách hàng: - @Model.StatusText - <b> 1 NDT = @Model.Rate.ToString("##,###") <sup>đ</sup></b></h4>
                    </div>

                    <div class="col-md-4">
                        <p>
                            <font><i class="fa fa-user-circle-o"></i> Tên:  @Model.UserName </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font><i class="fa fa-phone"></i> Số điện thoại: @Model.Phone </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Mã Đơn Hàng: @Model.OrderId </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font><i class="fa fa-calendar"></i> Ngày: @Model.CreateDate </font><font style="float: right"></font>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <font>(-) Tổng tiền: @Model.TotalPriceConvert </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Trọng lượng: @Model.Weight </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Tên đăng nhập: @Model.UserName </font><font style="float: right"></font>
                        </p>
                        <p>
                            <font>(-) Nhân viên sale:@Model.SaleManager </font><font style="float: right"></font>
                        </p>

                    </div>
                    <div class="col-md-3">
                        @if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                        {

                            <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderId, '0');" class='btn btn-danger btn-xs ' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i> Hủy bỏ </a>
                        }

                        @*<button class="btn btn-primary">Chốt đơn</button>*@


                        @if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve, false))
                            {
                                if (Model.OrderType == OrderType.Ship.ToString())
                                {
                                    if (Model.Status == OrderStatus.Order.ToString())
                                    {
                                        if (Session["UserType"] != null)
                                        {
                                            <a href="@Url.Action("UpdateDepositOrder", "Account", new { id = Model.OrderId })" style="margin-right: 5px"
                                               rel='tooltip' class="btn btn-primary pull-right btn-orderer-confirm" title="Cập nhật đơn hàng">Cập nhật đơn hàng</a>

                                        }
                                    }
                                }
                            }
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                            {
                                if (Model.OrderType == OrderType.Ship.ToString())
                                {
                                    if (Model.Status == OrderStatus.FullCollect.ToString())
                                    {
                                        <a href="#" onclick="confirm_order(@Model.OrderId, '5');" style="margin-right: 5px"
                                           class="btn btn-primary pull-right" title="Xác nhận hàng về">
                                            <i class="fa fa-arrow-left"></i> Kết thúc đơn hàng
                                        </a>
                                    }
                                    if (Model.Status == OrderStatus.Receive.ToString())
                                    {
                                        <a href="#" onclick="confirm_order(@Model.OrderId, '4');" style="margin-right: 5px"
                                           class="btn btn-primary pull-right" title="Xác nhận hàng về">
                                            <i class="fa fa-arrow-left"></i> Xác nhận hoàn thành hóa đơn
                                        </a>
                                    }

                                }
                            }
                        }
                        <br />

                    </div>

                </div>

                <div class="alert alert-default btn-flat row">

                    <div class="form-group col-md-10">
                        <label>Ghi chú đơn hàng</label>
                        @Html.Raw(Model.Content)
                    </div>
                    <div class="form-group col-md-10">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="3" id="comment" @(Model.Status != OrderStatus.New.ToString() ? "readonly" : "") style="resize: none;"></textarea>
                    </div>
                    @using (Html.BeginForm("ViewDepositOrder", "Account", FormMethod.Post))
                    {
                        if (Session["UserType"] != null)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                            {
                                if (Model.OrderType == OrderType.Ship.ToString())
                                {
                                    if (Model.Status == OrderStatus.Order.ToString() || Model.Status == OrderStatus.MissingBucket.ToString()|| Model.Status == OrderStatus.Receive.ToString())
                                    {
                                    <div class="form-group col-md-3">
                                        <label>Số thùng đã về</label>
                                        <input type="text" class="form-control" rows="1" name="MissingBucket" style="resize: none;" />
                                    </div>
                                    <div class="form-group col-md-3 " style="padding-top:25px;">

                                        <button name="submit" class="btn btn-primary pull-right btn-flat" type="submit">
                                            Xác nhận số thùng
                                        </button>
                                    </div>
                                    }
                                }
                            }
                        }
                    }
                    <div class="form-group col-md-4 " style="padding-top:25px;color:red;">

                        @ViewBag.Message
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped" style="font-size: 10.5px">
                            <thead>
                                <tr>

                                    <th class="text-center">Tiền kéo</th>
                                    <th class="text-center">Phí vận chuyển nội địa Việt Nam</th>
                                    <th class="text-center">Ship nội địa TQ</th>
                                    <th class="text-center">Trọng lượng</th>
                                    <th class="text-center">Số lượng thùng</th>
                                    <th class="text-center">Số lượng thùng đã về</th>
                                    <th class="text-center">Cước vận chuyển</th>
                                    <th class="text-center">Phí phát sinh (nếu có)</th>
                                    <th class="text-center">Tổng tiền</th>
                                    @*<th class="text-center">Đặt cọc</th>
                                        <th class="text-center">Đã thu thêm</th>
                                        <th class="text-center">Còn thiếu</th>*@

                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td class='text-center'>
                                        @Model.Pulling.ToString("##,###")<sup>đ</sup>
                                    </td>
                                    <td class='text-center'>
                                        @Model.Inland.ToString("##,###")<sup>đ</sup>
                                    </td>
                                    <td class='text-center'>
                                        @Model.FeeShipChina.ToString("##,###")<sup>đ</sup>
                                    </td>
                                    <td class='text-center'>
                                        @Model.Weight<sup>kg</sup>
                                    </td>
                                    <td class='text-center'>
                                        @Model.Bucket
                                    </td>
                                    <td class='text-center'>
                                        @Model.ReceiveBucket
                                    </td>
                                    <td class='text-center'>
                                        @Model.FeeShip.ToString("##,###")<sup>đ</sup>
                                    </td>
                                    <td class='text-center'>
                                        @Model.Incurred.ToString("##,###")<sup>đ</sup>
                                    </td>

                                    <td class='text-center'>
                                        @((Model.Pulling + Model.Incurred + Model.Inland + Model.FeeShipChina + Model.FeeShip).ToString("##,###"))<sup>đ</sup>
                                    </td>
                                    @*<td class='text-center'>
                @Model.DownPayment.ToString("##,###")<sup>đ</sup>
            </td>
            <td class='text-center'>
                @Model.AccountingCollected.ToString("##,###")<sup>đ</sup>
            </td>
            <td class='text-center'>
                @(((Model.TotalPriceConvert + Math.Round((Model.TotalPriceConvert * Model.Fee) / 100, MidpointRounding.ToEven) + Model.FeeShipChina + Model.FeeShip) - Model.DownPayment - Model.AccountingCollected).ToString("##,###"))<sup>đ</sup>
            </td>*@
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div id="divReason" class="form-group col-sm-12" style="display:none">
                        <label for="Reason">Lý do</label>
                        <br />@Html.ValidationMessage("Reason", "Yêu cầu nhập lý do!")
                        <textarea wrap="soft" name="Reason" class="form-control btn-flat required" id="Reason" type="text" data-val-required="Lý do bắt buộc nhập." data-val="true" required rows="3" style="resize:none"></textarea>


                    </div>

                    <div class="modal fade"
                         id="myModal"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 900px">
                            <!-- empty -->
                        </div>
                    </div>
                    <div class="modal fade"
                         id="myModal1"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-mini">
                            <!-- empty -->
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <!-- empty -->
        </div>
    </div>
    <div class="modal fade"
         id="myModal1"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-mini">
            <!-- empty -->
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")


    <script>
        $(document).ready(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-orderer-confirm').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal1');
                var $modalDialog = $('.modal-mini');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        }); // document ready
        function confirm_order(orderId, type) {
            if (type == 0) {
                $.ajax({
                    url: "@Url.Action("Cancel_Order_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        //alert(data.success);
                        if (data.success) {
                            bootbox.alert("Hủy đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 1) {
                $.ajax({
                    url: "@Url.Action("Confirm_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            }
            else if (type == 2) {
                $.ajax({
                    url: "@Url.Action("OrdererRejectOrder", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Gửi lại đơn hàng cho sale thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình gửi lại đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            }
            else if (type == 3) {
                $.ajax({
                    url: "@Url.Action("OrdererConfirmOrder", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đặt hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận đặt hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            } else if (type == 4) {
                $.ajax({
                    url: "@Url.Action("FinishOrderDepo", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận hàng về thành công", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Xác nhận hàng về thành công, khách hàng không tiền trong tài khoản để thanh toán hãy liên lạc lại với khách", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            } else if (type == 5) {
                $.ajax({
                    url: "@Url.Action("OrderDepoFinish", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đã giao hàng cho khách thành công, kết thúc đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận giao hàng hoặc khách hàng !", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        bootbox.alert("Lỗi");
                    }
                });
            }

        }

    </script>
}
