﻿@{
    ViewBag.Title = "Mã vận đơn trùng";
    Layout = null;
}
@model IEnumerable<OrderChina.Models.OrderInternal>
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Danh sách đơn hàng mã vận đơn trùng:</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Mã đơn hàng</th>
                                <th class='text-center'>SĐt Khách hàng</th>                      
                                <th class='text-center'>Mã giao dịch</th>
                                <th class='text-center'>Tỷ giá</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Tổng tiền</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class='text-center'>Xem chi tiết đơn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.OrderInternalInDayID)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.TransId)
                                    </td>                   
                                    <td class='text-center'>
                                        @item.Rate.ToString("##,###")
                                    </td>
                                    <td class='text-center'>
                                        @item.getStatusText()
                                    </td>
                                    <td class='text-center'>
                                        @item.TotalPriceConvert.ToString("##,##0")
                                    </td>
                                    <td class='text-center'>
                                        @item.CreateDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class='text-center'>
                                        <a rel='tooltip' title="Xem chi tiết"
                                           href=@Url.Action("ViewOrderDetailNew", "Account",new{id = item.OrderInternalId}) class="btn btn-xs btn-primary">
                                            <i class="fa fa-search-plus"></i>                  
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    @*<button type="submit" value="Save" onclick="update()" id="btnSave" name="cmd" class="btn btn-primary">Cập nhật</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}