﻿@using OrderChina.Models
@model OrderChina.Models.ViewDetailOrderNonShopModel
@{
    ViewBag.Title = "Đơn chưa phân shop";
}
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary() { { "ViewOrderDetailForSale", true } })
        <div class="col-md-9">
            <div class="alert alert-default btn-flat row" style="font-size:16px;">
                <div class="col-md-12">
                    <h4>Thông tin Khách hàng: - @Model.StatusText - <b> 1 NDT = @Model.Rate.ToString("##,###") <sup>đ</sup></b></h4>
                </div>
                <div class="col-md-4">
                    <p>
                        <font><i class="fa fa-user"></i>Tên:@ViewBag.Name </font>
                        @if (Model.Client != null)
                        {
                            <i title="Chat với khách hàng" id="view_order_chat_client" userid="@Model.Client.UserId" class="fa fa-comments" style="color:green" aria-hidden="true"></i>
                        }
                        <font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-phone"></i> Số điện thoại: @Model.Phone </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-envelope"></i> Email: @ViewBag.Email  </font><font style="float: right"></font>
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        <font><i class="fa fa-location-arrow"></i>Địa chỉ: @ViewBag.Address</font><font style="float: right"></font>
                    </p>
                    <p>
                        <font>(-) Mã Đơn : @Model.OrderId </font><font style="float: right"></font>
                    </p>
                    <p>
                        <font><i class="fa fa-calendar"></i> Ngày: @ViewBag.Update.ToString("dd-MM-yyyy HH:mm:ss")</font><font style="float: right"></font>
                    </p>
                </div>
                <div class="col-md-4">
                    @if (Session["UserType"] != null)
                    {
                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                        {
                            if (!Model.IsShop)
                            {
                                <p style="width:50%">
                                    @if (@Model.Status != OrderStatus.New.ToString())
                                    {
                                        <a href="javascript:void(0);" onclick="alert('Đơn hàng này đã xác nhận!');" class='btn btn-danger btn-sm ' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i> Hủy bỏ đơn hàng</a>
                                        <br /><font style="font-size: 12px">(Click khi muốn hủy đơn hàng này)</font>
                                    }
                                    else
                                    {
                                        if (@Model.IsShop == false)
                                        {
                                            <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderId, '2');" class='btn btn-danger btn-sm ' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i> Hủy bỏ đơn hàng</a>
                                            <br /><font style="font-size: 12px">(Click khi muốn hủy đơn hàng này)</font>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderId, '0');" class='btn btn-danger btn-sm ' title="Hủy đơn hàng"><i class="fa fa-trash-o"></i> Hủy bỏ đơn hàng</a>
                                            <br /><font style="font-size: 12px">(Click khi muốn hủy đơn hàng này)</font>
                                        }

                                    }
                                </p>
                            }
                        }
                        else
                        {
                            if (Model.Client != null)
                            {
                                <p style="width:50%;float:right;padding-top:19px;">
                                    @if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                    {
                                        if (Model.Status == OrderStatus.New.ToString() && !Model.IsShop)
                                        {
                                            <a href="javascript:void(0);" onclick="confirm_order(@Model.OrderId, '6');" style="width:160px;" rel='tooltip' class="btn btn-primary1 btn-sale-confirm btn-block" title="Chốt đơn"> Phân shop</a>
                                        }
                                    }

                                </p>
                            }
                            else
                            {
                                if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                                {

                                    <p style="width:50%;float:right;padding-top:19px; ">
                                        @Html.ActionLink("Tạo tài khoản khách hàng", "Register", "Account", new { id = Model.OrderId, cmd = "client" }, new { @class = "btn btn-danger btn-xs", style = "padding: 6px 12px;" })
                                    </p>
                                }
                            }
                            <br />


                        }
                    }
                    <br />
                </div>
            </div>
            <div class="col-md-12" style="font-size:11px;">
                <h4>Chi tiết đơn hàng</h4>
                <table class="table table-bordered table-striped" style="font-size: 10.5px">
                    <thead>
                        <tr>
                            <th class="text-center">Tiền hàng</th>
                            <th class="text-center">Phí dịch vụ (@Model.Fee%)</th>
                            <th class="text-center">Ship nội địa TQ</th>
                            <th class="text-center">Trọng lượng</th>
                            <th class="text-center">Cước vận chuyển</th>
                            <th class="text-center">Phí phát sinh (nếu có)</th>
                            <th class="text-center">Tổng giá</th>
                            <th class="text-center">Đặt cọc</th>
                            <th class="text-center">Đã thu thêm</th>
                            <th class="text-center">Còn thiếu</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align:center;">
                            <td>@Model.TotalPriceConvert.ToString("##,###")<sup>đ</sup></td>
                            <td>@Math.Round((Model.TotalPriceConvert * Model.Fee) / 100, MidpointRounding.ToEven).ToString("##,###")<sup>đ</sup></td>
                            <td><sup>đ</sup></td>
                            <td><sup>kg</sup></td>
                            <td><sup>đ</sup></td>
                            <td>0<sup>đ</sup></td>
                            <td>@((Model.TotalPriceConvert + Math.Round((Model.TotalPriceConvert * Model.Fee) / 100, MidpointRounding.ToEven) + Model.FeeShipChina + Model.FeeShip).ToString("##,###"))"<sup>kg</sup></td>
                            <td>@Model.DownPayment.ToString("##,###")<sup>đ</sup></td>
                            <td>@Model.AccountingCollected.ToString("##,###")<sup>đ</sup></td>
                            <td>@(((Model.TotalPriceConvert + Math.Round((Model.TotalPriceConvert * Model.Fee) / 100, MidpointRounding.ToEven) + Model.FeeShipChina + Model.FeeShip) - Model.DownPayment - Model.AccountingCollected).ToString("##,###"))<sup>đ</sup></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-12">

                <h4>
                    Bạn có thể sửa link ở trạng thái đơn mới hoặc báo giá, click vào icon <i class="fa fa-edit btn btn-info btn-xs"></i> để sửa
                </h4>
                <div class="col-md-12 order-group" id="shop">
                    <div>
                        <span class="ogs-status">Tạo nhóm</span>
                        <span class="shop-number">@Model.ListShop.Count</span>
                        <span class="clearfix"></span>
                        <hr style="border:1px;" />
                    </div>
                    @foreach (var item in Model.ListShop)
                    {
                        <div class="row" style="padding-bottom: 5px" id="id_shop1">
                            <div class="container-shop col-md-12">
                                <div class="shop">Shop: @item.Name</div>
                                <!--div class="shop">Tiền ship: 0</div-->
                                <div class="shop">Tiền hàng: @((item.TotalPriceConvert + (item.Fee * item.TotalPriceConvert / 100)).ToString("###,##0")) đ</div>
                                <!--div class="shop">Mã vận đơn: </div-->
                                <div class="shop">Trọng lượng: 0</div>
                            </div>
                            <div class="col-md-12 table-responsive" style="padding-left: 0;font-size:11px;">
                                <table class="table table-bordered table-striped" style="cursor: pointer;margin-top: auto">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Mã link</th>
                                            <th style="width: 130px;">Hình ảnh</th>
                                            <th class="text-center" style="width: 150px;">Link</th>
                                            <!--<th class='text-center'>Shop</th>-->
                                            <th class="text-center">Mô tả</th>
                                            <th class="text-center">Size</th>
                                            <th class="text-center">Color</th>
                                            <th class="text-center">Mã vận đơn</th>
                                            <th class="text-center">Khách đặt</th>
                                            <th class="text-center">Đặt được</th>
                                            <th class="text-center">Về kho</th>
                                            <th class="text-center">Đơn giá(¥)</th>
                                            <th class="text-center">Thành tiền(¥)</th>
                                            <th class="text-center">Ngày xuất</th>
                                            <th class="text-center">Ghi chú</th>
                                            <th class="text-center">Trạng thái</th>
                                            <th class="text-center" style="">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemDetail in item.ListOrderDetails)
                                        {
                                            <tr>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.OrderDetailId)
                                                </td>
                                                <td class='text-center'>
                                                    <a href="@itemDetail.Image" target="_blank"><img src="@itemDetail.Image" width="30" height="30"></a>

                                                </td>
                                                <td class='text-center'>
                                                    <a href="@itemDetail.Link" target="_blank">
                                                        @itemDetail.Link
                                                    </a>
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Description)
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Size)
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Color)
                                                </td>
                                                <td class='text-center'></td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Quantity)
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.QuantitySellPlace)
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.QuantityInWarehouse)
                                                </td>
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Price)
                                                </td>
                                                <td class='text-center'>
                                                    @(((itemDetail.Price * itemDetail.Quantity) ?? 0).ToString("##,##0"))
                                                </td>
                                                @if (itemDetail.DeliveryDate == null)
                                                {

                                                    <td class='text-center'>Chưa xuất kho</td>
                                                }
                                                else
                                                {
                                                    <td class='text-center'>@((itemDetail.DeliveryDate ?? DateTime.Now).ToString("dd/MM/yyyy")) </td>
                                                }
                                                <td class='text-center'>
                                                    @Html.DisplayFor(modelItem => itemDetail.Note)
                                                </td>
                                                <td class='text-center'>
                                                    @itemDetail.getStatusText()
                                                </td>
                                                <td class='text-center' id="action">
                                                    @if (Session["UserType"] != null)
                                                    {
                                                        if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                                        {
                                                            if (Model.Status == OrderStatus.New.ToString() && !Model.IsShop)
                                                            {
                                                                <a href="@Url.Action("AddEditOrderDetail", "Account", new {id = itemDetail.OrderDetailId})" rel='tooltip' title="Sửa link" class='btn btn-info btn-xs btn-edit'><i class="fa fa-edit"></i></a>
                                                                <a href="@Url.Action("DeletedOrderDetail", "Account", new {id = itemDetail.OrderDetailId})" rel='tooltip' title="Xóa link" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>
                                                            }
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <textarea style="border: medium none; resize: none; box-shadow: rgb(255, 160, 122) 0px 0px 0px 3px; background-color: rgb(255, 255, 224); position: absolute; display: none;"></textarea>
                            </div>
                        </div>
                    }
                </div>
                <div class="order-group " id="no-shop">
                    <div class="container-shop container-shop" style="background-color: #373737; color: red">
                        <p class="col-md-12">Danh sách link chưa phân shop</p>
                    </div>
                    <div class="table-responsive col-md-12">
                        @{
                            var ok = (from a in Model.ListOrderDetails where a.Shop == null select a).ToList();
                            if (ok.Count != 0)
                            {
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class='text-center'>Mã link</th>
                                            <th class='text-center'>Link</th>
                                            <th class='text-center'>Link ảnh</th>
                                            <th class='text-center'>Size</th>
                                            <th class='text-center'>Color</th>
                                            <th class='text-center'>Shop</th>
                                            <th class='text-center'>Mô tả</th>
                                            <th class='text-center'>Khối lượng</th>
                                            <th class='text-center'>Đặt được</th>
                                            <th class='text-center'>Về kho</th>
                                            <th class='text-center'>Đơn giá</th>
                                            <th class='text-center'>Thành tiền</th>
                                            <th class='text-center'>Ngày xuất</th>
                                            <th class='text-center'>Ghi chú</th>
                                            <th class='text-center'>Trạng thái</th>
                                            <th class='text-center'>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id='link-container'>
                                        @foreach (var item in Model.ListOrderDetails)
                                    {
                                    <tr>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.OrderDetailId)
                                        </td>
                                        <td class='text-center'>
                                            <a href="@item.Link" target="_blank">
                                                @item.Link
                                            </a>
                                        </td>
                                        <td class='text-center'>
                                            <a href="@item.Image" target="_blank"><img src="@item.Image" alt="anh" width="30" height="30" /></a>

                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Size)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Shop)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.QuantitySellPlace)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.QuantityInWarehouse)
                                        </td>
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td class='text-center'>
                                            @(((item.Price * item.Quantity) ?? 0).ToString("##,##0"))
                                        </td>
                                        @if (item.DeliveryDate == null)
                                            {

                                            <td class='text-center'>Chưa xuất kho</td>
                                            }
                                            else
                                            {
                                            <td class='text-center'>@((item.DeliveryDate ?? DateTime.Now).ToString("dd/MM/yyyy")) </td>
                                            }
                                        <td class='text-center'>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td class='text-center'>
                                            @item.getStatusText()
                                        </td>
                                        <td class='text-center' id="action">
                                            @if (Session["UserType"] != null)
                                                {
                                                    if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client) || OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                                    {
                                                        if (Model.Status == OrderStatus.New.ToString() && !Model.IsShop)
                                                        {
                                                <a href="@Url.Action("AddEditOrderDetail", "Account", new {id = item.OrderDetailId})" rel='tooltip' title="Sửa link" class='btn btn-info btn-xs btn-edit'><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("DeletedOrderDetail", "Account", new {id = item.OrderDetailId})" rel='tooltip' title="Xóa link" class='btn btn-danger btn-xs btn-deleted'><i class="fa fa-trash-o"></i></a>
                                                        }
                                                    }
                                                }
                                        </td>
                                    </tr>
                                    }
                                    </tbody>
                                </table>
                            }

                        }
                    </div>
                    @if (Session["UserType"] != null)
                    {
                        if (!Model.IsShop)
                        {
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                            {
                                if (Model.Status == OrderStatus.New.ToString())
                                {
                                    <a href="@Url.Action("AddEditOrderDetail", "Account", new {orderId = Model.OrderId})" class="btn-flat btn-warning btn-xs btn pull-right btn-add" style="margin-right: 20px">
                                        <i class="fa fa-plus"></i> Thêm link
                                    </a>
                                }

                            }
                            if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, true))
                            {
                                if (Model.Status == OrderStatus.New.ToString() || Model.Status == OrderStatus.OrdererReject.ToString())
                                {
                                    <a href="@Url.Action("AddEditOrderDetail", "Account", new {orderId = Model.OrderId})" class="btn-flat btn-warning btn-xs btn pull-right btn-add" style="margin-right: 20px">
                                        <i class="fa fa-plus"></i> Thêm link
                                    </a>
                                }

                            }
                        }
                    }

                    <textarea style="border: medium none; resize: none; box-shadow: rgb(255, 160, 122) 0px 0px 0px 3px; background-color: rgb(255, 255, 224); position: absolute; display: none;"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <!-- empty -->
        </div>
    </div>
    <div class="modal fade"
         id="myModal1"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-mini">
            <!-- empty -->
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")

    <script>
        $(document).ready(function () {
            $('#fromDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('#toDate input').datepicker({
                orientation: "bottom auto",
                todayHighlight: true
            });
            $('.btn-add').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-edit').click(function (e) {

                /*
                * hủy liên kết
                *
                * việc này quan trọng
                * nếu không hủy liên kết, modal sẽ không được load đúng cách
                * vì action sẽ trả về 1 trang html trống với partialview
                *
                * cách tương tự return false; cách này thực hiện ở cuối method
                */
                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });

            $(".btn-deleted").click(function (e) {
                e.preventDefault();

                var url = $(this).attr('href');

                bootbox.dialog({
                    message: "Bạn có chắc muốn xóa link này?",
                    title: "Xóa link khỏi đơn hàng",
                    buttons: {
                        success: {
                            label: "Xóa!",
                            className: "btn btn-success",
                            callback: function () {
                                $(this).modal('hide');
                                window.location = url;
                            }
                        },
                        danger: {
                            label: "Đóng!",
                            className: "btn btn-flat",
                            callback: function () {
                                $(this).modal('hide');
                            }
                        }
                    }
                });
            });


        }); // document ready
        function confirm_order(orderId, type) {
            if (type == 0) {
                $.ajax({
                    url: "@Url.Action("Cancel_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        //alert(data.success);
                        if (data.success) {
                            bootbox.alert("Hủy đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            } else if (type == 1) {
                $.ajax({
                    url: "@Url.Action("Confirm_Order", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Xác nhận đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình xác nhận đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            }
            else if (type == 2) {
                $.ajax({
                    url: "@Url.Action("Cancel_OrderNoShop", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        //alert(data.success);
                        if (data.success) {
                            bootbox.alert("Hủy đơn hàng thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert("Có lỗi trong quá trình hủy đơn hàng!", function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert("Lỗi");
                    }
                });
            }
            else if (type == 6) {
                $.ajax({
                    url: "@Url.Action("SaleConfirmShop", "Account")",
                    type: 'POST',
                    data: '{ \"orderId\" : \"' + orderId + '\"}',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            bootbox.alert("Phân shop thành công!", function () {
                                window.location.reload();
                            });
                        } else {
                            bootbox.alert(data.msg, function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function (e) {
                        bootbox.alert(e.statusText, function () {
                            window.location.reload();
                        });
                    }
                });
            }


        }

    </script>
}
