﻿@{
    ViewBag.Title = "_UpdateOrderDetail";
}
@using OrderChina.Common
@using OrderChina.Models

@model OrderChina.Models.Wallet

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo ví điện tử</h4>
        </div>
        <div class="modal-body">
            @if (Utils.CheckRole(ViewBag.UserType, (int)UserType.Client, false))
            {
                <div class="form-group row" style="width: 100%; font-size: 14px">
                    @Html.HiddenFor(a => a.Client)
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Currency)
                        @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.ListCurrency, "--Loại tiền--", new { @class = "form-control flat", style = "display: inline;" })
                        @Html.ValidationMessageFor(m => m.Currency)
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Account)
                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control btn-flat", placeholder = "Số tài khoản" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Money)
                        @Html.TextBoxFor(m => m.Money, new { @class = "form-control btn-flat", placeholder = "Số tiền trong ví" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Name)
                        @Html.DropDownListFor(m => m.Name, (IEnumerable<SelectListItem>)ViewBag.ListBankName, "--Chọn Hình thức thanh toán--", new { @class = "form-control flat", style = "display: inline;" })
                    </div>
                </div>
            }
            else if (Utils.CheckRole(ViewBag.UserType, (int)UserType.Orderer, false) || ViewBag.UserType == "system")
            {
                <div class="form-group row" style="width: 100%; font-size: 14px">

                    @Html.HiddenFor(a => a.Client)

                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Currency)
                        @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.ListCurrency, "--Loại tiền--", new { @class = "form-control flat", style = "display: inline;" })
                        @Html.ValidationMessageFor(m => m.Currency)
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.WalletType)
                        @Html.DropDownListFor(m => m.WalletType, (IEnumerable<SelectListItem>)ViewBag.ListWalletType, "--Loại ví--", new { @class = "form-control flat", style = "display: inline;" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control btn-flat", placeholder = "Tên ví" })
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Account)
                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control btn-flat", placeholder = "Số tài khoản" })
                        @Html.ValidationMessageFor(m => m.Account)
                    </div>
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Money)
                        @Html.TextBoxFor(m => m.Money, new { @class = "form-control btn-flat", placeholder = "Số tiền trong ví" })
                    </div>
                </div>
            }


            <div class="modal-footer">
                <button type="submit" value="create" class="btn btn-primary">Tạo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            if ($('#WalletType').val() == "Bank") {
                var $label = $("label[for='Name']");
                if ($label) {
                    $label.text("Ngân hàng");
                }
            } else {
                var $label = $("label[for='Name']");
                if ($label) {
                    $label.text("Tên");
                }
            }

            $('#WalletType').change(function (e) {
                if ($('#WalletType').val() == "Bank") {
                    var $label = $("label[for='Name']");
                    if ($label) {
                        $label.text("Ngân hàng");
                    }
                } else {
                    var $label = $("label[for='Name']");
                    if ($label) {
                        $label.text("Tên");
                    }
                }
            });

        }); // document ready
    </script>
}