﻿@{
    ViewBag.Title = "Index";
}
@using OrderChina.Models
@using PagedList.Mvc
@model IndexWalletModel
@using OrderChina.Common
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@if (Session["UserType"] != null)
{

    if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
    { @Html.Partial("_Menu_User_Horizontal")}
}
<section @*class='container'*@ style='padding: 15px;'>
    <div class='row'>

        @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
            @(ViewBag.isadmin != null ?
            Html.Partial("_LayoutUser", new ViewDataDictionary { { "walletmanage", true } }) :
            ViewBag.isacc != null ? Html.Partial("_LayoutUser", new ViewDataDictionary { { "walletmanage", true } }) : Html.Partial("_LayoutUser", new ViewDataDictionary { { "wallet", true } }))
        }
        else
        {
            @(ViewBag.isadmin != null ?
            Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "walletmanage", true } }) :
            ViewBag.isacc != null ? Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "walletmanage", true } }) : Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "wallet", true } }))
        }
        <div class="col-md-9 order-content">
            @if (ViewBag.isadmin != null)
            {
                <a rel='tooltip' title="Tạo mới ví"
                   href=@Url.Action("CreateWallet", "Wallet", new { id = ViewBag.phone }) class="btn btn-xs btn-primary btn-create">
                    <i class="fa fa-file"></i>
                    Tạo mới ví
                </a>
            }

            <ul class="my-row">
                @foreach (var item in Model.Wallets)
                {
                    <li>
                        <i class="fa fa-money">@item.Currency</i>
                        <div class="content-container">
                            <span class="name">Tên ngân hàng: @item.Name</span>
                        </div>
                        <div class="content-container">
                            <span class="name">Số tài khoản: @item.Account</span>
                        </div>
                        <div class="content-container">
                            <span class="name">Số tiền trong ví: </span>
                            <span class="txt">@item.Money.ToString("##,##0")</span>
                        </div>
                        @if (OrderChina.Common.Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                        {
                            <div>
                                <a href="@Url.Action("AdditionWallet", "Wallet", new { id = item.Id, cmd = "add" })" rel='tooltip' title="Thêm tiền" class='btn btn-info btn-xs btn-addition'><i class="fa fa-plus"></i></a>
                                <a href="@Url.Action("AdditionWallet", "Wallet", new { id = item.Id, cmd = "sub" })" rel='tooltip' title='Trừ tiền' class='btn btn-info btn-xs btn-subtract'><i class="fa fa-minus"></i></a>
                            </div>
                        }
                    </li>
                }
            </ul>

            <div class="col-sm-12">
                <hr>
            </div>
            <ul class="nav nav-tabs">
                @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
                {
                    <li class="active"><a href="#history" data-toggle="tab">Lịch sử</a></li>
                    <li><a href="#sent" data-toggle="tab"> Chuyển khoản</a></li>
                    <li><a href="#info" data-toggle="tab">Nạp trực tiếp</a></li>
                }
                else
                {
                    <li class="active"><a href="#history" data-toggle="tab">Lịch sử</a></li>

                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="sent" style="margin-left:15px;margin-bottom:20px">
                    <p style="font-size:14px">
                        <br /><b> Hình thức thanh toán.</b>

                        <br />

                        BẠN ĐẶT HÀNG XONG SẼ CÓ MÃ ĐƠN HÀNG, VUI LÒNG THANH TOÁN 100% GIÁ TRỊ ĐƠN HÀNG BẰNG 1 TRONG 2 CÁCH SAU:
                        <br />
                        1. ĐẾN NỘP TIỀN TRỰC TIẾP TẠI VĂN PHÒNG
                        <br />
                        ĐỊA CHỈ : SỐ NHÀ 18 NGÕ 47 NGUYỄN KHẢ TRẠC, MAI DỊCH, CẦU GIẤY, HÀ NỘI
                        <br />
                        HOTLINE : 0167 236 3002 (DUNG) NẾU BẠN KHÔNG TÌM ĐƯỢC NHÀ ^^
                        <br />
                        2. CHUYỂN KHOẢN NGÂN HÀNG QUA 1 TRONG 2 TÀI KHOẢN SAU
                        <br />
                        <br />
                        1. Vietcombank
                        <br />
                        Số tài khoản : 0491000047763
                        <br />
                        Chủ TK        : Trần Thị Hồng Vân
                        <br />
                        Ngân hàng   : Vietcombank chi nhánh Thăng Long
                        <br />
                        <br />

                        2. Viettinbank
                        <br />
                        Số tài khoản : 711A59830641
                        <br />
                        Chủ TK        : Nguyễn Phương Dung
                        <br />
                        Ngân hàng   : Viettinbank chi nhánh Thái Hà
                        <br /><br />
                        Khi chuyển khoản vui lòng ghi nội dung chuyển tiền là : Tên + thanh toán cho mã đơn hàng nào
                        <br />
                    </p>
                </div>
                <div class="tab-pane active " id="history">
                    <table class="table table-bordered table-striped" style="font-size: 10.5px">
                        <thead>
                            <tr>
                                <th class='text-center'>Ví</th>
                                <th class='text-center'>Số tiền cập nhật</th>
                                <th class='text-center'>Loại cập nhật</th>
                                <th class='text-center'>Lý do</th>
                                <th class='text-center'>Diễn giải</th>
                                <th class="text-center">Người cập nhật</th>
                                <th class='text-center'>Ngày</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WalletHistorys)
                            {
                                <tr>
                                    <td class='text-center'>
                                        @Html.DisplayFor(modelItem => item.Currency)
                                    </td>
                                    <td class='text-center'>
                                        @item.Money.ToString("##,##0")
                                    </td>
                                    <td class='text-center'>
                                        @item.getUpdateTypeText()
                                    </td>
                                    <td class='text-center'>
                                        @Html.TextAreaFor(modelItem => item.Reason, new { @readonly = true })
                                    </td>
                                     <td class='text-center'>
                                        <div>@item.Note</div>
                                    </td>
                                    <td class='text-center'>
                                        <div>@ViewBag.DicUser[item.User_Update]</div>
                                    </td>
                                    <td class='text-center'>
                                        @item.LastUpdate.ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    Page @(Model.WalletHistorys.PageCount < Model.WalletHistorys.PageNumber ? 0 : Model.WalletHistorys.PageNumber) of @Model.WalletHistorys.PageCount
                    @Html.PagedListPager(Model.WalletHistorys, page => Url.Action("Index", new { id = ViewBag.phone, page }))
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.btn-create').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-addition').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-subtract').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        }); // document ready

    </script>
}