﻿@{
    ViewBag.Title = "Banggia";
}
@model OrderChina.Models.WatchListModel
@using OrderChina.Models
<div class="container">
    <div class="row">
        <div style="font-family: Arial,Verdana, sans-serif ; padding: 50px 10px 20px 20px; background-color:white ;line-height:1.45">
            <div style="background-color: #f5f5f5;height:40px"><p style="padding:8px 10px 10px 12px;font-size:13pt"><a href="#" style="color:#03aaff"> Bảng giá</a> / BẢNG GIÁ VẬN CHUYỂN TQ-VN</p> </div>
            <div style="padding:15px 0px 15px 0"><h2 style="font-size:30px;font-family:inherit">Bảng giá Dịch vụ vận tải hàng hóa TQ - VN</h2></div>
            <div style="font-size:12pt;margin-bottom:30px"><p><i class="fa fa-calendar-o"></i> Được đăng lúc : 01:51:01 11/01/2016</p></div>
            <div style="width:100%;margin-left: 1%">
                <div style="text-align:center;width:100%;font-family:Arial , Verdana,sans-serif;font-size:14px">
                    <b style="font-size:20px">BẢNG BÁO GIÁ</b>
                    <br />(Áp dụng từ 05/01/2016)
                    <p><b><i>CHUYỂN HÀNG CHỈ <i style="color:red">7 - 10 NGÀY</i> NHẬN HÀNG</i></b></p>
                </div>
                <div>
                    <p style="font-size:14px"><b>A/ Bảng giá dịch vụ đặt hàng.</b></p>
                    <p style="font-size: 14px; font-family: Arial, Verdana,sans-serif;text-align:justify;margin:0 0 10px ">
                        Với nhiều năm kinh nghiệm hoạt động trong lĩnh vực mua hàng và vận chuyển hàng hóa Trung Quốc - Việt Nam hai chiều.
                        <br />Chúng tôi xin gửi đến các quý khách hàng bảng giá vận chuyển hàng hóa từ Trung Quốc về Việt Nam NHANH NHẤT, RẺ NHẤT, AN TOÀN NHẤT thị trường.
                       </p>
                </div>
                <div style="width:100%">
                    <p>
                        <br />1) Phí vận nội địa Trung Quốc
                        <br />Hầu hết các đơn hàng đặt hàng trên các website taobao.com, tmall. com sẽ được FREESHIP NỘI ĐỊA TRUNG QUỐC
                        <br />2) Phí vận chuyển Trung Quốc - Việt Nam:
                        <br />Là mức phí để vận chuyển đơn hàng của bạn từ kho của chúng tôi tại Trung Quốc, về kho của chúng tôi tại địa chỉ số 18 Nguyễn Khả Trạc, Mai Dịch , Cầu Giấy , Hà Nội.
                        <br />Giá: 30.000đ/1kg ( áp dụng cho tất cả các đơn hàng )
                        <br />3) Phí giao hàng tới tay Khách hàng  (tùy chọn)
                        <br />Khách hàng có thể chọn hình thức nhận hàng tại địa chỉ văn phòng số 18 Nguyễn Khả Trạc , Mai Dịch , Cầu Giầy Hà Nội
                        <br />Hoặc chọn hình thức gửi hàng chuyển phát nhanh , nhận hàng và thanh toán phí ship trực tiếp cho hãng  chuyển phát nhanh

                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
