﻿@{
    ViewBag.Title = "Home Page";
}
    <div class="introduceap">
        <div class="container">
            <div class="row">
                <p class="text-uppercase text-center">dịch vụ của chúng tôi</p>
                <p class="text-center">Chúng tôi luôn cố gắng mang đến chất lượng dịch vụ tốt nhất cho quý khách. <br> Chỉ 7 tới 10 ngày cho một đơn hàng được giao dịch thành công và trả hàng tận tay bạn</p>
            </div>
        </div>
    </div>
    <div class="nguohangap">
        <div class="container">
            <div class="row">
                <p class="text-center text-capitalize" style="font-size:24px"><b>nguồn hàng phong phú</b></p>
                <div class="col-md-3 col-xs-12 col-sm-12 text-center">
                    <!-- <div class="img-ap"> -->
                    <img src="../images/taobao.png" alt="tao bao" class="img-responsive img-page">
                    <h3><b>Taobao.com</b></h3>
                    <p>Trang thương mại điện tử lớn nhất Trung Quốc</p>
                    <!-- </div> -->
                </div>
               
                <div class="col-md-3 col-xs-12 col-sm-12 text-center">
                    <img src="../images/1688.png" alt="1688" class="img-responsive img-page">
                    <h3><b>1688.com</b></h3>
                    <p>Kênh bán buôn hàng đầu Trung Quốc</p>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-12 text-center">
                    <img src="../images/tmail.png" alt="tmaill" class="img-responsive img-page">
                    <h3><b>Tmall.com</b></h3>
                    <p>Trang thương mại uy tín chuyên hàng nội địa Trung Quốc</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr style="border-top: 1px solid #E53B26;">
                <div class="col-md-4">
                    <img src="../images/ssskvc.png" alt="tmaill" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <p class="text-uppercase" style="font-size:21px"><b>Dịch vụ</b></p>
                    <ul class="list-unstyled">
                        <li class="padap"><img src="../images/check.png" alt="checkap"> <b>Đặt hàng thông minh, đặt hàng trực tiếp trên hệ thống, kiểm tra hành trình hàng, công nợ đơn hàng bất cứ thời điểm nào.</b></li>
                        <li class="padap"><img src="../images/check.png" alt="checkap"> <b>Hàng hóa được chúng tôi kiểm tra kỹ tại kho trước khi gửi về Việt Nam.</b></li>
                        <li class="padap"><img src="../images/check.png" alt="checkap" width="50" height="50"><b> Đội ngũ tư vấn kinh nghiệm, nhiệt tình và am hiểu đặc điểm các xưởng. Luôn đảm bảo cho quý khách sự hài lòng khi hàng về tới Việt Nam.</b></li>
                        <li class="padap"><img src="../images/check.png" alt="checkap"> <b>Thời gian ship hàng chỉ từ 2 - 3 ngày kể từ ngày ký nhận tại kho.</b></li>
                        <li class="padap"><img src="../images/check.png" alt="checkap"><b> Cam kết không tắc biên.</b></li>
                        @*<li class="padap"><img src="../images/check.png" alt="checkap"> <b>Thời gian ship hàng chỉ từ 2 - 3 ngày kể từ ngày ký nhận tại kho.</b></li>
                            <li class="padap"><img src="../images/check.png" alt="checkap"><b> Cam kết không tắc biên.</b></li>
                            <li class="padap"><img src="../images/check.png" alt="checkap"> <b>Thời gian ship hàng chỉ từ 2 - 3 ngày kể từ ngày ký nhận tại kho.</b></li>*@

                    </ul>
                </div>
            </div>
        </div>
    </div>

