﻿@{
    ViewBag.Title = "lienhe";
}

<div style="font-family: Arial, sans-serif ; padding: 50px 10px 20px 20px; background-color:white ">
    <div style="background-color: #f5f5f5;height:40px"><p style="padding:8px 10px 10px 12px;font-size:13pt"><a href="#" style="color:#03aaff"> Liên hệ</a> / Liên hệ công ty</p> </div>
    <div style="padding:15px 0px 15px 0"><h2 style="font-size:28px">Liên hệ</h2></div>
    <p style="font-size:18px; margin-left:20px">
    <br/>ĐỊA CHỈ TẠI HÀ NỘI
        <br />Trụ sở: Số nhà 18,Ngõ 47,Nguyễn Khả Trạc,Cầu Giấy,Hà Nội
        <br /> Website:http://dathanggiare.com.vn/ 
        <br />  Email: tranhongvan296@gmail.com
        <br />  Điện thoại:0167.236.3002
    </p>
</div>