﻿@{
    ViewBag.Title = "Thanh toán";
}
<div class="container" style="font-family: Arial, sans-serif ; padding: 50px 10px 20px 20px; background-color:white ">
    <div style="background-color: #f5f5f5;height:40px"><p style="padding:8px 10px 10px 12px;font-size:13pt"><a href="#" style="color:#03aaff"> Thanh toán</a> / Thông tin thanh toán</p> </div>
    <div style="padding:15px 0px 15px 0"><h2 style="font-size:28px">Thông tin thanh toán</h2></div>
    <p style="font-size:16px">
        <br /><b> Hình thức thanh toán.</b>

        Để đặt hàng đơn giản, tiện lợi tại Đặt hàng giá rẻ, các bạn chỉ cần thực hiện theo 5 bước dưới đây :

        <br /><br />Bước 1: Đăng kí tài khoản trên dathanggiare.top
        <br />Bước 2 :  Cài đặt " Công cụ đặt hàng trực tiếp "
        <br />Bước 3 : Tạo đơn hàng trên hệ thống hoặc tạo đơn hàng trên excel bằng cách copy đường link sản phẩm , màu sắc , thuộc tính của sản phẩm như màu sắc , size , .... và có thể mô tả thêm về sản phẩm
        <br />Bước 4 : Thanh Toán
        <br />- Khách hàng có thể thanh toán tại văn phòng của Đặt hàng giá rẻ
        <br />Địa chỉ văn phòng : số 18 Nguyễn Khả Trạc , Mai Dịch, Cầu Giấy , Hà Nội
        <br />- Thanh toán bằng hình thức chuyển khoản
        <br />Khách hàng có thể chuyển khoản qua 2 tài khoản
        <br />1. Vietcombank
        <br />Số tài khoản : 0491000047763
        <br />Chủ TK        : Trần Thị Hồng Vân
        <br />Ngân hàng   : Vietcombank chi nhánh Thăng Long
        <br />2. Viettinbank
        <br />Số tài khoản : 711A59830641
        <br />Chủ TK        : Nguyễn Phương Dung
        <br />Ngân hàng   : Viettinbank chi nhánh Thái Hà
        <br />
    </p>
</div>
