﻿@using OrderChina.Models;
@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model ReportsModel
@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")*@
@Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/filesaver")


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Báo cáo</h4>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="width: 100%;font-size: 14px">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ReportType)
                @Html.DropDownListFor(m => m.ReportType, (IEnumerable<SelectListItem>)ViewBag.ListReportType, "--Chọn báo cáo--", new { id = "reportType", @class = "form-control flat", style = "width: 300px;display: inline;" })
                @Html.ValidationMessageFor(m => m.ReportType)
            </div>
            <div class="col-sm-4" style="display:none">
                @Html.LabelFor(m => m.Month)
                @Html.DropDownListFor(m => m.Month, (IEnumerable<SelectListItem>)ViewBag.ListMonths, "--Chọn tháng--", new { @class = "form-control flat", style = "width: 300px;display: inline;" })
                @Html.ValidationMessageFor(m => m.Month)
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnReport" class="btn btn-primary">Xuất báo cáo</button>
            <button type="button" class="btn btn-red" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select#reportType').change(function () {
            var reportType = $(this).val();

            if (reportType === "SurviveEarlyMonth") {
                //ẩn hiện ở đây
                $("#Month").parent().show();
            }
        });
       
        $('#btnReport').click(function () {
            console.log("alo");
            var data = {
                ReportType: $("select#reportType").val(),
                Month: $("#Month").val()
            };
            var model = { model: data };
            $.ajax({
                url: "@Url.Action("GetReports", "Reports")",
                type: 'POST',
                data: JSON.stringify(model),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        var fileContent = base64ToArrayBuffer(data.BytesData);
                        var file = new Blob([fileContent], { type: data.Type });

                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1; //January is 0!
                        var yyyy = today.getFullYear();
                        var hour = today.getHours();
                        var mi = today.getMinutes();
                        var ss = today.getSeconds();
                        if (dd < 10) {
                            dd = '0' + dd
                        }
                        if (mm < 10) {
                            mm = '0' + mm
                        }
                        if (mi < 10) {
                            mi = '0' + mi
                        }
                        if (ss < 10) {
                            ss = '0' + ss
                        }

                        //YYMMDD_HHmmss

                        var name = data.ReportName + "_" + yyyy + mm + dd + "_" + hour + mi + ss + "." + data.Extension;
                        saveAs(file, name);
                    } else {
                        bootbox.alert(data.msg);
                    }
                },
                error: function () {
                    bootbox.alert("Lỗi");
                }
            });
        });
    });
    var base64String = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
    function base64DecodeLookup() {
        var coreArrayBuffer = new window.ArrayBuffer(256);
        var base64DecodeLookupTable = new Uint8Array(coreArrayBuffer);
        for (var i = 0; i < base64String.length; i++) {
            base64DecodeLookupTable[base64String[i].charCodeAt(0)] = i;
        }
        return base64DecodeLookupTable;
    };
    function base64ToArrayBuffer(base64) {
        var base64Decode = base64DecodeLookup();
        var bufferLength = base64.length * 0.75,
            len = base64.length, i, p = 0,
            encoded1, encoded2, encoded3, encoded4;
        if (base64[base64.length - 1] === "=") {
            bufferLength--;
            if (base64[base64.length - 2] === "=") {
                bufferLength--;
            }
        }

        var arraybuffer = new window.ArrayBuffer(bufferLength),
            bytes = new Uint8Array(arraybuffer);
        for (i = 0; i < len; i += 4) {
            encoded1 = base64Decode[base64.charCodeAt(i)];
            encoded2 = base64Decode[base64.charCodeAt(i + 1)];
            encoded3 = base64Decode[base64.charCodeAt(i + 2)];
            encoded4 = base64Decode[base64.charCodeAt(i + 3)];

            bytes[p++] = (encoded1 << 2) | (encoded2 >> 4);
            bytes[p++] = ((encoded2 & 15) << 4) | (encoded3 >> 2);
            bytes[p++] = ((encoded3 & 3) << 6) | (encoded4 & 63);
        }
        return arraybuffer;
    };
</script>