﻿@using OrderChina.Common
@using OrderChina.Models
@Styles.Render("~/Content/Minh_user")
<div class="header-banner-hide order-list">
    <div class="col-md-2 col-sm-3 col-xs-4 " style="padding-left:50px;">
        <div class="menu-left-bar ">
            <div class="row" id="nav_menu">
                <div page="order-list" id="nav-tree-menu" class="block-avatar  padding-left-0">
                    <div class="nav-left ">
                        <ul class="nav nav-list text-left" id="nav-menu-left">
                            <li data-page="order-list" class="active">
                                <label label-default="" id="abc" class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                    <i class="fa fa-shield"></i>
                                    <span class="_label-order">Đơn hàng</span>
                                    <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                </label>
                                <ul class="nav tree nav-list nav_tree nav-item-tree">
                                    @if (ViewData["managenoshop"] != null)
                                    {
                                        <li class="active">
                                            <a href=@Url.Action("ManageNoShop", "Account") title="Đơn hàng chưa phân shop">
                                                Đơn hàng chưa phân shop
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href=@Url.Action("ManageNoShop", "Account") title="Đơn hàng chưa phân shop">
                                                Đơn hàng chưa phân shop
                                            </a>
                                        </li>
                                    }
                                    @if (ViewData["manage"] != null)
                                    {

                                        <li class="active">
                                            <a href=@Url.Action("Manage", "Account") title="Đơn hàng của bạn">
                                                Đơn hàng
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href=@Url.Action("Manage", "Account") title="Đơn hàng của bạn">
                                                Đơn hàng
                                            </a>
                                        </li>
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                                    {
                                        if (ViewData["Order"] != null)
                                        {

                                            <li class="active">
                                                <a href="@Url.Action("ListOdrer", "Account")">Đơn hàng Oder</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListOdrer", "Account")">Đơn hàng Oder</a>
                                            </li>
                                        }
                                        if (ViewData["Order"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ListOdrerCancel", "Account")">Đơn hàng Bị hủy</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListOdrerCancel", "Account")">Đơn hàng Bị hủy</a>
                                            </li>
                                        }
                                        if (ViewData["Order"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ListOdrerComfirm", "Account")">Đơn hàng đã đặt</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListOdrerComfirm", "Account")">Đơn hàng đã đặt</a>
                                            </li>
                                        }

                                        if (ViewData["Order"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ViewPriceReality", "Account")">Thông tin mặc cả</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ViewPriceReality", "Account")">Thông tin mặc cả</a>
                                            </li>
                                        }
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                    {
                                        if (ViewData["ManageOrdererReject"] != null)
                                        {
                                            <li class="active">
                                                <a href=@Url.Action("ManageOrdererReject", "Account")>
                                                    Đơn hàng thay đổi
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href=@Url.Action("ManageOrdererReject", "Account")>
                                                    Đơn hàng thay đổi
                                                </a>
                                            </li>
                                        }
                                        if (ViewData["ManageReceiver"] != null)
                                        {
                                            <li class="active">
                                                <a href=@Url.Action("ManageReceiver", "Account")>
                                                    Đơn hàng đã về
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href=@Url.Action("ManageReceiver", "Account")>
                                                    Đơn hàng đã về
                                                </a>
                                            </li>
                                        }
                                    }
                                    @if (ViewData["Deposit"] != null)
                                    {
                                        <li class="active">
                                            <a href=@Url.Action("MangeDepositOrders", "Account") title="Đơn ký gửi của bạn">
                                                Đơn vận chuyển
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href=@Url.Action("MangeDepositOrders", "Account") title="Đơn ký gửi của bạn">
                                                Đơn vận chuyển
                                            </a>
                                        </li>
                                    }
                                    @if (ViewData["Complaint"] != null)
                                    {
                                        <li class="active">
                                            <a href=@Url.Action("ManagerOrderComplaint", "Account") title="Đơn ký gửi của bạn">
                                                Đơn khiếu nại
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href=@Url.Action("ManagerOrderComplaint", "Account") title="Đơn ký gửi của bạn">
                                                Đơn khiếu nại
                                            </a>
                                        </li>
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale)
|| Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve)
|| Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["ListOrderAccount"] != null)
                                        {
                                            <li class="active">
                                                <a href=@Url.Action("ListOrderAccount", "Account") title="Đơn hàng nhập">
                                                    Đơn hàng nhập
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href=@Url.Action("ListOrderAccount", "Account") title="Đơn hàng nhập">
                                                    Đơn hàng nhập
                                                </a>
                                            </li>
                                        }
                                    }
                                    @if (ViewData["Forex"] != null)
                                    {
                                        <li class="active">
                                            <a href=@Url.Action("ManageForex", "Account") title="Đơn nạp tệ">
                                                Đơn nạp tệ
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href=@Url.Action("ManageForex", "Account") title="Đơn nạp tệ">
                                                Đơn nạp tệ
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li data-page="order-list" class="active">
                                <label label-default="" id="abc" class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                    <i class="fa fa-inbox"></i>
                                    <span class="_label-order">Tài khoản</span>
                                    <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                </label>
                                <ul class="nav tree nav-list nav_tree nav-item-tree">
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["tranhist"] != null)
                                        {
                                            <li class=" active">
                                                <a href="#">Lịch sử giao dịch</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="#">Lịch sử giao dịch</a>
                                            </li>
                                        }
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false) || Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer, false) || Utils.CheckRole((string)Session["UserType"], (int)UserType.Staff, false))
                                    {
                                        if (ViewData["wallet"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("Index", "Wallet")">Ví điện tử</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("Index", "Wallet")">Ví điện tử</a>
                                            </li>
                                        }
                                    }

                                    @* Nếu la Order được phép tạo yêu cầu tiền *@
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer, false)
|| Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting, false))
                                    {
                                        if (ViewData["listRequestAmount"] != null)
                                        {
                                            <li class=" active">
                                                <a href="@Url.Action("ListRequestAmount", "Account")">Yêu cầu cấp tiền</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListRequestAmount", "Account")">Yêu cầu cấp tiền</a>
                                            </li>
                                        }


                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Manager))
                                    {
                                        if (ViewData["ChangerUser"] != null)
                                        {
                                            <li class=" active">
                                                <a href="@Url.Action("HistoryChanageUserofSale", "Account")">Lịch sử cập nhật</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("HistoryChanageUserofSale", "Account")">Lịch sử cập nhật</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["walletmanage"] != null)
                                        {
                                            <li class=" active">
                                                <a href="@Url.Action("ListClient", "Wallet")">Quản lý ví điện tử</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListClient", "Wallet")">Quản lý ví điện tử</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["ListOweAccount"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ListOweAccount", "Account")">Quản lý Nợ</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListOweAccount", "Account")">Quản lý Nợ</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"]))
                                    {
                                        if (ViewData["ListUser"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ListUser", "Account")">Danh sách người sử dụng</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListUser", "Account")">Danh sách người sử dụng</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                                    {
                                        if (ViewData["ListClient"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ListClient", "Account")">Danh sách khách hàng</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ListClient", "Account")">Danh sách khách hàng</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting)
|| Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale, false))
                                    {
                                        if (ViewData["Rate"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("UpdateRate", "Account")">Cập nhật tỷ giá</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("UpdateRate", "Account")">Cập nhật tỷ giá</a>
                                            </li>
                                        }
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.SuperUser))
                                    {
                                        if (ViewData["Fee"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ChangeFee", "Account")">Quản lý phí dịch vụ</a>
                                            </li>
                                        }
                                        else
                                        {

                                            <li class="">
                                                <a href="@Url.Action("ChangeFee", "Account")">Quản lý phí dịch vụ</a>
                                            </li>
                                        }
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["FeeByroad"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ChangeFeeByroad", "Account")">Quản lí phí lô hàng - Tiểu ngạch</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ChangeFeeByroad", "Account")">Quản lí phí lô hàng - Tiểu ngạch</a>
                                            </li>
                                        }
                                    }
                                    @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                                    {
                                        if (ViewData["FeeHill"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ChangeFeeHill", "Account")">Quản lí phí lô hàng - Đồi</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ChangeFeeHill", "Account")">Quản lí phí lô hàng - Đồi</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Staff))
                                    {
                                        if (ViewData["Staff"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("StaffOrderInternalID", "Account")">Nhập mã vận đơn</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("StaffOrderInternalID", "Account")">Nhập mã vận đơn</a>
                                            </li>
                                        }
                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"]))
                                    {
                                        if (ViewData["Node"] != null)
                                        {
                                            <li class="active">
                                                <a href="@Url.Action("ManageNews", "News")">Quản lý tin tức</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@Url.Action("ManageNews", "News")">Quản lý tin tức</a>
                                            </li>
                                        }

                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Recieve))
                                    {

                                        <li class="">
                                            <a href="@Url.Action("ManageShipment", "Account")">Quản lý lô hàng</a>
                                        </li>

                                        <li class="">
                                            <a href="@Url.Action("ManagePakageOrder", "Account")">Quản lý gói hàng</a>
                                        </li>

                                    }
                                    @if (Session["UserType"] != null && Utils.CheckRole((string)Session["UserType"], (int)UserType.Admin, false))
                                    {
                                        <li class="">
                                            <a id="btn_report" href="@Url.Action("Index", "Reports")">Báo cáo</a>
                                        </li>
                                    }
                                    @if (ViewData["User"] != null)
                                    {
                                        <li class="active">
                                            <a href="@Url.Action("Personal", "Account", new { id = Session["Email"] })">Thông tin cá nhân</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href="@Url.Action("Personal", "Account", new { id = Session["Email"] })">Thông tin cá nhân</a>
                                        </li>
                                    }
                                    <li class="">
                                        <a href="@Url.Action("ChangePass", "Account", new { id = Session["Phone"] })">Đổi mật khẩu</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Điều khoản sử dụng</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="report_Modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-mini">
        <!-- empty -->
    </div>
</div>
<script>
    $('.tree-toggle').click(function () {
        $(this).parent().children('ul.tree').toggle(200);
    });
    $(function () {
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    })

</script>
<script>
    $(document).ready(function () {
        $('#btn_report').click(function (e) {

            /*
            * hủy liên kết
            *
            * việc này quan trọng
            * nếu không hủy liên kết, modal sẽ không được load đúng cách
            * vì action sẽ trả về 1 trang html trống với partialview
            *
            * cách tương tự return false; cách này thực hiện ở cuối method
            */
            e.preventDefault();

            var $modal = $('#report_Modal');
            var $modalDialog = $modal.find('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // kiểm tra (logic, điều kiện...)

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
    }); // document ready
</script>