﻿@{
    ViewBag.Title = "_FooterPartial";
}
<footer class="footer">
    <!-- <div class="footer"> -->
    <div class="container text-center">
        <div class="row">

            <div class="col-md-4 col-xs-12">
                <p>ĐỊA CHỈ TẠI HÀ NỘI:</p>
                <p> Trụ sở: Số nhà 18,Ngõ 47,Nguyễn Khả Trạc,Cầu Giấy,Hà Nội</p>
                <p>Website:http://dathanggiare.com.vn/ </p>
                <p>Email: tranhongvan296@gmail.com</p>
                <p>Điện thoại:0167.236.3002</p>

            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 ">
                <p class="text-center">
                    <a href="http://www.bababibo.com/">Bản quyền thuộc về BaBaBiBo.com</a>
                </p>
            </div>
        </div>
    </div>
    <!-- </div>  -->
</footer> 