﻿
<link href="~/Content/agency.css" rel="stylesheet" type="text/css" />
<section id="fixrelative">
    <div class="container">
        <div class="intro-text">
            <div class="row text-uppercase">
                <div class="col-md-offset-2 col-md-10" style="margin-bottom: 5px">
                    <ul class="nav navbar-nav target" id="text" style="cursor: pointer">
                        <li class="t-active" data-type="1">
                            <a style="padding: 0; margin: 5px;">Taobao.com</a>
                        </li>
                        <li data-type="3">
                            <a style="padding: 0; margin: 5px;">Tmall.com</a>
                        </li>
                        <li data-type="4">
                            <a style="padding: 0; margin: 5px;">1688.com</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-11 input-text">
                    <div class="col-md-offset-1 col-xs-8 input-text">
                        <input id="page_source" name="page_source" type="hidden" value="1"> <input id="search_item" class="form-control" name="query" placeholder="Nhập từ khóa bằng tiếng Việt sản phẩm bạn muốn tìm ở taobao.com, 1688.com ..." type="text">
                    </div>
                    <div class="col-xs-1 input-text">
                        <button id="btn_search" class="btn btn-default"><i class="fa fa-search fa-2x" style="color:red;"></i></button>

                    </div>
                </div>
            </div><div class="row">
                <div class="intro-heading"><h1>Mua Hàng Tại Trung quốc, với vài cú Click  <i class="fa fa-mouse-pointer" style="color:red;" aria-hidden="true"></i></h1></div>
                <div class="intro-lead-in">Tư vấn, tìm kiếm nguồn hàng và nhập hàng trực tuyến từ các website hàng đầu Trung Quốc. DATHANGGIARE cam kết một dịch vụ vượt trội và cải tiến liên tục.</div>
            </div>
            <div class="row text-uppercase" style="margin-top:30px">
                @if (!Request.Browser.IsMobileDevice)
                {
                    <a href="@Url.Action("CreateOrder","Account")" class="page-scroll btn btn-success btn-lg">Tạo đơn hàng trên hệ thống</a>
                    <a href="https://chrome.google.com/webstore/detail/ogckfpoakjejjdbbbcahglmccdphgdol" class="page-scroll btn btn-danger btn-lg" style="position: relative">Công cụ đặt hàng trực tiếp <img src="/images/icon_new.gif" alt="new" style="margin-top: -8px;margin-left: -5px;position: absolute;z-index:1; -ms-transform: rotate(30deg);  -webkit-transform: rotate(30deg);  transform: rotate(30deg);" /></a>
                    <a href="@Url.Action("CreateOrderFromExcel","Account")" class="page-scroll btn btn-warning btn-lg">Tạo đơn hàng bằng Excel</a>

                }
                else
                {
                    <a href="@Url.Action("CreateOrder","Account")" class="page-scroll btn btn-success btn-md" style="margin-bottom: 20px;">Tạo đơn hàng trên hệ thống</a>
                    <a href="https://chrome.google.com/webstore/detail/ogckfpoakjejjdbbbcahglmccdphgdol" class="page-scroll btn btn-danger btn-md" style="margin-bottom: 20px;position: relative">Công cụ đặt hàng trực tiếp <img src="/images/icon_new.gif" alt="new" style="margin-top: -8px;margin-left: -5px;position: absolute;z-index:1; -ms-transform: rotate(30deg);  -webkit-transform: rotate(30deg);  transform: rotate(30deg);" /></a>
                    <a href="@Url.Action("CreateOrderFromExcel","Account")" class="page-scroll btn btn-warning btn-md" style="margin-bottom: 20px;">Tạo đơn hàng bằng Excel</a>

                }
            </div>
            <div class="row text-uppercase" style="margin-top:30px;">
                @if (!Request.Browser.IsMobileDevice)
                {
                    <div style="padding-left:40px;">
                        <a href="https://www.facebook.com/dathangquangchaugiare/?ref=aymt_homepage_panel" class="page-scroll btn btn-primary1 btn-md"><i class="fa fa-facebook" aria-hidden="true"></i> Liên hệ FaceBook Đặt hàng giá rẻ </a>

                    </div>
                    
                }
                else
                {
                    <a href="https://www.facebook.com/dathangquangchaugiare/?ref=aymt_homepage_panel"  class="page-scroll btn btn-primary1 btn-md" style="margin-bottom: 20px;"><i class="fa fa-facebook" aria-hidden="true"></i> Liên hệ FaceBook Đặt hàng giá rẻ </a>
                }
            </div>


        </div>
    </div>
</section>