﻿
@{
    ViewBag.Title = "_LayoutUser";
}

<style>
    .slider {
        background-image: url("../../Images/van-chuyen-hang-hoa.jpg");
    }
</style>
@Styles.Render("~/Content/Minh_user")
<div class="col-lg-12 slider">

</div>

<nav class="navbar col-md-12 hidden-lg hidden-md" id="navap1">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5"
                    aria-expanded="false" aria-controls="navbar" style="padding-right: 0px; margin-right: 10px;">
                <span class="sr-only" style="background-color:orangered">Toggle navigation</span>
                <span class="icon-bar" style="background-color:orangered"></span>
                <span class="icon-bar" style="background-color:orangered"></span>
                <span class="icon-bar" style="background-color:orangered"></span>
            </button>
        </div>        
        <div class="nav-bar nav-bar-profile navbar-collapse collapse" id="navbar5" style="width:100%">
            <hr size="1px" />
            <ul class="nav navbar-nav" style="font-size:18px;" >
                <li><a href="@Url.Action("BangChung_User", "Account")"> <i class="fa fa-dashboard" > Bảng chung</i></a></li>
                <li><a href="@Url.Action("Personal", "Account", new { id = Session["Email"] })"><i class="fa fa-user"> Cá nhân</i></a></li>
                <li><a href="@Url.Action("LichSuGiaoDich", "Account")"><i class="fa fa-history"> Lịch sử giao dịch</i></a></li>
                <li><a href="@Url.Action("ListOweAccountDetail", "Account",new { phone = Session["Phone"] })"><i class="fa fa-usd"> Tiền nợ</i></a></li>

                <li>
                    <a href="@Url.Action("Index", "Wallet")"><i class="fa fa-plus-square"> Nạp tiền</i></a>
                </li>
                <li>
                    <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-share-square-o"> Thoát</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-lg-3 ">
    <img src="~/Images/@Session["Image"]" alt="@Session["Name"]" class="img-responsive" />
    <h4>@Session["Name"]</h4>
    <p class="text-main">@Session["Email"]</p>
    <p class="text-main text-upper">
        <i class="fa fa-star">Vip 0</i>
    </p>
    <hr size="1px" />
    <div class="nav-bar nav-bar-profile hidden-xs" style="text-align:center">
        <ul class="list-unstyled">
            <li><a href="@Url.Action("BangChung_User", "Account")"><i class="fa fa-dashboard"> Bảng chung</i></a></li>
            <li><a href="@Url.Action("Personal", "Account", new { id = Session["Email"] })"> <i class="fa fa-user"> Cá nhân</i></a></li>
            <li><a href="@Url.Action("LichSuGiaoDich", "Account")"><i class="fa fa-history"> Lịch sử giao dịch</i></a></li>
            <li><a href="@Url.Action("ListOweAccountDetail", "Account",new { phone = Session["Phone"] })"><i class="fa fa-usd"> Tiền nợ</i></a></li>

            <li>
                <a href="@Url.Action("Index", "Wallet")"><i class="fa fa-plus-square "> Nạp tiền</i></a>
            </li>
            <li>
                <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-share-square-o"> Thoát</i></a>
            </li>
        </ul>
    </div>
</div>
