﻿@using OrderChina.Common
@using OrderChina.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Đặt hàng giá rẻ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/chat")


</head>
<body>
    @Html.Partial("_MenuPartial")
    @if (Request.Url != null && (Request.Url.AbsolutePath.Contains("Home/Index") || Request.Url.AbsolutePath == "/"))
    {
        @Html.Partial("_HeaderPartial")
    }

    <div>
        @RenderSection("featured", required: false)
      
            @RenderBody()
    </div>

    @if (Request.Url != null && (Request.Url.AbsolutePath.Contains("Home") || Request.Url.AbsolutePath == "/"))
    {
        @Html.Partial("_FooterPartial")
    }


    @*<footer>
            @Html.Partial("_FooterPartial")
        </footer>
    *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javamain")

    <script src="~/Scripts/index.js"></script>

    @RenderSection("scripts", required: false)
    <style>
        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function () {

            $('.target li').click(function () {
                var thisClick = $(this);

                $('.target li').removeClass('t-active');
                thisClick.addClass('t-active');
                $('#page_source').val(thisClick.attr('data-type'));
            });

            $('#search_item').keyup(function (e) {
                e.preventDefault();
                if (e.keyCode == 13) {
                    search_item();
                }
            });
            $('#btn_search').click(function (e) {
                e.preventDefault();
                search_item();
            });

            function search_item() {
                var page_source = $('#page_source').val();
                var text_search = $('#search_item').val();
                if (text_search.trim() !== "") {
                    var _url = "@Url.Action("GetTextTranslate","Home")";
                    var newWin = window.open('', '_blank');
                    //alert(keyword_mvd);
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: _url,
                        data: JSON.stringify({ page_source: page_source, input: text_search }),
                        cache: false,
                        context: document.body,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            newWin.location = data.url;
                        }
                    });

                } else {
                    alert('Vui lòng nhập ký tự tìm kiếm!');
                    $('#text_search').focus();
                    return false;
                }
            }

            $("#owl-demo").owlCarousel({

                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });



        });
    </script>
    <script>
        $("#select_all").change(function () {  //"select all" change
            $(".case").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.case').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.case:checked').length == $('.case').length) {
                $("#select_all").prop('checked', true);
            }
        });
    </script>
    @if (!Request.IsAuthenticated || Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
    {
        @Scripts.Render("~/bundles/signalR")
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="/signalr/hubs"></script>

        @Scripts.Render("~/bundles/chat_client")

        <script type="text/javascript">
            $(document.body).append('<div id="divContainer" ></div>');
            $(document.body).append('<input id="hdId" type="hidden" />');
            $(document.body).append('<input id="hdchatUserId" type="hidden" />');

            $(document.body).append('<input id="hdIsAuthen" type="hidden" />');
            $('#hdIsAuthen').val('@Request.IsAuthenticated.ToString()');
            $(document.body).append('<input id="hdUserId" type="hidden" />');
            $('#hdUserId').val('@User.Identity.Name');
            $(document.body).append('<input id="hdClientCookieId" type="hidden" />');
            $('#hdClientCookieId').val('@Session["ChatId"]');

        </script>

    }
    else
    {
        @Scripts.Render("~/bundles/signalR")
    <!--Reference the autogenerated SignalR hub script. -->
        <script src="/signalr/hubs"></script>

        @Scripts.Render("~/bundles/chat_manage_client")

        <script type="text/javascript">
            $(document.body).append('<div id="divContainer" ></div>');
            $(document.body).append('<input id="hdId" type="hidden" />');
            $(document.body).append('<input id="hdchatUserId" type="hidden" />');

            $(document.body).append('<input id="hdIsAuthen" type="hidden" />');
            $('#hdIsAuthen').val('@Request.IsAuthenticated.ToString()');
            $(document.body).append('<input id="hdUserId" type="hidden" />');
            $('#hdUserId').val('@User.Identity.Name');
            $(document.body).append('<input id="hdClientCookieId" type="hidden" />');
            $('#hdClientCookieId').val('@Session["ChatId"]');

        </script>
    }

    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
    {
        <script>

            function UpdateListApproval() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetListMenuApproval","Account")',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            $("#liApproval").html(data.data);
                        }
                    }
                });
            }

            window.setInterval(function () {
                window.setTimeout(function () {
                    UpdateListApproval();
                }, 500);
            }, 5000);

        </script>
    }
    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
    {
        <script>

            function UpdateListApprovalSale() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetListComplaintSale", "Account")',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            $("#liApprovalComplaintSale").html(data.data);
                        }
                    }
                });
            }

            function UpdateListExcelError() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetListExcelError", "Account")',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            $("#liExcelError").html(data.data);
                        }
                    }
                });
            }

            window.setInterval(function () {
                window.setTimeout(function () {
                    UpdateListApprovalSale();
                }, 500);

                window.setTimeout(function () {
                    UpdateListExcelError();
                }, 500);
            }, 5000);

        </script>
    }
    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
    {
        <script>

            function UpdateListApprovalOrder() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetListComplaintOrder", "Account")',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            $("#liApprovalComplaintOrder").html(data.data);
                        }
                    }
                });
            }

            window.setInterval(function () {
                window.setTimeout(function () {
                    UpdateListApprovalOrder();
                }, 500);
            }, 5000);

        </script>
    }
</body>
</html>
