﻿@using OrderChina.Common
@using OrderChina.Models

@if (Request.IsAuthenticated)
{
    UserProfile user = new UserProfile();
    var name = Session["Name"] != null ? Session["Name"].ToString() : User.Identity.Name;

    <li>

        @if (Utils.CheckRole((string)Session["UserType"], (int)UserType.Client, false))
        {
            <a href="@Url.Action("BangChung_User", "Account")">Quản lý</a>
        }
        else
        {
            <a href="@Url.Action("ManageNoShop", "Account")">Quản lý</a>
        }
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@name<span class="caret"></span></a>
        <ul class="dropdown-menu flat">
            <li><a href="@Url.Action("Personal", "Account", new {id = Session["Email"] })">Thông tin cá nhân</a></li>
            <li>
                <a href="@Url.Action("LogOff", "Account")">Đăng xuất</a>
                @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                    }*@
            </li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Đăng ký", "Register", "Account")</li>
    <li>@Html.ActionLink("Đăng nhập", "Login", "Home")</li>
}
