﻿@using OrderChina.Common
@using OrderChina.Models

@{
    ViewBag.Title = "_Menu_User_Horizontal";
}

<link rel="stylesheet" href="~/Content/Minh_user.css" />


<nav class="navbar hidden-lg col-md-12" id="navap1" >
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2"
                     aria-expanded="false" aria-controls="navbar" style="padding-right: 0px; margin-right: 10px;">
                <span class="sr-only" style="background-color:forestgreen">Toggle navigation</span>
                <span class="icon-bar" style="background-color:forestgreen"></span>
                <span class="icon-bar" style="background-color:forestgreen"></span>
                <span class="icon-bar" style="background-color:forestgreen"></span>
            </button>

        </div>
       
        <div id="navbar2" class="navbar-collapse collapse">
            <hr size="1px" />
            <ul class="nav navbar-nav" style="float:left;font-size:16px;">
                <li>
                    <a href="@Url.Action("BangChung_User", "Account")"> <i class="fa fa-dashboard"></i> Bảng Chung</a>
                </li>
                <li class="">
                    <a href="@Url.Action("AllOrder", "Account")"><i class="fa fa-hdd-o"></i> Đơn Hàng</a>
                </li>

                <li class="">
                    <a href="@Url.Action("Index", "Wallet")"><i class="fa fa-credit-card"></i> Giao Dịch</a>
                </li>

                <li class="">
                    <a href="@Url.Action("ManagerOrderComplaint", "Account")"><i class="fa fa-frown-o"></i> Khiếu nại</a>
                </li>
                <li class="">
                    <a href="@Url.Action("Banggia","Home")" target="_blank"> <i class="fa fa-hospital-o"></i> Biểu phí</a>
                </li>

                <li class="">
                    <a href="https://chrome.google.com/webstore/detail/ogckfpoakjejjdbbbcahglmccdphgdol" target="_blank"> <i class="fa fa-cog"></i> Công cụ</a>
                </li>

                <li class="">
                    <a href="@Url.Action("lienhe", "Home")"><i class="fa fa-envelope"></i> Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="navbar-collapse collapse text-center hidden-xs">
    <div class="header-top">
        <div class="container" id="container">

        </div>
    </div>
    <ul class="nav navbar-nav text-center" style="margin-left: 16.66666667%; display: table;">
        <li>
            <a href="@Url.Action("BangChung_User", "Account")"> <i class="fa fa-dashboard"></i> Bảng Chung</a>
        </li>
        <li class="">
            <a href="@Url.Action("AllOrder", "Account")"><i class="fa fa-hdd-o"></i> Đơn Hàng</a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Wallet")"><i class="fa fa-credit-card"></i> Giao Dịch</a>
        </li>

        <li class="">
            <a href="@Url.Action("ManagerOrderComplaint", "Account")"><i class="fa fa-frown-o"></i> Khiếu nại</a>
        </li>
        <li class="">
            <a href="@Url.Action("Banggia","Home")" target="_blank"> <i class="fa fa-hospital-o"></i> Biểu phí</a>
        </li>

        <li class="">
            <a href="https://chrome.google.com/webstore/detail/ogckfpoakjejjdbbbcahglmccdphgdol/publish-delayed" target="_blank"> <i class="fa fa-cog"></i> Công cụ</a>
        </li>

        <li class="">
            <a href="@Url.Action("lienhe", "Home")"><i class="fa fa-envelope"></i> Liên hệ</a>
        </li>
    </ul>
</div>


<script>

    function UpdateListApprovalClient() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetListComplaintClient", "Account")',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.success) {
                    $("#container").html(data.data);
                }
            }
        });
    }

    window.setInterval(function () {
        window.setTimeout(function () {
            UpdateListApprovalClient();
        }, 300);
    }, 3000);

</script>
