﻿

    <nav class="navbar hidden-lg hidden-md " id="navap1" >
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" 
                       aria-expanded="false" aria-controls="navbar" style="padding-right: 0px; margin-right: 10px;">
                <span class="sr-only" style="background-color:orangered">Toggle navigation</span>
                <span class="icon-bar" style="background-color:orangered"></span>
                <span class="icon-bar" style="background-color:orangered"></span>
                <span class="icon-bar" style="background-color:orangered"></span>
                </button>

            </div>
            
            <div class="header-banner-hide order-list">
                <hr size="1px" />
                <div class="menu-left-bar ">
                    <div class="row" id="nav_menu">
                        <div page="order-list" id="nav-tree-menu" class="block-avatar  padding-left-0">
                            <div class="nav-left navbar-collapse collapse" id="navbar1" aria-expanded="false" style="height: 1px;">
                                <ul class="nav nav-list  text-left" id="nav-menu-left" style="font-size:16px;">

                                    <li data-page="order-list" class="active">
                                        <label label-default="" id="abc"
                                               class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                            <i class="fa fa-shield"></i>
                                            <span class="_label-order">Tạo đơn hàng</span>
                                            <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                        </label>
                                        <ul class="nav tree nav-list nav_tree nav-item-tree" >
                                            <li>
                                                <a href="@Url.Action("CreateOrder", "Account")">
                                                    Tạo đơn Order

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("DepositOrders", "Account")">
                                                    Tạo đơn vận chuyển

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ManageForex", "Account")">
                                                    Tạo đơn nạp tệ

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("CreateOrderComplaint", "Account")">
                                                    Tạo đơn khiếu nại

                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li data-page="order-list" class="active">
                                        <label label-default="" id="abc" class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                            <i class="fa fa-inbox"></i>
                                            <span class="_label-order">Đơn hàng</span>
                                            <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                        </label>
                                        <ul class="nav tree nav-list nav_tree nav-item-tree" >
                                            <li>
                                                <a href="@Url.Action("AllOrder", "Account")">
                                                    Tất Cả đơn hàng đã phân shop

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("OrderNoShop", "Account")">
                                                    Chưa phân shop

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("OrderChange", "Account")">
                                                    Đơn hàng thay đổi

                                                </a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("OrderPaid", "Account")">
                                                    Đơn hàng chờ về

                                                </a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("OrderRecevice", "Account")">
                                                    Đơn hàng đã về

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("OrderTransport", "Account")">
                                                    Đơn vận chuyển

                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ManagerOrderComplaint", "Account")">
                                                    Đơn khiếu nại

                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </nav>

<div class="header-banner-hide order-list hidden-xs">
    <div class="col-md-2 col-sm-3 col-xs-4 ">
        <div class="menu-left-bar ">
            <div class="row" id="nav_menu">
                <div page="order-list" id="nav-tree-menu" class="block-avatar  padding-left-0">
                    <div class="nav-left ">
                        <ul class="nav nav-list text-left" id="nav-menu-left">

                            <li data-page="order-list" class="active">
                                <label label-default="" id="abc"
                                       class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                    <i class="fa fa-shield"></i>
                                    <span class="_label-order">Tạo đơn hàng</span>
                                    <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                </label>
                                <ul class="nav tree nav-list nav_tree nav-item-tree">
                                    <li>
                                        <a href="@Url.Action("CreateOrder", "Account")">
                                            Tạo đơn Order

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("DepositOrders", "Account")">
                                            Tạo đơn vận chuyển

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ManageForex", "Account")">
                                            Tạo đơn nạp tệ

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CreateOrderComplaint", "Account")">
                                            Tạo đơn khiếu nại

                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li data-page="order-list" class="active">
                                <label label-default="" id="abc" class="cus-pointer tree-toggle nav-header tree-one _order-tree open">
                                    <i class="fa fa-inbox"></i>
                                    <span class="_label-order">Đơn hàng</span>
                                    <i class="fa fa-chevron-down i-arrow icon-chevron-right"></i>
                                </label>
                                <ul class="nav tree nav-list nav_tree nav-item-tree">
                                    <li>
                                        <a href="@Url.Action("AllOrder", "Account")">
                                            Tất Cả đơn hàng đã phân shop

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("OrderNoShop", "Account")">
                                            Chưa phân shop

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("OrderChange", "Account")">
                                            Đơn hàng thay đổi

                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("OrderPaid", "Account")">
                                            Đơn hàng chờ về

                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("OrderRecevice", "Account")">
                                            Đơn hàng đã về

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("OrderTransport", "Account")">
                                            Đơn vận chuyển

                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ManagerOrderComplaint", "Account")">
                                            Đơn khiếu nại

                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $('.tree-toggle').click(function () {
        $(this).parent().children('ul.tree').toggle(200);
    });
    $(function () {
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    })

</script>


