﻿@using OrderChina.Common
@using OrderChina.Models
@{
    ViewBag.Title = "_Menu_User_GiaoDich";
}
@{
    string name = Session["Name"].ToString();
    UserProfile user = new UserProfile();
    string phone = Session["Phone"].ToString();
}
<link rel="stylesheet" href="~/Content/GiaoDich.css" />
<nav class="navbar" id="navap1">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#_sidebar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only" style="background-color:ActiveCaption">Toggle navigation</span>
                <span class="icon-bar" style="background-color:ActiveCaption"></span>
                <span class="icon-bar" style="background-color:ActiveCaption"></span>
                <span class="icon-bar" style="background-color:ActiveCaption"></span>
            </button>
            <div class="col-md-3 col-sm-4 ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 block-avatar collapse navbar-collapse " id="_sidebar">
                        <div class="block-avatar ">

                            <div class="customer-information ">
                                <h4>@name </h4>
                                <p class="text-main">@phone</p>
                                <p class="text-main text-upper">
                                    <i class="fa fa-star"></i> Vip
                                </p>
                            </div>
                            <div class="nav-bar  nav-bar-profile">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("BangChung_User", "Account")">Bảng chung</a></li>
                                    <li><a href="@Url.Action("Personal", "Account", new { id = Session["Email"] })">Cá nhân</a></li>
                                    <li><a href="@Url.Action("LichSuGiaoDich", "Account")">Lịch sử giao dịch</a></li>
                                    <li><a href="@Url.Action("ListOweAccountDetail", "Account",new { phone = Session["Phone"] })">Tiền nợ</a></li>

                                    <li>
                                        <a href="@Url.Action("Index", "Wallet")">Nạp tiền</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("LogOff", "Account")">Thoát</a>
                                    </li>
                                </ul>
                            </div>

                            <style>
                                .nav-bar-profile .active {
                                    font-weight: bold;
                                    text-decoration: none;
                                    color: #0b6198 !important;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>




