﻿@using OrderChina.Common
@using OrderChina.Models

@{
    ViewBag.Title = "Header";
}

<div class="preloader"></div>

<header>
    <nav class="navbar navbar-default navbar-1" id="navap">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                
                <a href="http://dathanggiare.com.vn/index.php?route=common/home">
                <img src="~/Images/dathanggiare_logo.png" title="dathanggiare" alt="dathanggiare" style="width:260px;height:65px;"></a>
              
            </div>
            <div id="navbar" class="navbar-collapse collapse">      
                <ul class="nav navbar-nav" id="text">
                    <li class="hover"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Banggia","Home")">Bảng giá</a></li>
                    <li><a href="@Url.Action("thanhtoan","Home")">Hướng dẫn</a></li>                   
                </ul>
                <ul class="nav navbar-nav navbar-right" id="text">
                    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Accounting))
                    {
                        <li id="liApproval" class="dropdown notification">
                            <a class="dropdown-toggle face" data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-check"></span>
                                <sup><b style="color:red">0</b></sup>
                            </a>
                            <ul class="dropdown-menu flat panel-notify"></ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Orderer))
                    {
                        <li id="liApprovalComplaintOrder" class="dropdown notification">
                            <a class="dropdown-toggle face" data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-check"></span>
                                <sup><b style="color:green">0</b></sup>
                            </a>
                            <ul class="dropdown-menu flat panel-notify"></ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && Utils.CheckRole((string)Session["UserType"], (int)UserType.Sale))
                    {
                        <li id="liExcelError" class="dropdown notification">
                            <a class="dropdown-toggle face" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                <sup><b style="color:orangered">0</b></sup>
                            </a>
                            <ul class="dropdown-menu flat panel-notify"></ul>
                        </li>
                        
                        <li id="liApprovalComplaintSale" class="dropdown notification">
                            <a class="dropdown-toggle face" data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-check"></span>
                                <sup><b style="color:yellow">0</b></sup>
                            </a>
                            <ul class="dropdown-menu flat panel-notify"></ul>
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
