﻿@media only screen and (max-width:540px) {
    .chat-sidebar {
        display: none !important;
    }

    .chat-popup {
        display: none !important;
    }
}

.chat-sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

    .sidebar-name span {
        padding-left: 5px;
    }

    .sidebar-name a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    .sidebar-name:hover {
        background-color: #e1e2e5;
    }

    .sidebar-name img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }

.popup-box {
    margin-bottom:1px;
    margin-right:5px;
    font-size: 14px;
    display: none;
    position: fixed;
    bottom: 0px;
    height: 325px;
    right: 0px;
    /*border-radius:5px;*/
    border-top-right-radius:2px;
    background-color: white;
    width: 320px;
    border: 1px solid rgba(29, 49, 91, .3);
    z-index: 9999;
}

    .popup-box .popup-head {
        background-color: #4080ff;
        padding: 5px;
        color: white;
        /*border-radius:5px;*/
        border-top-right-radius:2px;
        font-weight: bold;
        clear: both;
        cursor: pointer;
    }

        .popup-box .popup-head .popup-head-left {
            float: left;
        }

        .popup-box .popup-head .popup-head-right {
            float: right;
           
            opacity: 0.5;
        }

            .popup-box .popup-head .popup-head-right a {
                float:left;
                text-decoration: none;
                color: inherit;
            }


#carbonads {
    max-width: 300px;
    background: #f8f8f8;
}

.carbon-text {
    display: block;
    width: 130px;
}

.carbon-poweredby {
    float: right;
}

.carbon-text {
    padding: 8px 0;
}

#carbonads {
    padding: 15px;
    border: 1px solid #ccc;
}

.carbon-text {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}


.carbon-poweredby {
    font-size: 75%;
    text-decoration: none;
}

#carbonads {
    position: fixed;
    top: 5px;
    left: 5px;
}

.chat-popup .header {
    cursor: move;
    background-color: white;
    border-bottom: #5f9482 solid 1px;
    color: #1e4638;
}

.chat-popup .selText {
    color: black;
    padding: 4px;
}

.chat-popup .buttonBar {
    padding: 4px;
}

    .chat-popup .buttonBar .msgText {
        width: 220px;
        padding: 0px;
    }

    .chat-popup .buttonBar .button {
        color:white;
        
        background-color:#6d84b4;
        width:50px;
        float: right;
        padding: 0px
    }

.chat-popup .messageArea {
    overflow-y: scroll;
    height: 280px;
    border-bottom: #5f9482 solid 1px;
}

    .chat-popup .messageArea .message {
        padding: 4px;
    }

.un_style{
    list-style-type: none;
    margin-top:0px;
}