
element.style {
    padding-left: 15px;
    padding-right: 15px;
}
element.style {
    margin-top: 50px;
    margin-bottom: 20px;
}
.page-background {
    background: #F9F9F9;
}
.page-body {
    display: inline-block;
    width: 100%;
    float: left;
    background: #fff;
    padding-bottom: 50px;
}

body {
    font-size: 13px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    height: 100% !important;
    width: 100%;
    font-family: Ubuntu,sans-serif;
    font-size: 13px;
    background: #ccc;
    color: #4E5E6A;
}
.block-avatar {
    float: left;
    text-align: center;
    font-size: 13px;
}
.img-avatar {
    width: 164px;
    height: 164px;
    float: left;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -80px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
.upload-avarta-ap {
    margin-top: -8px;
    margin-left: 0;
    position: absolute;
    display: none;
    z-index: 1;
}
.img-avatar img {
    width: 164px;
    height: 164px;
    float: left;
}
.upload-avatar {
    z-index: 1;
    margin-top: 50px;
    margin-bottom: -82px;
    margin-left: 27px;
    margin-right: 50px;
    position: relative;
}
.btn {
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: 0 !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-upload:before {
    content: "\f093";
}
.customer-information {
    margin-top: 105px;
    padding-bottom: 30px;
    width: 170px;
    border-bottom: 1px solid #ccc;
}
.customer-information h4 {
    font-size: 16px;
    color: #032d3e;
    padding-bottom: 20px;
}
h3, h4, h5 {
    font-weight: 600;
}
h4 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
p {
    margin: 0 0 8.5px;
}
.text-main {
    color: #032d3e;
}
.text-upper {
    text-transform: uppercase;
}
p {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0 0 10px;
    font-style: normal;
    white-space: normal;
}
.nav-bar {
    width: 170px;
    margin-top: 40px;
}
.nav-bar-profile ul li a {
    color: #0b6198;
    line-height: 22px;
}
.nav-bar-profile .active {
    font-weight: bold;
    text-decoration: none;
    color: #0b6198 !important;
}
.content-scores {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}
h2.title-score-ap {
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    margin-bottom: 20px;
}
.content-scores h2 {
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    font-size: 24px;
    color: #032d3e;
    font-weight: normal;
}
.history-scores .block-search {
    margin-top: 20px;
    box-shadow: 0px 1px 1px #ccc;
    padding: 20px 0px;
    height: auto;
    float: left;
    width: 100%;
    background: white;
}
.block-search-ap {
    margin-top: 0 !important;
    padding-bottom: 5px !important;
}
.block-search {
    margin-top: 20px;
    box-shadow: 0px 1px 1px #ccc;
    padding: 20px 0px;
    height: auto;
    width: 100%;
    background: white;
}
._account-number {
    color: #748893;
}
.block-search {
    margin-top: 20px;
    box-shadow: 0px 1px 1px #ccc;
    padding: 20px 0px;
    height: auto;
    width: 100%;
    background: white;
}
.form-control {
    font-size: 13px !important;
}
.form-control {
    background: #fff;
    border-radius: 0;
    border: 1px solid #ccc;
    box-shadow: none !important;
    font-size: 13px;
    padding: 6px 10px !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.chosen-time {
    float: left;
    width: 100%;
    margin-top: 40px;
    font-size: 11px !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #032d3e;
    width: 100% !important;
    padding: 8px;
    background: #fff;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.bootstrap-select {
    width: 100% !important;
    background: transparent !important;
}
.bootstrap-select > button {
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
}
.chosen-time .bootstrap-select > button {
    font-size: 11px !important;
}
.chosen-time .bootstrap-select > button {
    font-size: 11px !important;
}
.btn-default {
    background-color: #fff;
    color: #032d3e;
    border: 1px solid #ccc;
}
.chosen-time .bootstrap-select > button {
    font-size: 11px !important;
}
.bootstrap-select > .dropdown-menu {
    margin-top: -1px !important;
}
.dropdown-menu {
    font-size: 13px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    margin: 10px 0 0;
    background-color: #fffff;
    border: 1px solid #d8dee4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}
.chosen-time .dropdown-menu li {
    font-size: 11px;
}
.dropdown-menu li {
    font-size: 13px;
}
.chosen-time .dropdown-menu li a {
    font-size: 11px;
}
.dropdown-menu li a {
    padding: 7px 10px;
    color: #5f5f5f;
    font-size: 13px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.chosen-time .form-control {
    font-size: 11px !important;
}
.has-icon input {
    background: url("../images/icon-datepicker.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: none !important;
}
.chosen-time .btn-export-excel {
    font-size: 11px !important;
}
.btn-danger {
    background-color: #f25656;
    color: #fff;
    border: 1px solid transparent;
}
.modal {
    z-index: 9999999;
}
.chosen-font {
    font-size: 12px !important;
}
.datepicker {
    padding: 4px;
    border-radius: 4px;
    direction: ltr;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
Inherited from div.col-md-12.chosen-time

.datepicker {
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1) !important;
}
.content-scores {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}
h2.title-score-ap {
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    margin-bottom: 20px;
}
.content-scores h2 {
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    font-size: 24px;
    color: #032d3e;
    font-weight: normal;
}
.block-vip, .block-score {
    height: 32px;
    line-height: 32px;
    color: white;
    background: #005b7f;
}

.block-vip .bg-vip, .block-score .bg-vip, .block-score .bg-score {
    background: #00aeef;
    float: left;
    width: 67px;
    margin-left: -15px;
    text-align: center;
    font-weight: bold;
}
.text-upper {
    text-transform: uppercase;
}
.block-vip .bg-star, .block-score .bg-star {
    margin-left: 15px;
}
.block-vip .bg-star i, .block-score .bg-star i {
    margin-right: 7px;
}
.block-score {
    background: #00a651 !important;
    margin-top: 10px;
    padding-right: 0px;
}
.block-vip, .block-score {
    height: 32px;
    line-height: 32px;
    color: white;
    background: #005b7f;
}
.block-score .bg-score {
    background: #00a99d !important;
}
.block-vip .bg-vip, .block-score .bg-vip, .block-score .bg-score {
    background: #00aeef;
    float: left;
    width: 67px;
    margin-left: -15px;
    text-align: center;
    font-weight: bold;
}
#customer-score .progress {
    background-color: #00a651;
    height: 32px;
}

.progress {
    border-radius: 2px;
}

#customer-score .progress-bar {
    margin-left: -10px;
    background: #005826;
    line-height: 32px;
    font-weight: bold;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -o-transition: 3s linear;
}
.progress-bar {
    background-color: #7a6fbe;
}
#customer-score .progress-bar span {
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    position: absolute;
    margin-left: -20px;
}
.text-upper {
    text-transform: uppercase;
}
.service-charge {
    font-size: 13px;
    float: left;
    color: #032d3e;
}
#page-score-view .service-charge > p {
    margin-top: 0 !important;
    margin-bottom: 0;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
p {
    margin: 0 0 8.5px;
}
p {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0 0 10px;
    font-style: normal;
    white-space: normal;
}
.service-charge strong {
    font-size: 24px;
    margin-top: -10px;
}
#page-score-view .service-charge > p {
    margin-top: 0 !important;
    margin-bottom: 0;
}
.history-scores {
    padding-bottom: 40px;
}
h2.title-score-ap {
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    margin-bottom: 20px;
}
.chosen-picker {
    font-size: 12px !important;
}
.chosen-picker .form-control {
    font-size: 12px !important;
}
.block-table-score {
    float: left;
    width: 100%;
}
.table-score-charge {
    border: 1px solid #12afcb;
    margin-top: 40px;
    color: #748893;
    background: white;
    border-collapse: inherit;
}   
.table-score-charge tr {
    padding: 1px;
}
.table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px !important;
}
.table-score-charge tr th {
    background: #12afcb;
    color: #f6f2dd;
    font-weight: bold;
    border: 0px !important;
}
    h5 {
    font-size: 13px;
    color: #032d3e;
    font-weight: bold;
}












