﻿h2 {
  font-size: 24px;
  color:#032d3e;
  font-weight: normal;
}
.text-xl-14 {
  font-size: 13px !important;
  color:#032d3e;
}
.text-bold-blur-14 {
  font-size: 13px;
  color: #777;
  font-weight: bold;
}
.text-blur-14 {
  @extend .text-bold-blur-14;
  font-weight: normal !important;
}
.text-xl-red-14 {
  @extend .text-xl-14;
  color:#ed1c24 !important;
}
.note-email {
  padding:-20px !important;
  td {
    padding:0px !important;
  }
}
.tbl-userprofile-sd{
  tbody{
    tr{
      td{
        @media screen and (max-width: 480px) {
          select{
            margin-bottom: 15px!important;
          }
        }
      }
    }
  }
}
.table-form-profile {
  box-shadow: 0 1px 1px #ccc;
  margin-top:40px;
  background: white;
  border-top:0 !important;
  > tbody{
    > tr{
      td{
        .m-b-sm{
          margin-bottom: 0;
        }
      }
      td.td-middle{
        padding-top: 24px!important;
      }
    }
  }
}
.tbl-user-sd{
  padding-bottom: 55px;
  tr{
    td{
      a{
        color: #0b6198;
      }
    }
  }
  .profile-page{
    table{
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
.profile{
  .last{
    padding-bottom: 0;
    border-bottom: 0;
  }
}
.border-top-none {
  border-top:0 !important;
}
.font-bold-profile {
  font-size: 13px;
  color: #032d3e;
}
#_change_password {
  font-weight: bold;
  font-size: 13px;
}
#_setEmail {
  font-weight: bold;
  font-size: 13px;
}
.btn-submit {
  font-weight: bold;
}
.form-account {
  margin-top:20px;
  border-bottom: 1px solid #ddd;
  float:left;
}
.syntax-sms {
  background:#f6f2dd;
  float: left;
  width: 100%;
  text-align: center;
  color: #032d3e;
  padding-top:10px;
  margin-top:-10px;
}
.form-options {
  width: 28%;
  float: left;
}
.btn-submit {
  width: 168px;
  height: 36px;
  font-size: 13px;
  text-transform: uppercase;

}
.customer-avatar {
  float: left;
}
.block-avatar {
  float: left;
  text-align: center;
  font-size: 13px;
    }
  .nav-bar-profile{
    ul li a{
      color: #0b6198;
      line-height: 22px;
    }
  }
.upload-avarta-sd{
  margin-top:-8px;
  margin-left: 0;
  position: absolute;
  display: none;
  z-index: 1;
}
.img-avatar {
  width: 164px;
  height: 164px;
  float: left;
  border-radius: 50%;
  border:5px solid #fff;
  margin-top:-80px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  img {
    width: 164px;
    height: 164px;
    float: left;
  }
  &:hover{
    .upload-avarta-sd{
      display: block;
    }
  }
}

.customer-information {
  margin-top: 105px;
  padding-bottom: 30px;
  width: 170px;
  border-bottom: 1px solid #ccc;
  h4 {
    font-size: 16px;
    color:#032d3e;
    padding-bottom: 20px;
  }
}
.profile-page {
  .page-row {
    margin-left:20px;
  }

}

.nav-bar {
  width: 170px;
  margin-top: 40px;
  a {
    &:hover {
      font-weight: bold;
      text-decoration: none;
      color:#0b6198 !important;
    }
  }
}
.pagination {
  a {
    color:white !important;
    background: #D04439 !important;
    border:0px !important;
    &:hover {
      border:0px !important;
      background: #A6382D !important;
    }
  }
  .active {
    a {
      background: #A6382D !important;
      border:0px;
    }
  }

}
#page-profile {
  background:#f9f9f9;
}
@media only screen and (max-width: 480px) {
  .form-account {
    padding:0 10px;
  }
  .img-avatar {
    margin-top:-300px;
    position: absolute;
    float: left;
  }
  .block-avatar {
    text-align: center;
  }
  .table-form-profile {
    margin-left:0;
  }
  .profile-page {
    .page-row {
      margin-left: -15px;
    }

  }
}

/* BEGIN NEW CSS - vanhs */
#page-user-profile-view{
  display: inline-block;
  width: 100%;

  .form-account {
    &.bor-bot-none{
      border-bottom: none!important;


    }

  }

  .myModalPassword{
    .text-black{
      color: #8a6d3b!important;
    }
    .text-blue{
      color: #3c763d!important;
    }
  }

  .myModalEmail{
    .modal-dialog{
      width: 30%!important;
    }
    .modal-body{
      padding-bottom: 0!important;
      .mr20{
        margin-bottom: 20px!important;
      }
      .input-group{
        width: 100%;
        .btn-default{
          position: absolute;
          top: 1px;
          left: 1px;
          z-index: 999;
          border: none;
          width: 48px;
        }
        > input{
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          padding-left: 48px!important;
        }
      }
    }

    .modal-footer{
      .btn-update-email{
        background:#d71f26;
        border: none;
      }
      .alert-success{
        text-align: left !important;
        border:1px solid #a3c189;
      }
    }

  }

  /* css inline */
  #_warning_password {
    position: absolute;
    top: 20%;
    right: 7%;
  }

  #_warning_password_new {
    position: absolute;
    top: 45%;
    right: 7%;
  }

  #_warning_password_new_reply {
    position: absolute;
    top: 70%;
    right: 7%;
  }

  @media only screen and (max-width: 415px) {
    #_warning_password {
      position: inherit;
      top: 28%;
      right: 10%;
    }

    #_warning_password_new {
      position:inherit;
      top: 50%;
      right: 10%;
    }

    #_warning_password_new_reply {
      position: inherit;
      top: 72%;
      right: 10%;
    }
  }

}

.upload-avatar {
  z-index: 1;
  margin-top: 50px;
  margin-bottom: -82px;
  margin-left: 27px;
  margin-right: 50px;
  position: relative;
}

.upload-avatar-active {
  background: #666666
}
/* END NEW CSS - vanhs */