a:hover{
	text-decoration:none;
}
.pull-right {
    float: right !important;
}
header .header-top .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 99999;
}
.username-title-color {
    color: #9e0b0f;
}
.exchange {
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    color: #032d3e;
}
.exchange ul li
{
    margin-right:20px;
}
#dashboard .box-border-shadow {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
}

#dashboard .content-statistical {
    margin-top: 30px;
    font-weight: bold;
    color: #032d3e;
    padding: 25px 0;
    line-height: 21px;
    background: #fff;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.horizontal-bar .page-sidebar-inner {
    overflow: visible !important;
    overflow-x: visible;
    overflow-y: visible;
}
.page-sidebar .page-sidebar-inner {
    height: 100% !important;
}
.menu.accordion-menu {
    padding: 0;
    margin: 0;
    width: 239px;
    color: #fff;
    position: relative;
    display: block;
}
.horizontal-bar .accordion-menu {
    text-align: center;
    font-size: 0;
    width: 100% !important;
    overflow: visible !important;
}
.dropdown, .dropup {
    position: relative;
}
header .header-top .navbar-right .menu {
    display: inline-block;
    float: left;
    line-height: 58px;
}
header .page-sidebar {
    float: left;
    display: inline-block;
}
header .horizontal-bar {
    z-index: 9 !important;
    border-bottom: 0 !important;
}
.sidebar, .sidebar-header {
   
    overflow: visible !important;
}
.horizontal-bar {
    position: relative;
    width: 100% !important;
    
    height: auto !important;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-right: 0;
}
.version-tool-anphat {
    background: #ee7d66


    color: white;
    border: 0 !important;
    font-size: 13px;
    height: 56px;
}
.page-footer {
    display: inline-block;
    width: 100%;
    position: relative;
    border-top: 1px solid #ccc;
	bottom: 0;
    padding-top: 19px ;
	
}
.main-footer {
    background: #3c4043;
    color: #b3b8bd;
    border: 0 !important;
}
 .block-content-order-new {
    margin-right: 25px;
}
.sub-title-page {
    font-weight: bold;
    text-transform: uppercase;
}
.content-order-new {
    float: left;
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.box-border-shadow {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
}
.content-new-exchange {
    float: left;
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background: #fff;
}

.header-top{
	display: inline-block;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.header-top img{
	float: left;
	position:absolute;
	top:0px;
	left:110px;
}
.header-top .exchange{
	line-height: 60px;
	position:absolute;
	top:0px;
	left:220px;
	font-size: 12px;
	color: #032d3e;
}
.page-sidebar{
	border-bottom: 1px solid #ccc;
}
.page-sidebar ul{
	width:900px;
	list-style-type: none;
	margin: 0px auto;
	height: 40px;
}
.page-sidebar ul li{
	display: inline;
	margin-right:35px;
}
.page-sidebar ul li.active a{
	color: #d71f26;
}
.page-sidebar ul li a{
	line-height: 35px;
	color: #032d3e;
}
.page-sidebar ul li a:hover{
	color: #d71f26;
}
.block-avatar {
    float: left;
    text-align: center;
    font-size: 13px;
}
.padding-left-0 {
    padding-left: 0;
}
#nav-menu-left {
    width: 190px;
    margin-top: 30px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.text-left {
    text-align: left;
}
.nav li {
    position: relative;
    display: block;
}
#nav-tree-menu .cus-pointer {
    cursor: pointer;
}
.nav label {
    color: #0b6198;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
#nav-menu-left  li.active  label  i {
    color: #0b6198 !important;
}
.nav label i {
    padding-right: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
}
.nav label .icon-chevron-right {
    float: right;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
}
#nav-menu-left .nav-item-tree li a {
    border-left: 3px solid #ccc;
    border-bottom: none;
    border-top: none;
    border-right: none;
}
.tree  li  a {
    color: #032d3e;
    font-size: 13px;
    margin-left: 4px;
    padding-left: 15px;
}
.nav li  a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
#nav-menu-left .nav-item-tree li a span.text-gray {
    color: #777;
    font-size: 11px;
}
a {
	text-decoration: none;
    background-color: transparent;
}
.menu-left-bar
{
	
	
}
#nav-menu-left .nav-item-tree {
    margin-left: -4px;
}
#nav-menu-left li.active  label  span {
    color: #0b6198 !important;
}

.nav label .icon-chevron-right {
    float: right;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
}
.box-order-list {
    margin-bottom: 40px;
    float: left;
    color: #032d3e;
}
#page-order-list .box-order-list {
    border: 1px solid #ccc;
    
}
.orders-list {
    float: left;
    width: 100%;

}
.box-order-list {
    margin-bottom: 40px;
    float: left;
    color: #032d3e;
	
}
.has-icon input {
    background: url("../images/icon-datepicker.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: none !important;
}
.datepicker {
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1) !important;
	 
}
.datepicker{
      direction: ltr;
}
.bg-white {
    background: white;
}


.chosen-time .form-control {
    font-size: 11px !important;
}
#_name_status_order {
    margin-top: 35px;
}
.orders-list h2 {
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    color: #032d3e;
    font-weight: normal;
}
form {
    display: block;
    margin-top: 0em;
}
.form-control {
    font-size: 13px !important;
}
ss
select {
    border: 1px solid #ccc;
    border-radius: 0;
    color: #032d3e;
    width: 100% !important;
    padding: 8px;
    background: #fff;
}

.bootstrap-select {
    width: 100% !important;
    background: transparent !important;
}
.btn-default {
    background-color: #fff;
    color: #032d3e;
    border: 1px solid #ccc;
}
.btn {
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: 0 !important;
}
.bootstrap-select  .dropdown-menu {
    margin-top: -1px !important;
}
.dropdown-menu {
    font-size: 13px !important;
}
.dropdown-menu {
    font-size: 13px !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    margin: 10px 0 0;
    border: 1px solid #d8dee4;
    border-radius: 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}
.table td, .table  tbody  tr  td, .table  tbody  tr  th, .table  tfoot  tr  td, .table  tfoot  tr  th, .table  thead tr  td, .table  thead  tr  th {
    padding: 15px !important;
}
.table-orders-list th {
    background: #12afcb;
    border-right: 1px solid #fff;
    color: white;
}
table {
    border-color: grey;
}
.chosen-time .bootstrap-select  button {
    font-size: 11px !important;
}
.bootstrap-select  button {
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
}
.chosen-time {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.chosen-time .bootstrap-select  button {
    font-size: 11px !important;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}
.page-body {
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.page-background {
    background: #F9F9F9;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.chosen-time .btn-export-excel {
    font-size: 11px !important;
}
.btn-group.open .btn-info.dropdown-toggle, .btn-info:active, .btn-info:focus, .btn-info:hover, .btn.btn-info.active {
    background-color: #08A7C3;
    border: 1px solid ;
}
header .header-top .navbar-right {
    display: inline-block;
    float: right;
}
.navbar-nav.navbar-right {
    margin-right: 0;
}
header .header-top .navbar-right .notifications {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 30px;
}
header .header-top .navbar-right .notifications  a {
    height: 59px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    padding-right: 20px;
}
header .header-top .navbar-right .notifications  a  i {
    font-size: 20px;
    color: #032d3e;
}
.header-top i.fa-inbox {
    margin: 0;
    padding: 0;
}
.header-top .total-no {
    display: inline-block;
    background: #d71f26;
    padding: 3px 4px;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 10px;
    margin-left: 7px;
}
.wrap-panel-notify {
    position: absolute;
    top: -18px;
    right: 7px;
}
.panel-notify {
    display: inline-block;
    position: relative;
    width: 800px;
    top: 14px;
}
.panel-notify .notify-wrapper {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 99999;
    display: inline-block;
    width: 426px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #bababa;
    float: left;
}
@media not all and (max-width: 480px)
.panel-notify .notify-wrapper {
    overflow: hidden;
    height: 560px;
    box-shadow: 0px 2px 8px 2px #bababa;
}
header .header-top .navbar-right .menu {
    display: inline-block;
    float: left;
    line-height: 58px;
}
.menu, .menu ul {
    background: #fff;
}
header .header-top .navbar-right .account-balance {
    color: #032d3e;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 60px;
    margin-right: 10px;
}
header .header-top {
    display: inline-block;
    width: 100%;
    float: left;
    height: 60px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
header .header-top .navbar-right .account-balance span {
    color: #0072bc;
}
.money-text {
    font-family: Roboto !important;
}
header .header-top .navbar-right .menu  a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: 59px;
}
header .header-top .navbar-right .menu img.avatar {
    float: right;

    padding: 0;
}
header .header-top .navbar-right .avatar {
    display: inline-block;

}
.avatar {
    position: relative;
}
.box_shadow_ap, header .header-top .navbar-right .menu  ul.menu-right-ap, header .page-sidebar .menu  li.droplink:hover ul.sub-menu, .process-order, .block-content-order, .popup-service-wrap .popup-service, .tbl-list-details .list-cart-ap:hover .box-like-ap ul, #page-order-list .box-order-list, .list-request-ap .table-list-order table, .arrow_box, .arrow_top, .tab-contact-ap {

    box-shadow: 0px 1px 1px 0px #cccccc;
}
header .header-top .navbar-right .menu  ul.menu-right-ap {
    margin-top: 1px;
    padding: 5px 25px 5px 25px;
    border: 0;
}
header .dropdown-list {
    z-index: 999999999999999999999999999999999 !important;
}
.menu ul {
    background: #f7f7f7;
}
.dropdown-menu {
    font-size: 13px !important;
}
.dropdown-menu {
    position: absolute;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    margin: 10px 0 0;
    border-radius: 0;
}
.header-mobile-view i.fa-inbox {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
}
.header-mobile-view .total-no {
    display: inline-block;
    background: #d71f26;
    padding: 3px 4px;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 10px;
    margin-left: 7px;
}
.header-mobile-view .total-no .arrow-left-no {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #d71f26;
    position: absolute;
    top: 27%;
    left: -4px;
}
header .mnu-mobile {
    background: #d71f27 none repeat scroll 0 0;
    height: 60px;
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
}
.title-ap {
    margin-top: 37px !important;
}
h2 {
    font-size: 24px;
    color: #032d3e;
    font-weight: normal;
}
h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
.form-search-ap {
    box-shadow: 0px 2px 2px 1px rgba(221, 221, 221, 0.75);
    padding-top: 15px;
    background: #fff;
}
form {
    display: block;
    margin-top: 0em;
}

input, textarea, keygen, select, button {
    text-rendering: auto;

    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.chosen-picker {
    font-size: 12px !important;
}
.chosen-picker .bootstrap-select > button {
    font-size: 12px !important;
}
.chosen-picker .form-control {
    font-size: 12px !important;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 34px;
    height: 34px;
    text-align: center;
    pointer-events: none;
}
.form-search-ap .lbl-ap {
    padding-top: 9px;
}
.table-score-charge {
    border: 1px solid #d71f26;
    margin-top: 40px;
    color: #748893;
    background: white;
    border-collapse: inherit;
}
.table-score-charge tr th {
    background: #d71f26;
    color: #f6f2dd;
    font-weight: bold;
    border: 0px !important;
}
.headerTable {
    height: 40px;
}
h5 {
    font-size: 13px;
    color: #032d3e;
    font-weight: bold;
}

.history-scores {
    padding-bottom: 40px;
}
.title-ap {
    margin-top: 37px !important;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.history-scores .block-search {
    margin-top: 20px;
    box-shadow: 0px 1px 1px #ccc;
    padding: 20px 0px;
    height: auto;
    float: left;
    width: 100%;
    background: white;
}
.block-search {
    margin-top: 20px;
    box-shadow: 0px 1px 1px #ccc;
    padding: 20px 0px;
    height: auto;
    width: 100%;
    background: white;
}
.block-table-score {
    float: left;
    width: 100%;
}
div.mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background: #333;
    height: 100vh;
    display: none;
}
div.mobile .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: #000;
    line-height: 70px;
    width: 40px;
    text-align: center;
}
div.mobile .header {
    background: #dd514a none repeat scroll 0 0;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0 18px;
    width: 100%;
}
div.mobile .header > span.info-name {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
div.mobile .header > a.btn-avatar > img {
    border: 2px solid #fff;
    margin-right: 20px;
}
.avatar {
    padding: 0;
    margin: -19px 0 -15px;
    position: relative;
    display: inline-block;
}
div.mobile .header > a.btn-sign-out {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 30px;
}
.slimScrollDiv {
    float: left;
}
div.mobile .mnu {
    background: #333333 none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
}
div.mobile .mnu > ul {
    display: inline-block;
    list-style: outside none none;
    margin: 1px 0 0 0;
    padding: 0;
    width: 100%;
}
div.mobile .mnu > ul > li {
    border-bottom: 1px solid #444444;
    display: inline-block;
    width: 100%;
}
div.mobile .mnu > ul > li > a:hover {
    text-decoration: none;
}
div.mobile .mnu > ul > li > a {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    padding: 13px 14px;
    width: 100%;
}
div.mobile .mnu > ul > li > a > i.icon {
    font-size: 13px;
    padding-right: 10px;
    display: inline-block;
}
div.mobile .mnu > ul > li > a > span {
    display: inline-block;
}
div.mobile .mnu > ul > li > a > i.fa-angle-right, div.mobile .mnu > ul > li > a i.fa-angle-down {
    font-size: 13px;
    display: inline-block;
    float: right;
    padding-top: 2px;
}
div.mobile .mnu > ul > li > ul {
    background: #444444 none repeat scroll 0 0;
    border-top: 1px solid #333;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
}
div.mobile .mnu > ul > li > ul > li {
    display: inline-block;
    width: 100%;
}
div.mobile .mnu > ul > li > ul > li > a {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 12px 35px;
    width: 100%;
}
div.mobile .mnu > ul > li > ul > li > a > i.fa-circle-o {
    float: left;
    font-size: 8px;
    padding-right: 10px;
    padding-top: 6px;
    display: inline-block;
}
@media only screen and (min-width: 240px) and (max-width:480px) {
    .header-top
    {
        display: none;
    }
    
}




