.body {
  background: #e9e9e9;
  color: #19a6df;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}




/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px 0 10px 0;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}

.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #19a6df;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn{
  width: 100%;
}
.btn-Register{
	margin:auto;
	width:200px;
	height:50px;
	font-size:20px;
}

.main {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 100px;
}



















