#btn btn-primary dropdown-toggle {
    position: absolute;
}

@media only screen and (max-width: 767px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 320px) {
    font-size: 3em;
}

.navbar-1 {
    background: #18A6DF;
    border: none;
    border-radius: 0px;
    padding: 20px 0px;
    /*border-bottom: 1px solid #F5F0F0;*/
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

    header .header-content .header-content-inner h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    header .header-content .header-content-inner hr {
        margin: 30px auto;
    }

    header .header-content .header-content-inner p {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255,255,255,.7);
    }

.nav-tabs > li {
    position: relative;
}

#search_item:focus {
    outline: none;
    border-color: #53CACE;
}

#search_item {
    display: block;
    margin: 0 auto;
    border: 0;
    /*border-bottom: 1px solid rgba(0,0,0,.2);*/
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(0,0,0,1);
    /*background: rgba(255,255,255,.3);*/
}


.img-page {
    margin: 0 auto;
}

.nav-tabs > li > a {
    display: inline-block;
}

.nav-tabs > li > span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 8px;
    color: red;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}

#toolbox {
    position: absolute;
    right: 10px;
    bottom: 62%;
    margin-left: -550px;
    z-index: 1;
}

#toolbox1 {
    position: absolute;
    right: 45px;
    bottom: 62%;
    margin-left: -550px;
    z-index: 1;
}

#toolbox ul li {
    width: 34px;
    height: 34px;
    margin-top: 10px;
}

#toolbox1 ul li {
    width: 34px;
    height: 34px;
    margin-top: 10px;
}

#toolbox ul li p {
    position: relative;
    display: block;
    background: #39C;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 0 #f5f5f5;
    width: 100%;
    height: 100%;
    text-align: center;
}

.borderap {
    border-radius: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

#fixrelative {
    position: relative;
    background-image: url(../images/hompage_sta_bg.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: auto;
}


.intro-text {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    color: #FFF;
}

.orderap a:hover {
    border-color: #fff;
}

.staff img {
    width: 50px;
    height: 40px;
}

.active a {
    color: #fff;
    text-decoration: none;
}

.footer {
    background-color: #18A6DF;
    height: auto;
    padding: 30px 0px;
    color: #fff;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

.abc {
    top: 250px;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
}

.btn-primary1 {
    color: #fff;
    background-color:#04d1e3;
    border-color: #18A6DF;
}

    .btn-primary1:hover {
        color: #fff;
       background-color:#18A6DF;
    border-color: #18A6DF;
    }

.btn-red {
    color: #fff;
    background-color: #E53B26;
    border-color: #fff;
}

    .btn-red:hover {
        color: #fff;
        background-color: #18A6DF;
        border-color: #fff;
    }


.slogan {
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}

#navap {
    margin-bottom: 0px;
}

#text {
    /*font-weight: bold;*/
    font-size: 12px;
    text-transform: uppercase;
}

    /*#text li:hover {
        border-bottom: 2px solid #fb7600;
    }*/

.introduceap {
    background: #18A6DF;
    padding: 20px 0px;
}

    .introduceap p {
        color: #fff;
    }

.img-ap {
    width: 200px;
    height: 50px;
}

.nguohangap {
    padding: 20px;
}

.padap {
    padding-top: 20px;
    font-size: 20px;
}

#home {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 21px;
    float: right;
}

#text > li > a {
    color: #fff;
}

.activelg {
    border: 2px solid #FF9500;
}

.btn-seconday {
    color: #00aef0;
    background-color: #fff;
    border-color: #fff;
}

#advertis {
    margin-top: 190px;
}

.footer-bottom {
    font-size: 14px;
    padding: 20px 0;
    background-color: #111315;
    color: #7e7e7e;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

.logoimg a img {
    width: 120px;
    height: 80px;
}

.t-active a {
    color: hsl(169, 57%, 36%) !important;
    font-weight: bolder !important;
}
@media only screen and (max-width: 320px) {
    
}
