﻿@{
    ViewBag.Title = "Tin tức";
}
@using OrderChina.Models;
@model PagedList.IPagedList<OrderChina.Models.News>
@*@model IEnumerable<OrderChina.Models.News>*@
@using PagedList;
@using PagedList.Mvc;
<div style="font-family: Arial, sans-serif ; padding: 50px 10px 100px 20px; background-color:white "class="col-xs-12">
    <div style="background-color: #f5f5f5;height:40px"><p style="padding:8px 10px 10px 12px;font-size:13pt"><a href="#" style="color:#03aaff">Tin tức</a> / Tin tức về công ty</p> </div>
    <div style="padding:15px 0px 15px 20px"><h2 style="font-size:28px">Tin tức</h2></div>
    <div>

        @foreach (var sp in Model)
        {
            <div style="min-width: 90%; max-height: 100%; margin-left: 2%; background-color: #f5f5f5;border-radius: 10px">
                <table>
                    <tr>
                        <td rowspan="2" style="width:40%; height:200px">
                            <a href="@Url.Action("DetailNews", "News", new {id=@sp.IDNews })" style="background-color: #f5f5f5"><img src="@sp.Img" style="width:95%; height: 95%;margin-left:2%" /></a>
                        </td>
                        <td style="min-width:100%;max-height:40px"><a href="@Url.Action("DetailNews", "News", new {id=@sp.IDNews })" style="color: blue; background-color:#f5f5f5"> <p style="font-size:1em">@sp.Title</p> </a></td>
                    </tr>
                    <tr>
                        <td><p style="font-size: 1em">@sp.Titlebig</p></td>
                    </tr>

                </table>
            </div>
        }
        
    </div>
    
    <div style="float: right; padding-right: 1%">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div> 
</div>

